html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #333333;
  font-family: "Noto Sans Korean", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  min-width: 320px;
  margin: 0;
  background-color: #ffffff; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Sans Korean", sans-serif;
  color: #333333; }

h1 {
  font-size: 32px;
  line-height: 1.125;
  margin: 0 0 32px; }

h2 {
  font-size: 28px;
  line-height: 1.125;
  margin: 0 0 30px; }

h3 {
  font-size: 24px;
  line-height: 1.125;
  margin: 0 0 24px; }

h4 {
  font-size: 18px;
  line-height: 1.25;
  margin: 0 0 18px; }

h5 {
  font-size: 14px;
  line-height: 1.25;
  margin: 0 0 14px; }

h6 {
  font-size: 12px;
  line-height: 1.4;
  margin: 0 0 12px; }

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px; }

ul, ol {
  margin-bottom: 20px; }
  ul li, ol li {
    margin-bottom: 10px; }

ul li {
  list-style: disc inside; }

ol li {
  list-style: ideograph-numeric inside; }

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: lighter;
  src: url("../fonts/NotoSans-Light.eot");
  src: local("Noto Sans CJK KR"), url("../fonts/NotoSans-Light.otf") format("opentype"), url("../fonts/NotoSans-Light.woff") format("woff"); }

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/NotoSans-Regular.eot");
  src: local("Noto Sans CJK KR"), url("../fonts/NotoSans-Regular.otf") format("opentype"), url("../fonts/NotoSans-Regular.woff") format("woff"); }

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/NotoSans-Bold.eot");
  src: local("Noto Sans CJK KR"), url("../fonts/NotoSans-Bold.otf") format("opentype"), url("../fonts/NotoSans-Bold.woff") format("woff"); }

label {
  font-size: 14px;
  display: block;
  float: left;
  width: 160px;
  border: none;
  line-height: 28px; }

div.form-element {
  border: none;
  margin-bottom: 10px; }

/* Button Mixins */
/* Input Mixins */
/* Form Elements Application */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  font-family: sans-serif;
  display: inline-block;
  height: auto;
  width: auto;
  padding: 3px 20px;
  background-color: #bcbdb6;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  margin: 0;
  margin-right: 6px;
  outline: none;
  background-image: none;
  color: #ffffff;
  background-color: #987c4d;
  border: 2px solid #987c4d;
  line-height: 28px; }
  .button::-moz-focus-inner,
  button::-moz-focus-inner,
  input[type="submit"]::-moz-focus-inner,
  input[type="reset"]::-moz-focus-inner,
  input[type="button"]::-moz-focus-inner {
    border: 0;
    padding: 0; }
  .button:hover,
  .button:active,
  button:hover,
  button:active,
  input[type="submit"]:hover,
  input[type="submit"]:active,
  input[type="reset"]:hover,
  input[type="reset"]:active,
  input[type="button"]:hover,
  input[type="button"]:active {
    color: #ffffff;
    background-color: #876e44;
    border-color: #7d663f; }
  .button:active,
  button:active,
  input[type="submit"]:active,
  input[type="reset"]:active,
  input[type="button"]:active {
    color: #ffffff;
    background-color: #7d663f;
    border-color: #6f5b38;
    box-shadow: inset 2px 2px 2px 1px rgba(111, 91, 56, 0.5); }
  .button.outline,
  button.outline,
  input[type="submit"].outline,
  input[type="reset"].outline,
  input[type="button"].outline {
    color: #987c4d;
    background-color: transparent;
    border: 2px solid transparent;
    border: 2px solid #a98a56; }
    .button.outline:hover,
    .button.outline:active,
    button.outline:hover,
    button.outline:active,
    input[type="submit"].outline:hover,
    input[type="submit"].outline:active,
    input[type="reset"].outline:hover,
    input[type="reset"].outline:active,
    input[type="button"].outline:hover,
    input[type="button"].outline:active {
      color: #ffffff;
      background-color: #987c4d;
      border: 2px solid #987c4d; }
    .button.outline:active,
    button.outline:active,
    input[type="submit"].outline:active,
    input[type="reset"].outline:active,
    input[type="button"].outline:active {
      color: #ffffff;
      background-color: #987c4d;
      border-color: #7d663f;
      box-shadow: inset 2px 2px 2px 1px rgba(125, 102, 63, 0.5); }
  .button.action,
  button.action,
  input[type="submit"].action,
  input[type="reset"].action,
  input[type="button"].action {
    color: #ffffff;
    background-color: #fd8000;
    border: 2px solid #fd8000; }
    .button.action:hover,
    .button.action:active,
    button.action:hover,
    button.action:active,
    input[type="submit"].action:hover,
    input[type="submit"].action:active,
    input[type="reset"].action:hover,
    input[type="reset"].action:active,
    input[type="button"].action:hover,
    input[type="button"].action:active {
      color: #ffffff;
      background-color: #e47300;
      border-color: #d46b00; }
    .button.action:active,
    button.action:active,
    input[type="submit"].action:active,
    input[type="reset"].action:active,
    input[type="button"].action:active {
      color: #ffffff;
      background-color: #d46b00;
      border-color: #c06100;
      box-shadow: inset 2px 2px 2px 1px rgba(192, 97, 0, 0.5); }
    .button.action.outline,
    button.action.outline,
    input[type="submit"].action.outline,
    input[type="reset"].action.outline,
    input[type="button"].action.outline {
      color: #fd8000;
      background-color: transparent;
      border: 2px solid transparent;
      border: 2px solid #ff8d18; }
      .button.action.outline:hover,
      .button.action.outline:active,
      button.action.outline:hover,
      button.action.outline:active,
      input[type="submit"].action.outline:hover,
      input[type="submit"].action.outline:active,
      input[type="reset"].action.outline:hover,
      input[type="reset"].action.outline:active,
      input[type="button"].action.outline:hover,
      input[type="button"].action.outline:active {
        color: #ffffff;
        background-color: #fd8000;
        border: 2px solid #fd8000; }
      .button.action.outline:active,
      button.action.outline:active,
      input[type="submit"].action.outline:active,
      input[type="reset"].action.outline:active,
      input[type="button"].action.outline:active {
        color: #ffffff;
        background-color: #fd8000;
        border-color: #d46b00;
        box-shadow: inset 2px 2px 2px 1px rgba(212, 107, 0, 0.5); }
  .button.secondary,
  button.secondary,
  input[type="submit"].secondary,
  input[type="reset"].secondary,
  input[type="button"].secondary {
    color: #ffffff;
    background-color: #b6a082;
    border: 2px solid #b6a082; }
    .button.secondary:hover,
    .button.secondary:active,
    button.secondary:hover,
    button.secondary:active,
    input[type="submit"].secondary:hover,
    input[type="submit"].secondary:active,
    input[type="reset"].secondary:hover,
    input[type="reset"].secondary:active,
    input[type="button"].secondary:hover,
    input[type="button"].secondary:active {
      color: #ffffff;
      background-color: #ad9472;
      border-color: #a78c68; }
    .button.secondary:active,
    button.secondary:active,
    input[type="submit"].secondary:active,
    input[type="reset"].secondary:active,
    input[type="button"].secondary:active {
      color: #ffffff;
      background-color: #a78c68;
      border-color: #9e825c;
      box-shadow: inset 2px 2px 2px 1px rgba(158, 130, 92, 0.5); }
    .button.secondary.outline,
    button.secondary.outline,
    input[type="submit"].secondary.outline,
    input[type="reset"].secondary.outline,
    input[type="button"].secondary.outline {
      color: #b6a082;
      background-color: transparent;
      border: 2px solid transparent;
      border: 2px solid #bfac92; }
      .button.secondary.outline:hover,
      .button.secondary.outline:active,
      button.secondary.outline:hover,
      button.secondary.outline:active,
      input[type="submit"].secondary.outline:hover,
      input[type="submit"].secondary.outline:active,
      input[type="reset"].secondary.outline:hover,
      input[type="reset"].secondary.outline:active,
      input[type="button"].secondary.outline:hover,
      input[type="button"].secondary.outline:active {
        color: #ffffff;
        background-color: #b6a082;
        border: 2px solid #b6a082; }
      .button.secondary.outline:active,
      button.secondary.outline:active,
      input[type="submit"].secondary.outline:active,
      input[type="reset"].secondary.outline:active,
      input[type="button"].secondary.outline:active {
        color: #ffffff;
        background-color: #b6a082;
        border-color: #a78c68;
        box-shadow: inset 2px 2px 2px 1px rgba(167, 140, 104, 0.5); }
  .button.small,
  button.small,
  input[type="submit"].small,
  input[type="reset"].small,
  input[type="button"].small {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 1.5px 10px; }

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  font-size: 14px;
  height: auto;
  width: auto;
  border: none;
  display: inline-block;
  line-height: 28px;
  background-color: #ffffff;
  border: 1px solid #f2f2f0;
  box-sizing: border-box;
  padding: 3px 10px;
  margin-right: 14px;
  box-shadow: 0px 1px 2px 0px rgba(51, 51, 51, 0.5);
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 3px 10px;
  box-shadow: inset 0px 2px 4px 0px rgba(168, 170, 161, 0.25);
  border-color: #dfdfdc;
  width: 160px; }
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  textarea:focus,
  select:focus {
    border-color: #34aacc;
    border-left-width: 5px;
    padding-left: 6px;
    outline: 0;
    box-shadow: 0px 1px 1px rgba(51, 51, 51, 0.3), 0px 0px 20px 0 rgba(52, 170, 204, 0.75);
    -moz-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: box-shadow 0.2s ease-in-out; }
  input[type="email"].small,
  input[type="number"].small,
  input[type="search"].small,
  input[type="text"].small,
  input[type="tel"].small,
  input[type="url"].small,
  input[type="password"].small,
  textarea.small,
  select.small {
    font-size: 13px;
    line-height: 20px;
    padding: 1.5px 10px; }
  input[type="email"].narrow,
  input[type="number"].narrow,
  input[type="search"].narrow,
  input[type="text"].narrow,
  input[type="tel"].narrow,
  input[type="url"].narrow,
  input[type="password"].narrow,
  textarea.narrow,
  select.narrow {
    width: 80px; }
  input[type="email"].medium,
  input[type="number"].medium,
  input[type="search"].medium,
  input[type="text"].medium,
  input[type="tel"].medium,
  input[type="url"].medium,
  input[type="password"].medium,
  textarea.medium,
  select.medium {
    width: 160px; }
  input[type="email"].wide,
  input[type="number"].wide,
  input[type="search"].wide,
  input[type="text"].wide,
  input[type="tel"].wide,
  input[type="url"].wide,
  input[type="password"].wide,
  textarea.wide,
  select.wide {
    width: 300px; }
  input[type="email"].full-width,
  input[type="number"].full-width,
  input[type="search"].full-width,
  input[type="text"].full-width,
  input[type="tel"].full-width,
  input[type="url"].full-width,
  input[type="password"].full-width,
  textarea.full-width,
  select.full-width {
    clear: right;
    width: 100%; }

select {
  padding-right: 20px;
  background-image: url("../images/form_select_arrow_down.png");
  background-repeat: no-repeat;
  background-position: right center; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    select {
      background-image: url("../images/form_select_arrow_down_2x.png");
      background-size: 40px 40px; } }
  select:hover,
  select:active,
  select:focus {
    background-image: url("../images/form_select_arrow_down_hover.png"); }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      select:hover,
      select:active,
      select:focus {
        background-image: url("../images/form_select_arrow_down_hover_2x.png");
        background-size: 40px 40px; } }

/* Everything seems to be in the main file */
/*Calendar*/
div.dp-calendar {
  text-align: center; }

table.jCalendar {
  border: none;
  margin-top: 2em;
  background: transparent;
  border-collapse: separate;
  border-spacing: 2px;
  width: 10em;
  border-spacing: 2px;
  width: 10em;
  font-size: 110%; }

table.jCalendar th {
  background: transparent;
  color: #000;
  font-weight: bold;
  padding: 1px 4px; }

table.jCalendar td {
  background: #F5E1B8;
  color: #000;
  padding: 1px 4px;
  text-align: center; }

table.jCalendar td.other-month {
  background: #F5E1B8;
  color: #000; }

table.jCalendar td.today {
  background: #F57831;
  color: #000; }

table.jCalendar td.selected {
  background: #F57831;
  color: #000; }

table.jCalendar td.selected.dp-hover {
  background: #F57831;
  color: #000; }

table.jCalendar td.dp-hover,
table.jCalendar tr.activeWeekHover td {
  background: #F57831;
  color: #000; }

table.jCalendar tr.selectedWeek td {
  background: #f66;
  color: #fff; }

table.jCalendar td.disabled, table.jCalendar td.disabled.dp-hover {
  background: #F3F3F3;
  color: #bbb;
  text-decoration: line-through; }

table.jCalendar td.unselectable,
table.jCalendar td.unselectable:hover,
table.jCalendar td.unselectable.dp-hover {
  background: #F3F3F3;
  color: #bbb;
  text-decoration: line-through; }

/* NOTE - you will probably want to style a.dp-choose-date - see how I did it in demo.css */
div.dp-popup {
  position: relative;
  background: transparent;
  font-size: 11px;
  font-family: arial, sans-serif;
  padding: 2px;
  width: 171px;
  line-height: 1.2em; }

div#dp-popup {
  position: absolute;
  z-index: 199;
  background-image: url(/view/branding_skin/icons/bg_strip_calendar_caption.png?version=1.0);
  background-repeat: repeat-x;
  background-color: #FFFFFF;
  border: 1px solid #E87107;
  padding-left: 0.3em;
  padding-right: 0.3em;
  text-align: center;
  width: 15.3em; }

div.dp-popup h2 {
  font-size: 12px;
  text-align: center;
  margin: 2px 0 0.5em;
  padding: 0;
  color: #fff; }

a#dp-close {
  font-size: 11px;
  padding: 4px 0;
  text-align: center;
  display: block;
  color: #0075B0; }

a#dp-close:hover {
  text-decoration: underline; }

div.dp-popup a {
  color: #000;
  text-decoration: none;
  padding: 3px 2px 0; }

div.dp-popup div.dp-nav-prev {
  position: absolute;
  left: 4px;
  width: 100px; }

div.dp-popup div.dp-nav-prev a {
  float: left;
  color: #0075B0; }

/* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */
a.dp-nav-next-month {
  background: transparent url(/view/branding_skin/icons/calendar-next.png?version=1.0) no-repeat scroll 30px 6px;
  width: 35px;
  text-align: left; }

a.dp-nav-prev-month {
  background: transparent url(/view/branding_skin/icons/calendar-prev.png?version=1.0) no-repeat scroll 0 6px;
  width: 35px;
  text-align: right; }

a.dp-nav-next-year {
  display: none; }

a.dp-nav-prev-year {
  display: none; }

div.dp-popup div.dp-nav-prev a, div.dp-popup div.dp-nav-next a {
  cursor: pointer;
  color: #0075B0; }

div.dp-popup div.dp-nav-prev a.disabled, div.dp-popup div.dp-nav-next a.disabled {
  cursor: default; }

div.dp-popup div.dp-nav-next {
  position: absolute;
  right: 4px;
  width: 100px; }

div.dp-popup div.dp-nav-next a {
  float: right; }

div.dp-popup a.disabled {
  cursor: default;
  color: #aaa; }

div.dp-popup td {
  cursor: pointer; }

div.dp-popup td.disabled {
  cursor: default; }

#chooseDateForm li {
  list-style: none;
  padding: 5px;
  clear: both; }

input.dp-applied {
  width: 140px;
  float: left;
  margin: 5px 0; }

a.dp-choose-date {
  float: left;
  width: 34px;
  height: 20px;
  padding: 0;
  margin: 5px 3px 0;
  display: block;
  text-indent: -2000px;
  overflow: hidden;
  background: url(/view/branding_skin/icons/calendar-icon.png?version=1.0) no-repeat; }

a.dp-choose-date.dp-disabled {
  background-position: 0 -20px;
  cursor: default; }

#calendar-me {
  margin: 20px; }

pre.sourcecode {
  border: 2px dashed #ccc;
  padding: 10px;
  width: 734px;
  overflow: auto;
  margin: 0 0 20px; }

@media screen and (max-width: 480px) {
  * {
    display: none; } }

@media screen and (max-width: 480px) {
  .folders_new,
  .draggable,
  .EXLMyAccountTabsRibbon div li.EXLMyAccountTab,
  .EXLMyAccountTableAuthor,
  .EXLMyAccountTableDueHour,
  .EXLMyAccountTableFine,
  .Location,
  .EXLMyAccountMainHeaderTitle div.EXLMyAccountMainHeaderContent span,
  .EXLMyAccountTableCounter,
  .EXLMyAccountMainContainer table tr td:first-child,
  .EXLMyAccountMainContainer div.EXLMyAccountTips,
  .folder_details .newManage_buts,
  a.eShelf_print,
  .author,
  .added,
  .note,
  .MyAccount_Loans_2,
  .MyAccount_Loans_4,
  .MyAccount_Loans_5,
  .MyAccount_Loans_6,
  .MyAccount_Loans_0,
  .MyAccount_Requests_0,
  .MyAccount_Requests_3,
  .MyAccount_Requests_4,
  .MyAccount_Requests_5,
  .MyAccount_Requests_6,
  .MyAccount_FineAndFees_0,
  .MyAccount_FineAndFees_2,
  .MyAccount_FineAndFees_4,
  .MyAccount_FineAndFees_5,
  .MyAccount_FineAndFees_6,
  #exlidUserAreaRibbon li.EXLMyShelf {
    display: none; } }
