html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

#contentEXL,
.EXLCustomLayoutContainer {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto; }
  #contentEXL::after,
  .EXLCustomLayoutContainer::after {
    clear: both;
    content: "";
    display: table; }

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: lighter;
  src: url("../fonts/NotoSans-Light.eot");
  src: local("Noto Sans CJK KR"), url("../fonts/NotoSans-Light.otf") format("opentype"), url("../fonts/NotoSans-Light.woff") format("woff"); }

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/NotoSans-Regular.eot");
  src: local("Noto Sans CJK KR"), url("../fonts/NotoSans-Regular.otf") format("opentype"), url("../fonts/NotoSans-Regular.woff") format("woff"); }

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/NotoSans-Bold.eot");
  src: local("Noto Sans CJK KR"), url("../fonts/NotoSans-Bold.otf") format("opentype"), url("../fonts/NotoSans-Bold.woff") format("woff"); }

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #333333;
  font-family: "Noto Sans Korean", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Sans Korean", sans-serif;
  color: #987c4d; }

h1 {
  font-size: 32px;
  line-height: 1.125;
  margin: 0 0 32px; }

h2 {
  font-size: 32px;
  line-height: 1.125;
  margin: 0 0 30px; }

h3 {
  font-size: 24px;
  line-height: 1.125;
  margin: 0 0 24px; }

h4 {
  font-size: 18px;
  line-height: 1.25;
  margin: 0 0 18px; }

h5 {
  font-size: 14px;
  line-height: 1.25;
  margin: 0 0 14px; }

h6 {
  font-size: 12px;
  line-height: 1.4;
  margin: 0 0 12px; }

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px; }

#exlidHeaderContainer {
  margin: 0;
  padding: 0;
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 100%;
  margin-bottom: 40px; }
  #exlidHeaderContainer:last-child {
    margin-right: 0; }

#exlidHeaderTile {
  width: 18%;
  float: left;
  padding-left: 0.8em;
  padding-top: 0.8em;
  padding-bottom: 0.3em; }

@media screen and (max-width: 480px) {
  #exlidHeaderContainer div.EXLSkipToContent {
    display: none; }
  #exlidHeaderContainer div.EXLSkipToSystemFeedback {
    display: none; } }

#exlidHomeContainer {
  margin: 0;
  padding: 0;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5;
  margin-top: auto;
  clear: auto;
  font-size: 16px;
  color: #333333; }
  #exlidHomeContainer::after {
    clear: both;
    content: "";
    display: table; }

#exlidHomeContainer h1 {
  font-size: 100%;
  color: #987c4d; }

#exlidHomeContainer h2 {
  font-size: 100%;
  color: #987c4d; }

#exlidHomeContainer h3 {
  font-size: 100%;
  color: #333333; }

#exlidHomeContainer h4 {
  font-size: 100%;
  color: #987c4d; }

@media screen and (max-width: 768px) {
  #exlidHomeContainer {
    width: auto;
    height: auto;
    margin: 0em;
    padding-top: 1.5em;
    clear: right;
    font-size: 80%;
    color: #777676; } }

#exlidUserAreaRibbon {
  padding: 0;
  margin: 0;
  list-style-type: none;
  float: left;
  color: #555555;
  height: 18px;
  clear: right; }

#exlidUserAreaRibbon li {
  font-size: 80%;
  float: left;
  padding-left: 0em;
  padding-right: 1.2em;
  height: 20px;
  background-image: url(../images/bg_strip_subNav.png);
  background-repeat: repeat-x; }

#exlidUserAreaRibbon li.EXLUserName {
  color: #000000;
  font-weight: bold; }

#exlidUserAreaRibbon li span {
  padding-left: 0.5em; }

#exlidUserAreaRibbon li span.EXLUserAreaStart {
  background-image: url(../images/bg_diagonal_subNav.png);
  height: 18px;
  width: 19px;
  background-color: #ffffff;
  float: left;
  padding-left: 0em; }

#exlidUserAreaRibbon li span.EXLUserAreaStartRtl {
  display: none; }

#exlidUserAreaRibbon li span.EXLMyShelfStarSelected {
  background-image: url(../images/icon_star_on.png);
  background-repeat: no-repeat;
  height: 11px;
  width: 11px;
  float: left;
  margin-left: 0.3em;
  margin-top: 0.2em; }

#exlidUserAreaRibbon li a {
  float: left;
  color: #4a4d51;
  text-decoration: none; }

#exlidUserAreaRibbon li a:hover {
  text-decoration: underline; }

#exlidUserAreaRibbon li.EXLLastItemLoading a {
  width: 100px;
  z-index: 1002;
  background-image: url(../images/icon_sso_loading.gif);
  background-position: 75% 0%;
  background-repeat: no-repeat;
  -moz-opacity: 0.6;
  opacity: 0.60;
  filter: alpha(opacity=60);
  float: right; }

#exlidSearchTile {
  margin: 0;
  padding: 0;
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 100%;
  border: 0;
  background-image: none;
  background-color: #666666;
  height: auto;
  font-size: 16px; }
  #exlidSearchTile:last-child {
    margin-right: 0; }
  #exlidSearchTile a {
    color: #ffffff; }

#exlidSearchTileWrapper,
.EXLSearchWrapper {
  margin: 0;
  padding: 0;
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 100%; }
  #exlidSearchTileWrapper:last-child,
  .EXLSearchWrapper:last-child {
    margin-right: 0; }

#searchForm,
.EXLSearchForm {
  margin: 0;
  padding: 0;
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 100%; }
  #searchForm:last-child,
  .EXLSearchForm:last-child {
    margin-right: 0; }

#exlidEmbeddedSearch {
  margin: 0.5em; }

#exlidEmbeddedSearch #exlidSearchTile {
  border: 1px solid #adb9c2; }

#exlidSearchBanner {
  margin: 0;
  padding: 0;
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 31.62393%;
  padding: 20px;
  text-align: right; }
  #exlidSearchBanner:last-child {
    margin-right: 0; }

#exlidHeaderSearchLimits {
  margin: 0;
  padding: 0;
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 100%;
  padding: 5px 20px;
  border-bottom: 1px solid #dfdfdc;
  background-color: #f2f2f0;
  color: #666666;
  height: auto;
  margin-bottom: 20px; }
  #exlidHeaderSearchLimits:last-child {
    margin-right: 0; }

#exlidHeaderSearchLimits fieldset {
  padding: 0;
  color: #666666;
  font-weight: bold;
  font-size: 14px;
  width: auto; }

#exlidHeaderSearchLimits fieldset legend {
  display: inline;
  width: auto;
  padding-top: 0.6em;
  color: #666666; }

#exlidHeaderSearchLimits span.EXLHeaderSearchLimitsFields {
  width: auto;
  position: static; }

#exlidHeaderSearchLimits select {
  border: 1px solid #7f9db9;
  height: 1.65em;
  color: #666666; }

#exlidHeaderSearchLimits label {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

#exlidHeaderSearchLimits input {
  color: #0075b0;
  background-color: #f3f3f3;
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

#exlidSearchRibbon {
  margin: 0;
  padding: 0;
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 65.81197%;
  padding: 20px; }
  #exlidSearchRibbon:last-child {
    margin-right: 0; }

#exlidSearchRibbon div.EXLSearchFieldRibbon {
  background-color: #FFFFFF;
  height: 26px;
  border: 1px solid #8fb9d0;
  width: 100%;
  padding: 0px;
  margin: 0px;
  float: left;
  display: block;
  background-color: #fff; }

#exlidSearchRibbon fieldset {
  float: left;
  width: 90%; }

#exlidSearchRibbon legend {
  display: none; }

#exlidSearchRibbon input {
  width: 96%;
  border: 1px solid #ffffff;
  height: 20px;
  padding-top: 0.2em;
  padding-left: 0.6em; }

#exlidSearchRibbon input:focus {
  outline: none; }

#exlidSearchRibbon input.EXLSearchFieldMaximized {
  width: 98%; }

#exlidSearchRibbon input.submit {
  background-color: #e87107;
  background-image: url(../images/bg_strip_btn_orange.png);
  background-repeat: repeat-x;
  margin: 0em;
  width: 100%;
  color: #FFFFFF;
  font-weight: normal;
  height: 26px;
  cursor: pointer;
  padding-bottom: 0.3em;
  padding-right: 0.6em;
  padding-left: 0.6em; }

.EXLSearchFieldRibbonFormSubmitSearch {
  float: left;
  width: 9%; }

#exlidSearchRibbon div.EXLSearchTabsContainer {
  display: block;
  height: auto; }

#exlidSearchTabs {
  margin: 0;
  padding: 0;
  height: auto;
  z-index: 100;
  position: relative; }

#exlidSearchTabs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: left;
  color: #ffffff;
  line-height: 18px;
  clear: right; }

#exlidSearchTabs li {
  float: left;
  padding: 0; }
  #exlidSearchTabs li a {
    display: block;
    float: left;
    text-align: center;
    color: #ffffff;
    padding: 11px 20px;
    padding-left: 0;
    cursor: pointer;
    -webkit-text-shadow: 0 2px 1px rgba(51, 51, 51, 0.5);
    -moz-text-shadow: 0 2px 1px rgba(51, 51, 51, 0.5);
    text-shadow: 0 2px 1px rgba(51, 51, 51, 0.5); }

#exlidSearchTabs li {
  border: none;
  height: auto; }

#exlidSearchTabs li.EXLSearchTabSelected {
  float: left;
  border: none;
  padding: 0;
  color: #ffcc00;
  background-color: transparent;
  height: auto;
  background-image: none;
  text-align: left;
  font-weight: bold; }
  #exlidSearchTabs li.EXLSearchTabSelected a {
    color: #ffcc00; }

#exlidHomeContainer div.EXLHomeBlockContainer1 {
  margin: 0;
  padding: 0;
  width: 100%;
  margin-bottom: 40px; }

#exlidHomeContainer div.EXLHomeBlockContainer2 {
  margin: 0;
  padding: 0;
  width: 100%;
  margin-bottom: 40px; }

#exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 {
  margin: 0;
  padding: 0;
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 48.71795%; }
  #exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1:last-child {
    margin-right: 0; }

#exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 p {
  width: 100%; }

#exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 p a {
  display: inline;
  line-height: 1.5;
  margin-left: 10px; }

#exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 div.EXLHomeListsContainer {
  margin: 0;
  padding: 0;
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 48.71795%;
  background-image: url("../images/home_main_visual_snu.jpg");
  background-position: 0% 0%;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 120px; }
  #exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 div.EXLHomeListsContainer:last-child {
    margin-right: 0; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    #exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 div.EXLHomeListsContainer {
      background-image: url("../images/home_main_visual_snu_2x.jpg");
      background-size: 480px 200px; } }

#exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 div.EXLHomeListsContainer ul {
  list-style: none; }

#exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 div.EXLHomeListsContainer li {
  line-height: 140%; }

#exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 div.EXLHomeTopicsContainer {
  margin: 0;
  padding: 0;
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 40.17094%;
  margin-bottom: 20px;
  padding-left: 20px; }
  #exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 div.EXLHomeTopicsContainer:last-child {
    margin-right: 0; }

#exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 div.EXLHomeQuickLinksContainer {
  margin: 0;
  padding: 0;
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 48.71795%;
  margin-bottom: 20px; }
  #exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 div.EXLHomeQuickLinksContainer:last-child {
    margin-right: 0; }

#exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock2 {
  margin: 0;
  padding: 0;
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 48.71795%; }
  #exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock2:last-child {
    margin-right: 0; }

#exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock2 div.EXLHomeNewsContainer ul {
  list-style: none; }

#exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock2 div.EXLHomeNewsContainer li {
  background-image: url(../images/bullet_arrow_orange.png);
  background-repeat: no-repeat;
  background-position: 0% 50%;
  text-indent: 1em;
  line-height: 150%; }

#exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock2 div.EXLHomeServicesContainer {
  margin-top: 1em; }

#exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock2 div.EXLHomeServicesContainer p a {
  display: inline;
  line-height: 1.5;
  margin-left: 10px; }

#exlidHomeContainer div.EXLHomeBlockContainer2 div.EXLContentBlock3 {
  margin: 0;
  padding: 0;
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 48.71795%; }
  #exlidHomeContainer div.EXLHomeBlockContainer2 div.EXLContentBlock3:last-child {
    margin-right: 0; }

#exlidHomeContainer div.EXLHomeBlockContainer2 div.EXLContentBlock4 {
  margin: 0;
  padding: 0;
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 48.71795%; }
  #exlidHomeContainer div.EXLHomeBlockContainer2 div.EXLContentBlock4:last-child {
    margin-right: 0; }

#exlidHomeContainer div.EXLContentBlock3 div.EXLHomeBannersContainer {
  color: #777676; }

#exlidHomeContainer div.EXLContentBlock3 div.EXLHomeBannerContainer1 {
  margin: 0;
  padding: 0;
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 48.71795%;
  margin-bottom: 40px;
  border: 1px solid #dfdfdc;
  background-repeat: no-repeat;
  background-position: center right;
  height: 110px;
  padding: 10px;
  background-color: #f2f2f0;
  background-image: url("../images/banner_snu_blog.png"); }
  #exlidHomeContainer div.EXLContentBlock3 div.EXLHomeBannerContainer1:last-child {
    margin-right: 0; }
  #exlidHomeContainer div.EXLContentBlock3 div.EXLHomeBannerContainer1 h3, #exlidHomeContainer div.EXLContentBlock3 div.EXLHomeBannerContainer1 h4, #exlidHomeContainer div.EXLContentBlock3 div.EXLHomeBannerContainer1 h5 {
    font-size: 14px;
    line-height: 1.25;
    margin-bottom: 10px; }
  #exlidHomeContainer div.EXLContentBlock3 div.EXLHomeBannerContainer1 p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    padding-right: 20px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    #exlidHomeContainer div.EXLContentBlock3 div.EXLHomeBannerContainer1 {
      background-image: url("../images/banner_snu_blog_2x.png");
      background-size: 220px 90px; } }

#exlidHomeContainer div.EXLContentBlock3 div.EXLHomeBannerContainer2 {
  margin: 0;
  padding: 0;
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 48.71795%;
  margin-bottom: 40px;
  border: 1px solid #dfdfdc;
  background-repeat: no-repeat;
  background-position: center right;
  height: 110px;
  padding: 10px;
  background-color: #f2f2f0;
  background-image: url("../images/banner_snu_website.png"); }
  #exlidHomeContainer div.EXLContentBlock3 div.EXLHomeBannerContainer2:last-child {
    margin-right: 0; }
  #exlidHomeContainer div.EXLContentBlock3 div.EXLHomeBannerContainer2 h3, #exlidHomeContainer div.EXLContentBlock3 div.EXLHomeBannerContainer2 h4, #exlidHomeContainer div.EXLContentBlock3 div.EXLHomeBannerContainer2 h5 {
    font-size: 14px;
    line-height: 1.25;
    margin-bottom: 10px; }
  #exlidHomeContainer div.EXLContentBlock3 div.EXLHomeBannerContainer2 p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    padding-right: 20px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    #exlidHomeContainer div.EXLContentBlock3 div.EXLHomeBannerContainer2 {
      background-image: url("../images/banner_snu_website_2x.png");
      background-size: 220px 90px; } }

#exlidHomeContainer div.EXLContentBlock3 h4 {
  margin: 0;
  padding: 0; }

#exlidHomeContainer div.EXLContentBlock3 p {
  margin: 0;
  padding: 0; }

#exlidHomeContainer div.EXLContentBlock4 div.EXLHomeBannersContainer {
  color: #333333; }

#exlidHomeContainer div.EXLContentBlock4 div.EXLHomeBannerContainer1 {
  margin: 0;
  padding: 0;
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 48.71795%;
  margin-bottom: 40px;
  border: 1px solid #dfdfdc;
  background-repeat: no-repeat;
  background-position: center right;
  height: 110px;
  padding: 10px;
  background-color: #f2f2f0;
  background-image: url("../images/banner_snu_mobile.png"); }
  #exlidHomeContainer div.EXLContentBlock4 div.EXLHomeBannerContainer1:last-child {
    margin-right: 0; }
  #exlidHomeContainer div.EXLContentBlock4 div.EXLHomeBannerContainer1 h3, #exlidHomeContainer div.EXLContentBlock4 div.EXLHomeBannerContainer1 h4, #exlidHomeContainer div.EXLContentBlock4 div.EXLHomeBannerContainer1 h5 {
    font-size: 14px;
    line-height: 1.25;
    margin-bottom: 10px; }
  #exlidHomeContainer div.EXLContentBlock4 div.EXLHomeBannerContainer1 p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    padding-right: 20px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    #exlidHomeContainer div.EXLContentBlock4 div.EXLHomeBannerContainer1 {
      background-image: url("../images/banner_snu_mobile_2x.png");
      background-size: 220px 90px; } }

#exlidHomeContainer div.EXLContentBlock4 div.EXLHomeBannerContainer2 {
  margin: 0;
  padding: 0;
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 48.71795%;
  margin-bottom: 40px;
  border: 1px solid #dfdfdc;
  background-repeat: no-repeat;
  background-position: center right;
  height: 110px;
  padding: 10px;
  background-color: #f2f2f0;
  background-image: url("../images/banner_snu_twitter.png"); }
  #exlidHomeContainer div.EXLContentBlock4 div.EXLHomeBannerContainer2:last-child {
    margin-right: 0; }
  #exlidHomeContainer div.EXLContentBlock4 div.EXLHomeBannerContainer2 h3, #exlidHomeContainer div.EXLContentBlock4 div.EXLHomeBannerContainer2 h4, #exlidHomeContainer div.EXLContentBlock4 div.EXLHomeBannerContainer2 h5 {
    font-size: 14px;
    line-height: 1.25;
    margin-bottom: 10px; }
  #exlidHomeContainer div.EXLContentBlock4 div.EXLHomeBannerContainer2 p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    padding-right: 20px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    #exlidHomeContainer div.EXLContentBlock4 div.EXLHomeBannerContainer2 {
      background-image: url("../images/banner_snu_twitter_2x.png");
      background-size: 220px 90px; } }

#exlidHomeContainer div.EXLContentBlock4 h4 {
  padding-left: 0.4em;
  padding-top: 0.2em; }

#exlidHomeContainer div.EXLContentBlock4 p {
  padding-left: 0.4em;
  line-height: 120%;
  margin-right: 5.5em; }

@media screen and (max-width: 768px) {
  #exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 {
    width: auto;
    float: none;
    padding-left: 1em; }
  #exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 p {
    width: auto; }
  #exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 div.EXLHomeListsContainer {
    margin-top: 1em;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    width: auto;
    float: left;
    padding-top: 1em;
    padding-left: 0em; }
  #exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 div.EXLHomeTopicsContainer {
    display: none; }
  #exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 div.EXLHomeQuickLinksContainer {
    float: none;
    margin: 0em;
    width: auto; }
  #exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 div.EXLHomeQuickLinksContainer ul {
    width: auto; }
  #exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock2 {
    display: none; }
  #exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock2 div.EXLHomeServicesContainer {
    display: none; }
  #exlidHomeContainer div.EXLContentBlock3 div.EXLHomeBannersContainer {
    display: none; }
  #exlidHomeContainer div.EXLContentBlock4 div.EXLHomeBannersContainer {
    display: none; } }

@media screen and (max-width: 480px) {
  #exlidHomeContainer div.EXLContentBlock3 div.EXLHomeBannersContainer {
    display: none; }
  #exlidHomeContainer div.EXLContentBlock4 div.EXLHomeBannersContainer {
    display: none; } }

@media screen and (max-width: 480px) {
  .folders_new,
  .draggable,
  .EXLMyAccountTabsRibbon div li.EXLMyAccountTab,
  .EXLMyAccountTableAuthor,
  .EXLMyAccountTableDueHour,
  .EXLMyAccountTableFine,
  .Location,
  .EXLMyAccountMainHeaderTitle div.EXLMyAccountMainHeaderContent span,
  .EXLMyAccountTableCounter,
  .EXLMyAccountMainContainer table tr td:first-child,
  .EXLMyAccountMainContainer div.EXLMyAccountTips,
  .folder_details .newManage_buts,
  a.eShelf_print,
  .author,
  .added,
  .note,
  .MyAccount_Loans_2,
  .MyAccount_Loans_4,
  .MyAccount_Loans_5,
  .MyAccount_Loans_6,
  .MyAccount_Loans_0,
  .MyAccount_Requests_0,
  .MyAccount_Requests_3,
  .MyAccount_Requests_4,
  .MyAccount_Requests_5,
  .MyAccount_Requests_6,
  .MyAccount_FineAndFees_0,
  .MyAccount_FineAndFees_2,
  .MyAccount_FineAndFees_4,
  .MyAccount_FineAndFees_5,
  .MyAccount_FineAndFees_6,
  #exlidUserAreaRibbon li.EXLMyShelf {
    display: none; } }
