$black: #333333;
$black-secondary: #000000;

$gold: #987c4d;
$gold-hover: #83693d;

$gold-light: #b6a082;
$gold-light-secondary: #a9967e;

$gold-gray: #cbbfae;
$gold-gray-secondary: #d8d0c4;

$gray: #bcbdb6;
$gray-hover: #a7a8a2;

$gray-light: #f2f2f0;
$gray-light-secondary: #dfdfdc;

$gray-dark: #333333;
$gray-dark-secondary: #666666;

$base-font-color: #333333;