$black: #333333;
$white: #ffffff;
$black-secondary: $black;

$gold: #987c4d;
$gold-hover: #83693d;

$gold-light: #b6a082;
$gold-light-secondary: #a9967e;

$gold-gray: #cbbfae;
$gold-gray-secondary: #d8d0c4;

$yellow: #ffcc00;
$yellow-secondary: #ffd950;

$gray: #bcbdb6;
$gray-hover: #a7a8a2;

$gray-light: #f2f2f0;
$gray-light-secondary: #dfdfdc;

$gray-dark: #888888;
$gray-dark-secondary: #666666;

$orange: #fd8000;
$orange-secondary: #de751c;

$base-font-color: #333333;

$alert-red: #F5C3C4;
$alert-red-text: #9C4144;
$alert-green: #8BAD79;

$blue: #34aacc;
$blue-dark: darken(#2391b2, 10%);
$blue-light: lighten(#46c3e8, 10%);

$anchor-color: $gold;
$anchor-hover: $gold-hover;

$notification-box: #fff693;

// $blue: #477dca;
// $action-color: $blue;
// $base-background-color: $white;
// $base-font-color: $gray-dark;

// $form-blue: #46c2e7;
// $form-blue-hover: #38aed1;
// $form-blue-rgba: rgba(70, 194, 231, 0.4);
// $form-blue-box-shadow: 0 0 30px 0 $form-blue-rgba;
// $form-blue-box-shadow-focus: $form-blue-box-shadow, 0 0 5px adjust-color($form-blue-rgba, $lightness: -5%, $alpha: -0.3);
// $form-box-shadow-top: inset 0 7px 9px -7px rgba(0,0,0,0.7);
// $form-gray: #d8d0c4;
// $green: #6ca95c;
//
// $base-border-color: $gray-light;
// $base-border: 1px solid $base-border-color;
