@import "neat/neat-helpers"; // or "neat-helpers" when in Rails

// Change the grid settings
$column: 70px;
$gutter: 30px;
$grid-columns: 12;
$max-width: 1170px;

// Neat Breakpoints
$small-screen: 500px;
$medium-screen: 640px;
$large-screen: 960px;

// Breakpoint Options
$mobile-small: new-breakpoint(max-width $small-screen);
$mobile-down: new-breakpoint(max-width $medium-screen);
$tablets-down: new-breakpoint(max-width $large-screen);
$desktop: new-breakpoint(min-width $large-screen);

$section-spacing:	40px;
$elements-spacing:	30px;
$footer-spacing:	60px;
$paragraph-spacing: 20px;
