$thumbnail-width: 70px;
$thumbnail-height: 110px;
$result-padding-vertical: 20px;
$result-padding-horizontal: 0;
$facets-vertical-padding: 10px;
$facets-horizontal-padding: 10px;
$tabs-height: 30px;
$tabs-font-size: 14px;
$tabs-font-family: sans-serif;
$tabs-content-padding: $result-padding-vertical;
