$base-font-size: 16px;
$base-line-height: 1.5;
$small-font-size: 14px;
$xsmall-font-size: 12px;

$font-weight-normal: normal;
$font-weight-bold: bold;

$h1-fontsize: 32px;
$h2-fontsize: 28px;
$h3-fontsize: 24px;
$h4-fontsize: 18px;
$h5-fontsize: 14px;
$h6-fontsize: 12px;

$h1-lineheight: 1.125;
$h2-lineheight: 1.125;
$h3-lineheight: 1.125;
$h4-lineheight: 1.25;
$h5-lineheight: 1.25;
$h6-lineheight: 1.4;

$h1-margin: 32px;
$h2-margin: 30px;
$h3-margin: 24px;
$h4-margin: 18px;
$h5-margin: 14px;
$h6-margin: 12px;

$article-title-fsz: 32px;
$article-title-lh: 1.125;

$article-header-fsz: 18px;
$article-header-lh: 1.125;

$spacing-small: 20px;
$spacing-medium: 30px;
$spacing-large: 40px;

$base-font-family: "Noto Sans Korean", sans-serif;
$heading-font-family: $base-font-family;