/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* Don't kill focus outline for keyboard users: http://24ways.org/2009/dont-lose-your-focus */
a:hover, a:active {
    outline: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: "Noto Sans Korean", sans-serif;
	margin-right: 20%;
	margin-left: 20%;
	margin-top: 40px;
	margin-bottom: 40px;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Noto Sans Korean", sans-serif;
	font-weight: bold;
	line-height: 1.15;
	margin-bottom: 20px;
}

h4, h5, h6 {
	line-height: 1.25;
	margin-bottom: .5em;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 16px;
}

p {
	font-family: "Noto Sans Korean", sans-serif;
	font-size: 14px;
	line-height: 1.5;
	font-weight: normal;
	margin-bottom: 20px;
}

p.large {
	font-size: 24px;
	line-height: 1.4;
	font-weight: lighter;
}

p.medium {
	font-size: 18px;
	line-height: 1.4;
	font-weight: lighter;
}

p.font-name {
	display: block;
	font-weight: bold;
	color: #fff;
	background: #333;
	margin-bottom: 40px;
	margin-top: 40px;
	text-align: center;
}

h1.sans, h2.sans, h3.sans, h4.sans, h5.sans, h6.sans, p.sans {
	font-family: sans-serif;
}


.icons {
    margin: 0;
    overflow: hidden
}

.icons-list {
    padding-left: 0;
    list-style: none
}

.icons li {
    float: left;
    width: 20%;
    height: 115px;
    padding: 0;
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
    background-color: #f9f9f9;
    border: 0;
}

.icons .icon {
    margin-top: 5px;
    margin-bottom: 10px;
    display: block;
    font-size: 24px
}


