////////////////////////
// Noto Korean Font
////////////////////////

// @font-face {
//     font-family: 'Noto Sans Korean';
//     font-style: normal;
//     font-weight: lighter;
//     src: url('../fonts/NotoSans-Light.eot');
//     src: local('Noto Sans CJK KR'),
//     url('../fonts/NotoSans-Light.otf') format('opentype'),
//     url('../fonts/NotoSans-Light.woff') format('woff');
// }

// @font-face {
//     font-family: 'Noto Sans Korean';
//     font-style: normal;
//     font-weight: normal;
//     src: url('../fonts/NotoSans-Regular.eot');
//     src: local('Noto Sans CJK KR'),
//     url('../fonts/NotoSans-Regular.otf') format('opentype'),
//     url('../fonts/NotoSans-Regular.woff') format('woff');
// }

// @font-face {
//     font-family: 'Noto Sans Korean';
//     font-style: normal;
//     font-weight: bold;
//     src: url('../fonts/NotoSans-Bold.eot');
//     src: local('Noto Sans CJK KR'),
//     url('../fonts/NotoSans-Bold.otf') format('opentype'),
//     url('../fonts/NotoSans-Bold.woff') format('woff');
// }

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/nanum-barun/fonts/NanumBarunGothicUltraLight.eot');
  src: local('Nanum Barun Gothic UltraLight'),
       local('NanumBarunGothicUltraLight'),
       url('../fonts/nanum-barun/fonts/NanumBarunGothicUltraLight.eot?#iefix') format('embedded-opentype'),
       url('../fonts/nanum-barun/fonts/NanumBarunGothicUltraLight.woff2') format('woff2'),
       url('../fonts/nanum-barun/fonts/NanumBarunGothicUltraLight.woff') format('woff'),
       url('../fonts/nanum-barun/fonts/NanumBarunGothicUltraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/nanum-barun/fonts/NanumBarunGothicLight.eot');
  src: local('Nanum Barun Gothic Light'),
       local('NanumBarunGothicLight'),
       url('../fonts/nanum-barun/fonts/NanumBarunGothicLight.eot?#iefix') format('embedded-opentype'),
       url('../fonts/nanum-barun/fonts/NanumBarunGothicLight.woff2') format('woff2'),
       url('../fonts/nanum-barun/fonts/NanumBarunGothicLight.woff') format('woff'),
       url('../fonts/nanum-barun/fonts/NanumBarunGothicLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/nanum-barun/fonts/NanumBarunGothic.eot');
  src: local('Nanum Barun Gothic'),
       local('NanumBarunGothic'),
       url('../fonts/nanum-barun/fonts/NanumBarunGothic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/nanum-barun/fonts/NanumBarunGothic.woff2') format('woff2'),
       url('../fonts/nanum-barun/fonts/NanumBarunGothic.woff') format('woff'),
       url('../fonts/nanum-barun/fonts/NanumBarunGothic.ttf') format('truetype');
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/nanum-barun/fonts/NanumBarunGothicBold.eot');
  src: local('Nanum Barun Gothic Bold'),
       local('NanumBarunGothicBold'),
       url('../fonts/nanum-barun/fonts/NanumBarunGothicBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/nanum-barun/fonts/NanumBarunGothicBold.woff2') format('woff2'),
       url('../fonts/nanum-barun/fonts/NanumBarunGothicBold.woff') format('woff'),
       url('../fonts/nanum-barun/fonts/NanumBarunGothicBold.ttf') format('truetype');
}

@font-face {
  font-family:'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'),
  url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
  url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
  url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

// Icon Mixin
@mixin glyphicon($icon, $location: "before") {
  
  @if ($location == "before") {

    &:before {
      content: $icon;
      position: relative;
      top: 1px;
      display: inline-block;
      font-family: 'Glyphicons Halflings';
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; 
    }

  } @else {
    
    &:after  { 
      content: $icon;
      position: relative;
      top: 1px;
      display: inline-block;
      font-family: 'Glyphicons Halflings';
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; 
    }

  }

}


// Icon Sass Variables
$icon-asterisk                : "\2a";
$icon-plus                    : "\2b";
$icon-euro                    : "\20ac";
$icon-minus                   : "\2212";
$icon-cloud                   : "\2601";
$icon-envelope                : "\2709";
$icon-pencil                  : "\270f";
$icon-glass                   : "\e001";
$icon-music                   : "\e002";
$icon-search                  : "\e003";
$icon-heart                   : "\e005";
$icon-star                    : "\e006";
$icon-star-empty              : "\e007";
$icon-user                    : "\e008";
$icon-film                    : "\e009";
$icon-th-large                : "\e010";
$icon-th                      : "\e011";
$icon-th-list                 : "\e012";
$icon-ok                      : "\e013";
$icon-remove                  : "\e014";
$icon-zoom-in                 : "\e015";
$icon-zoom-out                : "\e016";
$icon-off                     : "\e017";
$icon-signal                  : "\e018";
$icon-cog                     : "\e019";
$icon-trash                   : "\e020";
$icon-home                    : "\e021";
$icon-file                    : "\e022";
$icon-time                    : "\e023";
$icon-road                    : "\e024";
$icon-download-alt            : "\e025";
$icon-download                : "\e026";
$icon-upload                  : "\e027";
$icon-inbox                   : "\e028";
$icon-play-circle             : "\e029";
$icon-repeat                  : "\e030";
$icon-refresh                 : "\e031";
$icon-list-alt                : "\e032";
$icon-lock                    : "\e033";
$icon-flag                    : "\e034";
$icon-headphones              : "\e035";
$icon-volume-off              : "\e036";
$icon-volume-down             : "\e037";
$icon-volume-up               : "\e038";
$icon-qrcode                  : "\e039";
$icon-barcode                 : "\e040";
$icon-tag                     : "\e041";
$icon-tags                    : "\e042";
$icon-book                    : "\e043";
$icon-bookmark                : "\e044";
$icon-print                   : "\e045";
$icon-camera                  : "\e046";
$icon-font                    : "\e047";
$icon-bold                    : "\e048";
$icon-italic                  : "\e049";
$icon-text-height             : "\e050";
$icon-text-width              : "\e051";
$icon-align-left              : "\e052";
$icon-align-center            : "\e053";
$icon-align-right             : "\e054";
$icon-align-justify           : "\e055";
$icon-list                    : "\e056";
$icon-indent-left             : "\e057";
$icon-indent-right            : "\e058";
$icon-facetime-video          : "\e059";
$icon-picture                 : "\e060";
$icon-map-marker              : "\e062";
$icon-adjust                  : "\e063";
$icon-tint                    : "\e064";
$icon-edit                    : "\e065";
$icon-share                   : "\e066";
$icon-check                   : "\e067";
$icon-move                    : "\e068";
$icon-step-backward           : "\e069";
$icon-fast-backward           : "\e070";
$icon-backward                : "\e071";
$icon-play                    : "\e072";
$icon-pause                   : "\e073";
$icon-stop                    : "\e074";
$icon-forward                 : "\e075";
$icon-fast-forward            : "\e076";
$icon-step-forward            : "\e077";
$icon-eject                   : "\e078";
$icon-chevron-left            : "\e079";
$icon-chevron-right           : "\e080";
$icon-plus-sign               : "\e081";
$icon-minus-sign              : "\e082";
$icon-remove-sign             : "\e083";
$icon-ok-sign                 : "\e084";
$icon-question-sign           : "\e085";
$icon-info-sign               : "\e086";
$icon-screenshot              : "\e087";
$icon-remove-circle           : "\e088";
$icon-ok-circle               : "\e089";
$icon-ban-circle              : "\e090";
$icon-arrow-left              : "\e091";
$icon-arrow-right             : "\e092";
$icon-arrow-up                : "\e093";
$icon-arrow-down              : "\e094";
$icon-share-alt               : "\e095";
$icon-resize-full             : "\e096";
$icon-resize-small            : "\e097";
$icon-exclamation-sign        : "\e101";
$icon-gift                    : "\e102";
$icon-leaf                    : "\e103";
$icon-fire                    : "\e104";
$icon-eye-open                : "\e105";
$icon-eye-close               : "\e106";
$icon-warning-sign            : "\e107";
$icon-plane                   : "\e108";
$icon-calendar                : "\e109";
$icon-random                  : "\e110";
$icon-comment                 : "\e111";
$icon-magnet                  : "\e112";
$icon-chevron-up              : "\e113";
$icon-chevron-down            : "\e114";
$icon-retweet                 : "\e115";
$icon-shopping-cart           : "\e116";
$icon-folder-close            : "\e117";
$icon-folder-open             : "\e118";
$icon-resize-vertical         : "\e119";
$icon-resize-horizontal       : "\e120";
$icon-hdd                     : "\e121";
$icon-bullhorn                : "\e122";
$icon-bell                    : "\e123";
$icon-certificate             : "\e124";
$icon-thumbs-up               : "\e125";
$icon-thumbs-down             : "\e126";
$icon-hand-right              : "\e127";
$icon-hand-left               : "\e128";
$icon-hand-up                 : "\e129";
$icon-hand-down               : "\e130";
$icon-circle-arrow-right      : "\e131";
$icon-circle-arrow-left       : "\e132";
$icon-circle-arrow-up         : "\e133";
$icon-circle-arrow-down       : "\e134";
$icon-globe                   : "\e135";
$icon-wrench                  : "\e136";
$icon-tasks                   : "\e137";
$icon-filter                  : "\e138";
$icon-briefcase               : "\e139";
$icon-fullscreen              : "\e140";
$icon-dashboard               : "\e141";
$icon-paperclip               : "\e142";
$icon-heart-empty             : "\e143";
$icon-link                    : "\e144";
$icon-phone                   : "\e145";
$icon-pushpin                 : "\e146";
$icon-usd                     : "\e148";
$icon-gbp                     : "\e149";
$icon-sort                    : "\e150";
$icon-sort-by-alphabet        : "\e151";
$icon-sort-by-alphabet-alt    : "\e152";
$icon-sort-by-order           : "\e153";
$icon-sort-by-order-alt       : "\e154";
$icon-sort-by-attributes      : "\e155";
$icon-sort-by-attributes-alt  : "\e156";
$icon-unchecked               : "\e157";
$icon-expand                  : "\e158";
$icon-collapse-down           : "\e159";
$icon-collapse-up             : "\e160";
$icon-log-in                  : "\e161";
$icon-flash                   : "\e162";
$icon-log-out                 : "\e163";
$icon-new-window              : "\e164";
$icon-record                  : "\e165";
$icon-save                    : "\e166";
$icon-open                    : "\e167";
$icon-saved                   : "\e168";
$icon-import                  : "\e169";
$icon-export                  : "\e170";
$icon-send                    : "\e171";
$icon-floppy-disk             : "\e172";
$icon-floppy-saved            : "\e173";
$icon-floppy-remove           : "\e174";
$icon-floppy-save             : "\e175";
$icon-floppy-open             : "\e176";
$icon-credit-card             : "\e177";
$icon-transfer                : "\e178";
$icon-cutlery                 : "\e179";
$icon-header                  : "\e180";
$icon-compressed              : "\e181";
$icon-earphone                : "\e182";
$icon-phone-alt               : "\e183";
$icon-tower                   : "\e184";
$icon-stats                   : "\e185";
$icon-sd-video                : "\e186";
$icon-hd-video                : "\e187";
$icon-subtitles               : "\e188";
$icon-sound-stereo            : "\e189";
$icon-sound-dolby             : "\e190";
$icon-sound-5-1               : "\e191";
$icon-sound-6-1               : "\e192";
$icon-sound-7-1               : "\e193";
$icon-copyright-mark          : "\e194";
$icon-registration-mark       : "\e195";
$icon-cloud-download          : "\e197";
$icon-cloud-upload            : "\e198";
$icon-tree-conifer            : "\e199";
$icon-tree-deciduous          : "\e200";
$icon-cd                      : "\e201";
$icon-save-file               : "\e202";
$icon-open-file               : "\e203";
$icon-level-up                : "\e204";
$icon-copy                    : "\e205";
$icon-paste                   : "\e206";
$icon-alert                   : "\e209";
$icon-equalizer               : "\e210";
$icon-king                    : "\e211";
$icon-queen                   : "\e212";
$icon-pawn                    : "\e213";
$icon-bishop                  : "\e214";
$icon-knight                  : "\e215";
$icon-baby-formula            : "\e216";
$icon-tent                    : "\26fa";
$icon-blackboard              : "\e218";
$icon-bed                     : "\e219";
$icon-apple                   : "\f8ff";
$icon-erase                   : "\e221";
$icon-hourglass               : "\231b";
$icon-lamp                    : "\e223";
$icon-duplicate               : "\e224";
$icon-piggy-bank              : "\e225";
$icon-scissors                : "\e226";
$icon-bitcoin                 : "\e227";
$icon-btc                     : "\e227";
$icon-xbt                     : "\e227";
$icon-yen                     : "\00a5";
$icon-jpy                     : "\00a5";
$icon-ruble                   : "\20bd";
$icon-rub                     : "\20bd";
$icon-scale                   : "\e230";
$icon-ice-lolly               : "\e231";
$icon-ice-lolly-tasted        : "\e232";
$icon-education               : "\e233";
$icon-option-horizontal       : "\e234";
$icon-option-vertical         : "\e235";
$icon-menu-hamburger          : "\e236";
$icon-modal-window            : "\e237";
$icon-oil                     : "\e238";
$icon-grain                   : "\e239";
$icon-sunglasses              : "\e240";
$icon-text-size               : "\e241";
$icon-text-color              : "\e242";
$icon-text-background         : "\e243";
$icon-object-align-top        : "\e244";
$icon-object-align-bottom     : "\e245";
$icon-object-align-horizontal : "\e246";
$icon-object-align-left       : "\e247";
$icon-object-align-vertical   : "\e248";
$icon-object-align-right      : "\e249";
$icon-triangle-right          : "\e250";
$icon-triangle-left           : "\e251";
$icon-triangle-bottom         : "\e252";
$icon-triangle-top            : "\e253";
$icon-console                 : "\e254";
$icon-superscript             : "\e255";
$icon-subscript               : "\e256";
$icon-menu-left               : "\e257";
$icon-menu-right              : "\e258";
$icon-menu-down               : "\e259";
$icon-menu-up                 : "\e260";