////////////////////////
// Noto Korean Font
////////////////////////

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: lighter;
    src: url('../fonts/NotoSans-Light.eot');
    src: local('Noto Sans CJK KR'),
    url('../fonts/NotoSans-Light.otf') format('opentype'),
    url('../fonts/NotoSans-Light.woff') format('woff');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/NotoSans-Regular.eot');
    src: local('Noto Sans CJK KR'),
    url('../fonts/NotoSans-Regular.otf') format('opentype'),
    url('../fonts/NotoSans-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/NotoSans-Bold.eot');
    src: local('Noto Sans CJK KR'),
    url('../fonts/NotoSans-Bold.otf') format('opentype'),
    url('../fonts/NotoSans-Bold.woff') format('woff');
}