/* Responsive Layout Related Styles */

$tabs-width: 270px;

@include media($tablets-down) {
  #exlidMainMenuTile,
  #exlidSearchTileWrapper,
  #exlidResultsContainer {
    @include add-side-paddings;
  }

  #exlidHeaderSystemFeedback {
    @include add-side-margins;
  }

  #exlidSearchRibbon {
    padding-bottom: 10px;
  }

  #exlidSearchRibbon div.EXLSearchFieldRibbon {
    @include reset-margins;
    @include span-columns(8 of 8);
    position: relative;
    float: left;
    padding-left: $tabs-width + 20px;
  }

  .EXLSearchFieldRibbonBrowseSearchLink,
  .EXLSearchFieldRibbonAdvancedSearchLink {
    position: static;
    float: left;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 0;
  }

  .EXLSearchFieldRibbonBrowseSearchLink {
    right: 0;
    top: 0;
  }

  .EXLSearchFieldRibbonAdvancedSearchLink {
    right: 0;
    top: 0;
  }

  #exlidHeaderSearchLimits {
    @include span-columns(8 of 8);
    padding: 0 20px 0 20px;
    border-bottom: 0;
    margin-bottom: 0;

    fieldset {
      @include span-columns(8 of 8);
      position: relative;
      top: -20px;
    }
  }

  // Search Blocks
  .EXLFacetTile {
    @include span-columns(2.5 of 8);
  }

  .EXLResultsContainer div.EXLResultsTile {
    @include span-columns(5.5 of 8);
    @include omega();
  }
}

#exlidFacetTile {
  .filters-expand-title {
    display: none;
  }
}

@include media(new-breakpoint(max-width 800px)) {
  // Special Case Layout

  #exlidFacetTile, .EXLFacetTile {
    @include span-columns(8 of 8);
    margin-bottom: 20px;
  }
  
  .EXLFacetActionsV2 {
    display: none;
  }

  .EXLResultsContainer div.EXLResultsTile {
    @include span-columns(8 of 8);
    @include omega();
  }

  /* Expandable Filters */
  #exlidFacetTile {
    max-height: 40px;
    overflow: hidden;
    @include transition(max-height .5s);

    > div:first-child {
      @include span-columns(8 of 8);
    }

    > div {
      @include span-columns(4 of 8);
      @include omega(2n+1);
    }

    &.expanded-for-mobile {
      max-height: 2000px;
      @include transition(max-height 1s);

      .filters-expand-title h2,
      .filters-expand-title h2.filters-title {
        &:after {
          content: $icon-minus;
        }
      }
    }

    .filters-expand-title {
      width: 100%;
      display: block;
      float: none;
      clear: both;
      cursor: pointer;

      h2, h2.filters-title {
        @include reset-margins;
        font-size: ($base-font-size + 2px);
        font-weight: bold;
        display: block;
        height: 40px;
        line-height: 40px;

        @include glyphicon($icon-plus, 'after');
        &:after {
          font-size: $base-font-size - 3px;
          margin-left: 10px;
        }
      }
    }
  }
}