/* Responsive Layout Related Styles */

@include media($tablets-down) {
  #exlidMainMenuTile,
  #exlidSearchTileWrapper,
  #exlidResultsContainer {
    @include add-side-paddings;
  }

  #exlidHeaderSystemFeedback {
    @include add-side-margins;
  }

  .EXLSearchFieldRibbonBrowseSearchLink,
  .EXLSearchFieldRibbonAdvancedSearchLink {
    position: static;
    float: left;
    margin-top: 10px;
    margin-right: 20px;
  }

  .EXLSearchFieldRibbonBrowseSearchLink {
    right: 0;
    top: 0;
  }

  .EXLSearchFieldRibbonAdvancedSearchLink {
    right: 0;
    top: 0;
  }
}