$base-font-size: 14px;
$base-line-height: 1.5;

$font-weight-normal: normal;
$font-weight-bold: bold;

$h1-fontsize: 32px;
$h2-fontsize: 32px;
$h3-fontsize: 24px;
$h4-fontsize: 18px;
$h5-fontsize: 14px;
$h6-fontsize: 12px;

$h1-lineheight: 1.125;
$h2-lineheight: 1.125;
$h3-lineheight: 1.125;
$h4-lineheight: 1.25;
$h5-lineheight: 1.25;
$h6-lineheight: 1.25;

$h1-margin: 32px;
$h2-margin: 30px;
$h3-margin: 24px;
$h4-margin: 18px;
$h5-margin: 14px;
$h6-margin: 12px;

$article-title-fsz: 32px;
$article-title-lh: 1.125;

$article-header-fsz: 18px;
$article-header-lh: 1.125;

$base-font-family: "Noto Sans Korean", sans-serif;
$heading-font-family: $base-font-family;

body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
}

h1 {
  font-size: $h1-fontsize;
  line-height: $h1-lineheight;
  margin: 0 0 $h1-margin;
}

h2 {
  font-size: $h2-fontsize;
  line-height: $h2-lineheight;
  margin: 0 0 $h2-margin;
}

h3 {
  font-size: $h3-fontsize;
  line-height: $h3-lineheight;
  margin: 0 0 $h3-margin;
}

h4 {
  font-size: $h4-fontsize;
  line-height: $h4-lineheight;
  margin: 0 0 $h4-margin;
}

h5 {
  font-size: $h5-fontsize;
  line-height: $h5-lineheight;
  margin: 0 0 $h5-margin;
}

h6 {
  font-size: $h6-fontsize;
  line-height: $h6-lineheight;
  margin: 0 0 $h6-margin;
}