.EXLEmailPopup {

  #emailForm {
    label {
      width: 80px;
    }

    .EXLEmailDetailsWideCell label,
    label.chk {
      width: 80%;
    }

    input#saveThis,
    input[type="checkbox"] {
      float: left;
      line-height: $base-line-height;
      height: 30px;
      margin-right: 10px;
      border-color: $gray-light;
    }

    input[type="text"],
    textarea {
      border-color: $gray-light;
      
      &:focus {
        border-color: $blue;
      }
    }

    textarea {
      width: 95%;
      height: 200px;
    }

    input[type="submit"] {
      background-image: none;
      @include button();
      margin: 6px;
      margin-bottom: 20px;
    }

  }

}