#exlidSearchRibbon div.EXLSearchFieldRibbon {
    background-color: transparent;
    height: auto;
    border: none;
}

#exlidSearchRibbon legend {
    display: none;
}

#exlidSearchRibbon input.EXLSearchFieldMaximized,
#exlidSearchRibbon input[type=text] {
    @include input;
    @include input-size("default");
    @include form-element-width("full-width");
    padding-right: 100px;

    &:focus {
        $double-shadow: 0px 1px 1px rgba($black-secondary, .5), 0px 0px 20px 0 rgba(#32b5c1, .75);
        @include prefixer(box-shadow, $double-shadow, webkit moz spec);
    }
}

#exlidSearchRibbon input.submit {
    border: none;
    background-color: $blue;
    @include retina-image('../images/search_button_bg', 200px 50px);
    background-repeat: no-repeat;
    background-position: center center;
    @include prefixer(border-radius, 0, webkit moz spec);
    @include prefixer(border-top-right-radius, 4px, webkit moz spec);
    @include prefixer(border-bottom-right-radius, 4px, webkit moz spec);
    width: 100px;
    max-width: 100px;
    text-indent: 100px;
    overflow: hidden;
    color: $white;
    font-weight: normal;
    cursor: pointer;
    height: auto;
    font-size: $base-font-size;
    padding: 4px 20px;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0;

    &:hover {
        @include retina-image('../images/search_button_bg_hover', 200px 50px);
    }
}

.EXLSearchFieldRibbonFormSubmitSearch {
    float: left;
    width: 100px;
}

.EXLSearchFieldRibbonFormFields {
    float: left;
    width: 100%;
    height: auto;
}

.EXLSearchFieldRibbonFormSearchFor {
    float: left;
    width: 100%;
}

.EXLClearSimpleSearchBoxButtonClose {
    background-image: url("../images/icon_clear_search.png");
    background-position: center center;
    margin-left: 0;
    background-repeat: no-repeat;
    display: inline;
    float: left;
    height: 26px;
    width: 100%;
}

.EXLSearchFieldRibbonFormSearchClear {
    width: 30px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #333;
    visibility: hidden;
}

.EXLBrowseSearchFieldRibbonFormSearchClear {
    float: right;
    width: 5%;
}

.EXLSearchFieldRibbonFormSearchForMaximized .EXLSearchFieldRibbonFormSearchFor {
    width: 100%;
}

.EXLSearchFieldRibbonFormSearchForMaximized .EXLSearchFieldRibbonFormSelectedCollection {
    display: none;
}

.EXLSearchFieldRibbonFormSearchForMaximized .EXLSearchFieldRibbonFormCollectionsList {
    display: none;
}

div.EXLResultsContainer div.EXLALMAResultsTileNoFacets {
    width: 100%;
}

div.EXLALMAResultsTileNoFacets td.EXLThumbnail {
    display: none;
}

#exlidSearchTile.EXLSearchEJorunals {
    border-top: 3px solid #f4762d;
    height: 80px;
    background-position: bottom;
    background-color: #e2e8eb;
    background-image: none;
    // filter: progid: DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#e2e8eb);
    // background-image: -moz-linear-gradient(top, #fff 0, #e2e8eb 100%);
    // background-image: -ms-linear-gradient(top, #fff 0, #e2e8eb 100%);
    // background-image: -o-linear-gradient(top, #fff 0, #e2e8eb 100%);
    // background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(100%, #e2e8eb));
    // background-image: -webkit-linear-gradient(top, #fff 0, #e2e8eb 100%);
    // background-image: linear-gradient(top, #fff 0, #e2e8eb 100%);
}

#exlidSearchTile.EXLSearchEJorunals fieldset {
    margin-left: 11em;
    margin-top: 0.2em;
}

#exlidSearchTile.EXLSearchEJorunals .EXLSearchFieldRibbonFormSearchFor {}

#exlidSearchTile.EXLSearchEJorunals fieldset label {
    position: absolute;
    margin-top: 0.5em;
    margin-left: -11em;
}

#exlidSearchTile.EXLSearchEJorunals .EXLSearchFieldRibbonSimpleSearchLink {
    float: left;
    margin-top: 3em;
    margin-left: 6.5em;
}

#exlidSearchTile.EXLSearchEJorunals .EXLSearchEJorunalsListAtoZ {
    text-align: center;
    width: 95%;
    display: block;
}

#exlidSearchTile.EXLSearchEJorunals .EXLSearchEJorunalsListAtoZ ul {
    list-style: none;
}

#exlidSearchTile.EXLSearchEJorunals .EXLSearchEJorunalsListAtoZ li {
    display: inline-block;
    float: left;
    line-height: 180%;
    width: 1.6em;
    font-weight: bold;
    font-size: 100%;
}

#exlidSearchTile.EXLSearchEJorunals .EXLSearchEJorunalsListAtoZ li.EXLSearchEJorunalsListAtoZSelected {
    background-image: url(../images/icon_arrow_AtoZ.png);
    background-repeat: no-repeat;
    background-position: 45% 0%;
}

#exlidSearchTile.EXLSearchEJorunals .EXLSearchEJorunalsListAtoZ li a {
    display: inline-block;
    width: 1.6em;
}

#exlidSearchTile.EXLSearchEJorunals .EXLSearchEJorunalsListAtoZ li a:hover {
    background-image: url(../images/icon_arrow_AtoZ.png);
    background-repeat: no-repeat;
    background-position: 50% 0%;
}

div.EXLSearchEJorunalsListAtoZ li.EXLFindDBListHeaderAtoZSelected {
    background-image: url(../images/icon_arrow_AtoZ.png);
    background-repeat: no-repeat;
    background-position: 45% 0%;
}

.EXLResultsListAlmaAz div.EXLREeviewsViewAllLink {
    display: none;
}

.EXLResultsListAlmaAz div#EXLNoResultsDiv {
    display: none;
}

.EXLSearchFieldRibbonFormSelectedCollection {
    width: 39%;
    float: left;
    margin-top: 0em;
    cursor: pointer;
    border-left: 1px solid #c0c0c0;
    height: 26px;
}

* html .EXLSearchFieldRibbonFormSelectedCollection {
    overflow: hidden;
    line-height: 200%
}

.EXLSearchFieldRibbonFormSelectedCollectionLabel {
    display: inline-block;
    height: 100%;
    padding-left: 0.5em;
    width: 100%;
    overflow: hidden;
}

.EXLSearchFieldRibbonFormSelectedCollectionLabel a {
    color: #32322f;
    display: inline-block;
    line-height: 210%;
    width: 100%;
    height: 100%;
    background-image: url(../images/icon_open_subMenu.png);
    background-repeat: no-repeat;
    background-position: 96% 50%;
}

* html .EXLSearchFieldRibbonFormSelectedCollectionLabel a {
    float: left;
    width: 100%;
    overflow: hidden;
    margin-top: 0em;
    height: 23px;
}

.EXLSearchFieldRibbonFormSelectedCollectionLabel a:hover {
    text-decoration: none;
}

.EXLSearchFieldRibbonFormFields iframe {
    display: none
}

* .EXLSearchFieldRibbonFormFields iframe {
    position: absolute;
    z-index: 998;
    top: 9em;
    left: 28em;
    display: block;
    height: 3em;
}

.EXLSearchFieldRibbonFormCollectionsList {
    float: left;
    margin-top: 0em;
    cursor: pointer;
    width: auto;
    position: relative;
    left: 60%;
    top: 2px;
    border: 1px solid #c0c0c0;
    z-index: 1000;
    background-color: #ffffff;
    display: block;
    clear: both;
}

* html .EXLSearchFieldRibbonFormCollectionsList {
    position: absolute;
    left: 28em;
    top: 110px;
    z-index: 999
}

#exlidSearchRibbon div.EXLDynamicSelectBodyRadio div {
    line-height: 180%;
    width: 100%;
    position: relative;
    min-width: 18em;
}

#exlidSearchRibbon div.EXLDynamicSelectBodyRadio div.EXLDynamicSelectBodyRadioTopBorder {
    border-top: 1px dashed #cccccc;
    font-weight: bold
}

.EXLSearchFieldRibbonFormFields div.EXLDynamicSelectBodyRadioHighlight {
    background-color: #fff899;
}

#exlidSearchRibbon div.EXLDynamicSelectOnlyOneScope {
    display: none;
}

#exlidSearchRibbon div.EXLDynamicSelectBodyRadio div input {
    display: none;
}

#exlidSearchRibbon div.EXLDynamicSelectBodyRadio div label {
    width: 100%;
    white-space: nowrap;
    cursor: pointer;
    padding-left: 0.5em;
    padding-right: 1.5em;
}

#exlidSearchRibbon div.EXLDynamicSelectBodyRadio div:hover {
    background-color: #f1f1f1
}

#exlidSearchRibbon div.EXLDynamicSelectBodyRadio a {
    text-decoration: none;
    width: 100%;
    display: block;
}

#exlidSearchRibbon div.EXLDynamicSelectBodyRadio a input {
    display: none;
}

#exlidSearchRibbon div.EXLDynamicSelectBodyRadio a label {
    width: 100%;
    white-space: nowrap;
    cursor: pointer;
    padding-left: 0.5em;
    padding-right: 1.5em;
}

.EXLSearchFieldRibbonFormLimitList {
    float: left;
    margin-top: 0.1em;
    cursor: pointer
}

* html .EXLSearchFieldRibbonAdvancedSearchLink {
    clear: none;
    padding: 0;
}

.EXLSearchFieldRibbonAdvancedSearchLink a,
a.EXLFullResultsHeaderBackToBriefResultsLink {
    display: block;
    padding: 0;
}

#exlidAdvancedSearchTile {
    clear: left;
    border-bottom: 1px solid #adb9c2;
    border-top: 1px solid #adb9c2;
    background-image: url(../images/bg_strip_searchPanel.png);
    background-repeat: repeat-x;
    padding: 1em 0em 1em 0em;
    font-size: 12px;
    height: auto;
    background-color: #f4f7f8;
    width: 100%;
}

#exlidAdvancedSearchRibbon {
    width: 97%;
    margin-left: 1em;
    margin-right: 0.5em
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbon {
    background-color: #FFFFFF;
    clear: both;
    min-height: 9em;
    border: 1px solid #8fb9d0;
    width: 100%;
    padding: 1em 1em 0.5em 0em;
    margin: 0px;
}

#exlidAdvancedSearchRibbon fieldset fieldset {
    padding-left: 0em;
    display: block
}

#exlidAdvancedSearchRibbon fieldset legend {
    display: none
}

[id^="exlidInput_scope"] {
    min-width: 24%
}

#exlidAdvancedSearchRibbon select {
    width: 14%;
    border: 1px solid #8fb9d0;
    height: auto;
    padding-top: 0em;
    padding-left: 0em;
    font-size: 100%
}

#exlidAdvancedSearchRibbon .EXLSelectedDatabasesHighlight {
    background-color: #fff899
}

#exlidAdvancedSearchRibbon input {
    width: 18em;
    border: 1px solid #8fb9d0;
    height: 1.5em;
    padding-top: 0em;
    padding-left: 0em;
    font-size: 1em;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormFieldsGroup1 {
    float: left;
    width: 44em;
    height: auto;
    margin-right: 0em;
    padding-left: 0.5em;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormFieldsGroup2 {
    float: left;
    width: 32em;
    height: auto;
    border-left: 1px solid #cccccc;
    margin-left: 0em
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormFieldsGroup2 select {
    width: 16.2em;
    height: 1.7em;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormFieldsGroup2 label {
    width: 9em;
    margin-left: 1em;
    float: left;
    display: block;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormFieldsGroup2 a {
    width: 9em;
    margin-left: 1em;
    float: left;
    display: block;
}

#exlidAdvancedSearchRibbon div.EXLAdvancedSearchFormRow {
    margin: 0em;
    float: left;
    width: 100%;
    padding-bottom: 0.5em;
    margin-left: 0.5em;
}

#exlidAdvancedSearchRibbon div.EXLAdvancedSearchFormRowHide {
    display: none;
}

#exlidAdvancedSearchRibbon div.EXLAdvancedSearchFormRow fieldset span.EXLAdvancedSearchFormRowInlineInput {
    display: inline;
}

#exlidAdvancedSearchRibbon div.EXLAdvancedSearchFormRow fieldset span.EXLAdvancedSearchFormRowInlineInput label {
    display: none;
}

#exlidAdvancedSearchRibbon div.EXLAdvancedSearchFormRow span.EXLAdvancedSearchFormRowInlineInput a {
    display: inline;
    white-space: nowrap;
    margin-left: 0.3em
}

*:first-child+html #exlidAdvancedSearchRibbon div.EXLAdvancedSearchFormRow span.EXLAdvancedSearchFormRowInlineInput a {
    display: inline;
    margin-left: 0.3em;
    white-space: normal;
}

#exlidAdvancedSearchRibbon div.EXLAdvancedSearchFormRow span.EXLAdvancedSearchFormDateRangeRow select {
    width: 5.5em;
    text-align: left;
    direction: ltr;
}

#exlidAdvancedSearchRibbon div.EXLAdvancedSearchFormRow span.EXLAdvancedSearchFormDateRangeRow input {
    width: 4em;
    height: 1.75em;
    font-size: 0.9em;
    text-align: left;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormLinks {
    float: left;
    display: inline;
    line-height: 26px;
    text-indent: 1em;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormSubmitSearch {
    float: left;
    display: inline;
    clear: both;
    border: 1px solid #adb9c2;
    margin-top: -1px
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormClearSearch {
    clear: none;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormClearSearch input {
    background-color: #ADB9C2;
    background-image: url("../images/bg_strip_btn_grey.png");
    color: #FFFFFF;
}

#exlidAdvancedSearchRibbon input.submit {
    border: 1px solid #ffffff;
    padding: 0em;
    display: block;
    background-color: #e87107;
    background-image: url(../images/bg_strip_btn_orange.png);
    background-repeat: repeat-x;
    margin: 0em;
    width: 8.5em;
    color: #FFFFFF;
    font-weight: normal;
    height: 24px;
    cursor: pointer;
}

#exlidAdvancedSearchTile .EXLSearchFieldRibbonFormSubmitSearch {
    width: auto;
}

.EXLResultsHeader h1 {
    color: #8c8c8c;
    font-weight: bold;
    font-size: 12px;
    padding: 0em 0em 0em 1em;
    margin: 0px;
    margin-bottom: 0.2em;
    float: left;
    width: 65%;
}

* html .EXLSearchFieldRibbonBrowseSearchLink {
    clear: left;
    padding-left: 0.5em;
    padding-top: 0.5em;
}

.EXLSearchFieldRibbonBrowseSearchLink a {
    display: block;
    font-size: 12px;
}

* html .EXLSearchFieldRibbonAdvancedSearchLink a.EXLSearchFieldRibbonAdvancedTwoLinks {
    clear: left;
    padding-left: 0.5em;
    padding-top: 0.5em;
}

.EXLSearchFieldRibbonAdvancedSearchLink a.EXLSearchFieldRibbonAdvancedTwoLinks {
    display: block;
    padding-top: 0;
    font-size: 12px;
}

div.EXLResultsContainer div.EXLBrowseResultsTileNoFacets {
    width: 100%;
}

div.EXLBrowsResultsTileNoFacets td.EXLThumbnail {
    display: none;
}

.EXLSearchFieldRibbonFormSelectedBrowse {
    width: 20em;
    float: left;
    margin-top: 0em;
    cursor: pointer;
    border: 1px solid #8FB9D0;
    height: 26px;
}

* html .EXLSearchFieldRibbonFormSelectedBrowse {
    overflow: hidden;
    line-height: 200%
}

.EXLSearchFieldRibbonFormBrowseList {
    float: left;
    margin-top: 0em;
    cursor: pointer;
    width: 20em;
    position: relative;
    top: 2px;
    border: 1px solid #c0c0c0;
    z-index: 1000;
    background-color: #ffffff;
    display: block;
    clear: both;
}

* html .EXLSearchFieldRibbonFormBrowseList {
    position: absolute;
    top: 110px;
    z-index: 999
}

.EXLSearchFieldRibbonFormSelectedCollectionLabel a.EXLBrowseListnoArrow {
    color: #32322f;
    display: inline-block;
    line-height: 210%;
    width: 100%;
    height: 100%;
    background-image: none;
    background-repeat: no-repeat;
    background-position: 96% 50%;
}

* html .EXLSearchFieldRibbonFormSelectedCollectionLabel a.EXLBrowseListnoArrow {
    float: left;
    width: 100%;
    overflow: hidden;
    margin-top: 0em;
    height: 23px;
}

.EXLSearchFieldRibbonFormSelectedLabelBrowse {
    padding-right: 0.5em;
}

#exlidAdvancedSearchRibbon div.EXLBrowseFieldRibbon {
    background-color: #FFFFFF;
    clear: both;
    min-height: 3em;
    border: 1px solid #8fb9d0;
    width: 100%;
    padding: 1em 1em 0.5em 1em;
    margin: 0px;
}

#exlidAdvancedSearchRibbon div.EXLDynamicSelectOnlyOneScope {
    display: none;
}

#exlidAdvancedSearchRibbon div.EXLDynamicSelectBodyRadio a {
    text-decoration: none;
    width: 100%;
    display: block;
}

#exlidAdvancedSearchRibbon div.EXLDynamicSelectBodyRadio a input {
    display: none;
}

#exlidAdvancedSearchRibbon div.EXLDynamicSelectBodyRadio a label {
    width: 100%;
    white-space: nowrap;
    cursor: pointer;
    padding-left: 0.5em;
    padding-right: 1.5em;
}

#exlidAdvancedSearchRibbon div.EXLDynamicSelectBodyRadio div:hover {
    background-color: #f1f1f1
}

#exlidAdvancedSearchRibbon.EXLAdvancedBrowseRibbon {
    width: 96%
}

.EXLAdvancedBrowseRibbon {
    margin-top: 0.5em;
    width: 55em;
}

.EXLAdvancedBrowseRibbon div.EXLDynamicSelectBodyRadio div {
    line-height: 180%;
    width: 100%;
    position: relative;
    min-width: 18em;
}

#exlidAdvancedSearchRibbon.EXLAdvancedBrowseRibbon input#search_field {
    border: none;
    height: 26px;
    width: 93%;
    line-height: 210%;
    vertical-align: bottom;
    padding-left: 0.6em;
}

#exlidAdvancedSearchRibbon.EXLAdvancedBrowseRibbon input#search_field:focus {
    outline: none;
}

.EXLSearchFieldRibbonFormBrowseSearchFor {
    border: 1px solid #8FB9D0;
}

.EXLAdvancedBrowseRibbon div.EXLSearchFieldRibbonFormSubmitSearch {
    width: 10%;
}

#exlidAdvancedSearchRibbon.EXLAdvancedBrowseRibbon input.submit {
    width: 100%;
}
