@mixin text-input {
    background-color: #fff;

}


#exlidSearchRibbon {
    @include reset-margins;
    @include span-columns(12);
    padding: $spacing-small;
}

#exlidSearchRibbon div.EXLSearchFieldRibbon {
    background-color: #FFFFFF;
    height: 26px;
    border: 1px solid #8fb9d0;
    width: 100%;
    padding: 0px;
    margin: 0px;
    float: left;
    display: block;

    @include text-input;
}

#exlidSearchRibbon fieldset {
    float: left;
    width: 90%
}

#exlidSearchRibbon legend {
    display: none
}

#exlidSearchRibbon input {
    width: 96%;
    border: 1px solid #ffffff;
    height: 20px;
    padding-top: 0.2em;
    padding-left: 0.6em;
}

#exlidSearchRibbon input:focus {
    outline: none;
}

#exlidSearchRibbon input.EXLSearchFieldMaximized {
    width: 98%;
}

#exlidSearchRibbon input.submit {
    background-color: #e87107;
    background-image: url(../images/bg_strip_btn_orange.png);
    background-repeat: repeat-x;
    margin: 0em;
    width: 100%;
    color: #FFFFFF;
    font-weight: normal;
    height: 26px;
    cursor: pointer;
    padding-bottom: 0.3em;
    padding-right: 0.6em;
    padding-left: 0.6em;
}

.EXLSearchFieldRibbonFormSubmitSearch {
    float: left;
    width: 9%;
}


