@include media($mobile-down) {
  td.EXLSummary {
    .EXLTabsRibbon {
      display: none;
    }
  }

  td.EXLThumbnail {
    .bg_fix,
    .EXLBriefResultsDisplayCoverImages,
    .multipleCoverImageContainer {
      position: relative;
      width: 48px;
      height: 48px;
      background-size: 48px 74px;
      background-position: center center;
    }
  }
}