.EXLFullDisplay .EXLResultsList  {

	div.EXLResult {
		@include reset-margins;

		.EXLTabsRibbon {
			@include reset-margins;
			width: 100%;
		}
	}

	div.EXLSummaryContainer {
		padding-top: 0;

		div.EXLSummaryFields {
			@include reset-margins;
			padding-left: 0;
		}
	}

}

body.EXLFullView .EXLFullDisplay div.EXLResultTabContainer {
	@include reset-margins;
	width: 100%;
}