
.EXLResultMediaTYPEarticle .multipleCoverImageContainer {
    background-image: url(http://apac-primo-stage.hosted.exlibrisgroup.com/primo_library/libweb/images/icon_article.png);
}

.EXLResultMediaTYPEaudio .multipleCoverImageContainer {
    background-image: url(http://apac-primo-stage.hosted.exlibrisgroup.com/primo_library/libweb/images/icon_audio.png);
}

.EXLResultMediaTYPEbook .multipleCoverImageContainer {
    background-image: url(http://apac-primo-stage.hosted.exlibrisgroup.com/primo_library/libweb/images/icon_book.png);
}

.EXLResultMediaTYPEresearch_dataset .multipleCoverImageContainer {
    background-image: url(http://apac-primo-stage.hosted.exlibrisgroup.com/primo_library/libweb/images/icon_research_dataset.png);
}

.EXLResultMediaTYPEtechnical_report .multipleCoverImageContainer {
    background-image: url(http://apac-primo-stage.hosted.exlibrisgroup.com/primo_library/libweb/images/icon_other.png);
}

.EXLResultMediaTYPEpatent .multipleCoverImageContainer {
    background-image: url(http://apac-primo-stage.hosted.exlibrisgroup.com/primo_library/libweb/images/icon_other.png);
}

.EXLResultMediaTYPEdatabase .multipleCoverImageContainer {
    background-image: url(http://apac-primo-stage.hosted.exlibrisgroup.com/primo_library/libweb/images/icon_database.png);
}

.EXLResultMediaTYPEimage .multipleCoverImageContainer {
    background-image: url(http://apac-primo-stage.hosted.exlibrisgroup.com/primo_library/libweb/images/icon_image.png);
}

.EXLResultMediaTYPEjournal .multipleCoverImageContainer {
    background-image: url(http://apac-primo-stage.hosted.exlibrisgroup.com/primo_library/libweb/images/icon_journal.png);
}

.EXLResultMediaTYPEmap .multipleCoverImageContainer {
    background-image: url(http://apac-primo-stage.hosted.exlibrisgroup.com/primo_library/libweb/images/icon_map.png);
}

.EXLResultMediaTYPEother .multipleCoverImageContainer {
    background-image: url(http://apac-primo-stage.hosted.exlibrisgroup.com/primo_library/libweb/images/icon_other.png);
}

.EXLResultMediaTYPEtext_resource .multipleCoverImageContainer {
    background-image: url(http://apac-primo-stage.hosted.exlibrisgroup.com/primo_library/libweb/images/icon_text_resource.png);
}

.EXLResultMediaTYPEvideo .multipleCoverImageContainer {
    background-image: url(http://apac-primo-stage.hosted.exlibrisgroup.com/primo_library/libweb/images/icon_video.png);
}

.EXLResultMediaTYPEwebsite .multipleCoverImageContainer {
    background-image: url(http://apac-primo-stage.hosted.exlibrisgroup.com/primo_library/libweb/images/icon_website.png);
}

.EXLResultMediaTYPEdissertation .multipleCoverImageContainer {
    background-image: url(http://apac-primo-stage.hosted.exlibrisgroup.com/primo_library/libweb/images/icon_other.png);
}

.EXLResultMediaTYPEgovernment_document .multipleCoverImageContainer {
    background-image: url(http://apac-primo-stage.hosted.exlibrisgroup.com/primo_library/libweb/images/icon_other.png);
}

.EXLResultMediaTYPEreview .multipleCoverImageContainer {
    background-image: url(http://apac-primo-stage.hosted.exlibrisgroup.com/primo_library/libweb/images/icon_other.png);
}

.EXLResultMediaTYPEstatistical_data_set .multipleCoverImageContainer {
    background-image: url(http://apac-primo-stage.hosted.exlibrisgroup.com/primo_library/libweb/images/icon_other.png);
}

.EXLResultMediaTYPEnewspaper_article .multipleCoverImageContainer {
    background-image: url(http://apac-primo-stage.hosted.exlibrisgroup.com/primo_library/libweb/images/icon_newspaper.png);
}

.EXLResultMediaTYPElegal_document .multipleCoverImageContainer {
    background-image: url(http://apac-primo-stage.hosted.exlibrisgroup.com/primo_library/libweb/images/icon_other.png);
}

.EXLResultMediaTYPEcce_entry .multipleCoverImageContainer {
    background-image: url(http://apac-primo-stage.hosted.exlibrisgroup.com/primo_library/libweb/images/icon_other.png);
}

.EXLResultMediaTYPErare_book .multipleCoverImageContainer {
    background-image: url(http://apac-primo-stage.hosted.exlibrisgroup.com/primo_library/libweb/images/icon_book.png);
}
