.EXLMyAccountMainContainer div.EXLMyAccountTips {
    float: right;
    width: 35%;
    border: 1px solid $gold-gray-secondary;
    margin: 0.5em 0em 1em 1em;
    background-image: url(../images/bg_strip_details_links.png);
    background-repeat: repeat-x;
    background-position: bottom;
    height: auto;
    padding: 10px;
    @include prefixer(border-radius, 3px, webkit moz spec);
}

.EXLMyAccountMainContainer div.EXLMyAccountTips em {
    padding-left: 0.5em;
    font-size: 90%
}

.EXLMyAccountMainContainer div.EXLMyAccountTips ul {
    height: 100%;
    padding: 0.5em 0em 1em 0.5em;
}

.EXLMyAccountMainContainer div.EXLMyAccountTips li {
    list-style: none;
    padding-top: 0px;
    padding-right: 0px;
    font-size: 90%;
    margin-bottom: 1em;
    float: left;
}

.EXLMyAccountMainContainer div.EXLMyAccountTips li span.EXLMyAccountTipsBullet {
    padding: 0px;
    margin: 0px;
    background-image: url(../images/bullet_arrow_orange_tip.png);
    background-repeat: no-repeat;
    width: 15px;
    height: 7px;
    float: left;
    display: block;
    clear: left;
    margin-top: 5px;
}

.EXLMyAccountMainContainer div.EXLMyAccountTips li span.EXLMyAccountTipsTitle {
    width: 90%;
    display: block;
    float: left
}

.EXLMyAccountFormContainer div.EXLMyAccountTips form {
    margin-bottom: 1em;
}

.EXLMyAccountFormContainer div.EXLMyAccountTips form table {
    width: 100%;
    padding: 0em;
    margin: 0em;
}

.EXLMyAccountFormContainer div.EXLMyAccountTips form th {
    width: auto;
    white-space: nowrap;
    vertical-align: top;
}

.EXLMyAccountFormContainer div.EXLMyAccountTips form td {
    vertical-align: top;
}

.EXLMyAccountFormContainer div.EXLMyAccountTips form select {
    width: auto;
    line-height: normal;
    vertical-align: top;
}

.EXLMyAccountFormContainer div.EXLMyAccountTips form legend {
    font-size: 90%;
    color: $black;
    font-weight: bold;
    text-indent: 0em;
    margin-bottom: 0.5em;
}

.EXLMyAccountFormContainer div.EXLMyAccountTips label {
    white-space: normal;
    line-height: normal;
}