.EXLLightbox {
    border: 1px solid $white;
    height: auto;
    padding: 0em;
    margin: 0em;
    background-color: $white;
    background-image: none;
    background-repeat: repeat-x;
    background-position: bottom;
    padding-bottom: 1.5em;

    @include prefixer(border-radius, 0, webkit moz spec); // may also use: $form-border-radius
    @include prefixer(box-shadow, 0 0 20px 10px rgba($black, .5), webkit moz spec);

}

.EXLLightbox .exlidRecentness {
    width: 100%;
}

.EXLLightbox div.EXLLightboxHeader {
    background-image: none;
    background-color: $gray-light;
    background-position: bottom;
    background-repeat: repeat-x;
    height: 42px;
    padding: 5px;
    border-bottom: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
}

.EXLLightbox div.EXLLightboxHeader span.EXLLightboxHeaderTitle {
    color: $black;
    font-weight: bold;
    font-size: 90%;
    line-height: 210%;
    margin-left: 1em;
}

.EXLLightbox div.EXLLightboxHeader a.EXLLightboxHeaderClose {
    float: right;
    margin-right: 1em;
    margin-top: 0.6em;
    text-align: right;
}

.EXLLightbox div.EXLLightboxFormContainer {
    font-size: 80%;
    padding: 20px;
}

.EXLLightbox div.EXLLightboxFormContainer div.EXLLightboxHeader {
    background-image: url(../images/lightbox_bg_title.png);
    background-position: bottom;
    background-repeat: repeat-x;
    height: 30px;
    border-bottom: 1px solid $gold-light-secondary;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
}

.EXLLightbox div.EXLLightboxFormContainer div.EXLLightboxFormRow {
    vertical-align: top;
    padding: 0;
    display: block;
    background-color: $white;
}

.EXLLightbox div.EXLLightboxFormContainer div.EXLLightboxFormRow span {
    width: 100%;
    font-weight: normal;
    font-size: $h4-fontsize;
    line-height: $h4-lineheight;
    margin-bottom: 10px;
    display: block;
    white-space: normal;
}

.EXLLightbox div.EXLLightboxFormContainer div.EXLLightboxFormRow label {
    width: auto;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
}

.EXLLightbox div.EXLLightboxFormContainer p {
    background-color: $white;
    padding: 1.5em 1em 0.5em 0em;
    color: #7b7b79;
    font-size: 90%;
    background-color: $white;
}

.EXLLightbox div.EXLLightboxFormContainer select {
    width: 200px;
    padding: 1px;
    color: $black;
    border: 1px solid #c7c7c7;
    background-image: url(../images/lightbox_footer_bg.png);
    background-repeat: repeat-x;
    margin-left: 0em;
    font-family: Arial;
    font-size: 90%;
    margin-top: 0em;
}

.EXLLightbox div.EXLLightboxFormContainer input[type="text"] {
    padding: 2px 0px 2px 0px;
    color: $black;
    border: 1px solid #c7c7c7;
    background-image: url(../images/lightbox_footer_bg.png);
    background-repeat: repeat-x;
    margin-left: 0em;
    width: 198px;
}

.EXLLightbox div.EXLLightboxFormContainer fieldset.EXLLightboxFormDisciplineSelection {
    margin: 0;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid $gold-gray-secondary;
    @include clearfix;

    input[type=checkbox] {
        float: left;
        line-height: 1.2;
        margin-right: 5px;
        height: 28px;
    }

    label {
        float: left;
    }
}

.EXLLightbox div.EXLLightboxFormContainer fieldset.EXLLightboxFormDisciplineSelection ul {
    list-style: none;
    width: 49%;

    ul {
        margin-top: 10px;
        margin-bottom: 5px;
    }
}

.EXLLightbox div.EXLLightboxFormContainer fieldset.EXLLightboxFormDisciplineSelection .EXLLightboxFormDisciplineSelectionColumn1 {
    float: left;
}

.EXLLightbox div.EXLLightboxFormContainer fieldset.EXLLightboxFormDisciplineSelection .EXLLightboxFormDisciplineSelectionColumn2 {
    float: right;
    padding-left: 0.5em
}

.EXLLightbox div.EXLLightboxFormContainer fieldset.EXLLightboxFormDisciplineSelection ul li {
    line-height: 1.4;
    display: block;
    width: 100%;
    margin-bottom: 0;
}

.EXLLightbox div.EXLLightboxFormContainer fieldset.EXLLightboxFormDisciplineSelection ul li label {
    padding-left: 0.2em;
    white-space: nowrap;
    width: auto;
    display: inline;
    float: left;
}

.EXLLightbox div.EXLLightboxFormContainer fieldset.EXLLightboxFormDisciplineSelection ul li label:hover {
    cursor: pointer;
    text-decoration: underline;
}

.EXLLightboxFormButtons {
    margin-top: 0.5em;
}

.EXLLighboxSubmitButton {
    width: auto;
    font-size: 90%;
    margin-left: 0em;
    margin-right: auto;
    margin-top: 0.5em;
    float: left;
    clear: right
}

.EXLLighboxSubmitButton span {
    border: 1px solid lighten($blue, 10%);
    display: block;
    width: 80px;
    height: 20px;
    text-align: center;
    padding: 1px;
}

.EXLLighboxSubmitButton span input,
.EXLLighboxSubmitButton span .EXLSubmit {
    @include button();
    @include set-button-color($gold);
    @include set-button-size;
}

.EXLLighboxCancelButton.EXLLighboxSubmitButton span input {
    @include set-button-color($gold-gray);
}

.EXLLighboxCancelButton span {
    margin-left: 0.5em;
}

.EXLLighboxCancelButton span input {
    background-image: url(../images/bg_strip_btn_grey.png);
    background-color: #f88543;
}

.EXLLightboxFormButtonsLink {
    width: auto;
    font-weight: bold;
    float: right;
    line-height: 150%;
    font-size: 100%;
    margin-top: 0.7em;
    margin-right: 2.5em;
}