#exlidCitationLinkerContainer {
    background-color: $gray-light;
    width: 100%;
    height: 510px;
    padding-top: 2%
}

#exlidCitationLinkerTile {
    clear: left;
    padding: 0em 0em 0em 0em;
    font-size: 80%;
    height: auto;
    width: 96%;
    border: 1px solid $gray-hover;
    background-color: $white;
    margin-left: auto;
    margin-right: auto;
}