$search-button-width: 50px;

@include media($mobile-down) {

  #exlidSearchRibbon {
    display: block;
    width: 100%;
  }

  #exlidSearchRibbon input.EXLSearchFieldMaximized,
  #exlidSearchRibbon input[type=text] {
    padding-right: $search-button-width + 30px;
  }

  #exlidSearchRibbon input.submit {
    width: $search-button-width;
    max-width: $search-button-width;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0;
  }

  .EXLSearchFieldRibbonFormFields {
    float: left;
    width: 100%;
    height: auto;
    position:relative;
  }

  #exlidSearchRibbon .EXLSearchFieldRibbonFormSearchForMaximized,
  #exlidSearchRibbon div.EXLSearchFieldRibbon {
    width: 93%;
  }

  .EXLSearchFieldRibbonFormSearchClear {
    right: 53px;
  }
}
