#exlidSearchRibbon {
    @include reset-margins;
    @include span-columns(8);
    padding: $spacing-small;
}

#exlidSearchRibbon div.EXLSearchFieldRibbon {
    background-color: #FFFFFF;
    height: 26px;
    border: 1px solid #8fb9d0;
    width: 100%;
    padding: 0px;
    margin: 0px;
    float: left;
    display: block;
}

#exlidSearchRibbon fieldset {
    float: left;
    width: 90%
}

#exlidSearchRibbon legend {
    display: none
}

#exlidSearchRibbon input.EXLSearchFieldMaximized,
#exlidSearchRibbon input[type=text] {
    width: 400px;
    border: none;
    height: 18px;
    padding: 10px 20px;

    @include prefixer(box-shadow, inset 2px 2px 4px 0 rgba($black-secondary, .5), webkit moz spec);
}

#exlidSearchRibbon input:focus {
    outline: none;
}

#exlidSearchRibbon input.submit {
    background-color: #e87107;
    background-image: url(../images/bg_strip_btn_orange.png);
    background-repeat: repeat-x;
    margin: 0em;
    width: 100%;
    color: #FFFFFF;
    font-weight: normal;
    height: 26px;
    cursor: pointer;
    padding-bottom: 0.3em;
    padding-right: 0.6em;
    padding-left: 0.6em;
}

.EXLSearchFieldRibbonFormSubmitSearch {
    float: left;
    width: 9%;
}


