#exlidUserAreaRibbon {
  @include reset-margins;
  display: block;
  list-style: none;
  width: auto;
}

#exlidUserAreaRibbon li {
    @include reset-margins;
    font-family: sans-serif;
    font-size: $small-font-size;
    font-weight: normal;
    float: left;
    list-style: none;
    width: auto;
    height: auto;
    border-left: 1px solid $gray;
    overflow: visible;
    background: transparent;

    .EXLUserNameDisplay,
    a {
        font-family: sans-serif;
        color: $gray-dark-secondary;
        text-decoration: none;
        margin: 0 ($spacing-small / 2);
        width: auto;
    }

    &:first-child {
      border-left: none;

      a {
          margin-left: 0;
      }
    }
}

#exlidUserAreaRibbon li.EXLUserName {
    color: $black;
    font-weight: bold;
}

#exlidUserAreaRibbon li span {
    padding-left: 1px;
}

#exlidUserAreaRibbon li span.EXLUserAreaStart {
    /* background-image: url(../images/bg_diagonal_subNav.png); */
    height: 18px;
    width: 19px;
    background-color: transparent;
    float: left;
    padding-left: 0;
    display: none;
}

#exlidUserAreaRibbon li span.EXLUserAreaStartRtl {
    display: nones
}

#exlidUserAreaRibbon li span.EXLMyShelfStarSelected {
    @include retina-image("../images/star_full", 20px 20px);
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    float: left;
    position: relative;
    top: -4px;
    left: -4px;
}

#exlidUserAreaRibbon li a {
    float: left;
    color: $black;
    text-decoration: none;
}

#exlidUserAreaRibbon li a:hover {
    text-decoration: underline;
}

#exlidUserAreaRibbon li.EXLSelectedItem {

}

#exlidUserAreaRibbon li.EXLLastItem {

}

#exlidUserAreaRibbon li.EXLLastItemLoading a {
    width: 100px;
    z-index: 1002;
    background-image: url(../images/icon_sso_loading.gif);
    background-position: 75% 0%;
    background-repeat: no-repeat;
    -moz-opacity: 0.6;
    opacity: 0.60;
    filter: alpha(opacity=60);
    float: right;
}
