
.EXLFooterTile {
    @include reset-margins;
    @include outer-container;
    padding-top: $spacing-large;
    border-top: 1px solid $gold-gray;
    float: none;
}

.EXLFooterTile div.EXLFooterLinksContainer {
    @include span-columns(8)
}

.EXLFooterTile div.EXLFooterUpdateContainer {
    @include span-columns(4);
}

.EXLFooterTile div.EXLFooterUpdateContainer div.EXLFooterLastUpdate {
    color: $gray-dark;
    font-weight: normal;
}

.EXLFooterTile div.EXLFooterUpdateContainer div.EXLFooterAutoUpdate {
    float: right;

    label {
        float: left;
        width: auto;
        line-height: 18px;
    }

    input[type="checkbox"] {
        float: left;
        margin-right: 5px;
        margin-top: 2px;
        height: 20px;
        width: 20px;
        line-height: 18px;
    }

}

.EXLFooterTile div.EXLFooterUpdateContainer div.EXLFooterAutoUpdate

.EXLFooterTile ul {
  @include reset-margins;
  display: block;
  float: left;
  width: 100%;
  list-style: none;
  @include clearfix;
  margin-bottom: $spacing-small;
}

.EXLFooterTile li {
    list-style: none;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid #e2e2e2;

    a {
      font-size: $small-font-size;
    }

}

.EXLFooterTile li.EXLFooterLastLink {
    border-right: none
}

.EXLFooterTile ul.EXLFooterLinksList2 {
    width: 100%
}

.EXLFooterTile ul.EXLFooterLinksList2 li a {
    color: #4a4d51
}

.EXLPleaseWaitIframe {
    position: absolute;
    top: 50px;
    left: 30%;
    background-color: $yellow;
    z-index: 300;
    background-color: $gray-light;
}
