#exlidSaveCitationtile {
  z-index: 1002;
  float: right;
  clear: left;
  padding: 0 0 0 0;
  font-size: 80%;
  width: 65%;
  border: 8px solid $gray-light;
  background-color: $white;
  margin-left: auto;
  margin-right: auto;
}

#exlidSaveCitationtile div.EXLSaveCitationCiteContainer {
  height: 179px;
  overflow: hidden;
  margin-top: 0.1em
}

#exlidSaveCitationtile div.EXLSaveCitationListContainer {
  height: auto;
  overflow: auto;
  overflow-x: hidden;
  margin-top: 0.1em
}

#exlidSaveCitationtile div.EXLSaveCitationListContainer div.EXLSaveCitationFeedback {
  width: 100%;
  border-bottom: 1px solid $gold-gray-secondary;
  background-color: lighten($yellow, 20%);
  font-size: 100%;
  text-align: center;
  display: none
}

#exlidSaveCitationtile div.EXLSaveCitationListContainer div.EXLSaveCitationFeedback strong {
  padding: 0.5em 1.5em 0.5em 0.6em;
  display: block;
  background-image: url(../images/bg_strip_system_feedback.png);
  background-repeat: repeat-x;
  background-position: bottom;
  color: $black;
  font-weight: normal;
}

#exlidSaveCitationtile div.EXLSaveCitationListContainer div.EXLSaveCitationFeedbackResults {
  width: 50%;
  border: 1px solid $gold-gray-secondary;
  background-color: lighten($yellow, 20%);
  font-size: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.5em
}

#exlidSaveCitationtile div.EXLSaveCitationListContainer div.EXLSaveCitationFeedbackResults strong {
  padding: 1em 1.5em 1em 0.6em;
  display: block;
  background-image: url(../images/bg_strip_system_feedback.png);
  background-repeat: repeat-x;
  background-position: bottom;
  color: $black;
  font-weight: normal;
}

#exlidSaveCitationtile div.EXLSaveCitationListContainer div.EXLSaveCitationFeedbackNoResults {
  display: none
}

.EXLSaveCitationReultsAreaHeaderContainer {
  width: 100%;
  clear: right;
}

.EXLSaveCitationReultsAreaHeaderContainer div.EXLSaveCitationSetsHeader {
  background-color: sass;
  height: 26px;
  border-bottom: 1px solid $gold-gray-secondary;
  border-top: 1px solid $white;
  width: 20%;
  float: left;
}

.EXLSaveCitationReultsAreaHeaderContainer div.EXLSaveCitationSetsHeader div.EXLSaveCitationListHeaderTitle {
  width: auto;
  color: $black;
  padding-left: 0.7em;
  line-height: 200%;
  border-right: 1px solid $gold-gray-secondary;
}

.EXLSaveCitationReultsAreaHeaderContainer div.EXLSaveCitationSetsHeader div.EXLSaveCitationListHeaderTitle strong {
  font-weight: normal;
}

.EXLSaveCitationReultsAreaHeaderContainer div.EXLSaveCitationEditSetHeader {
  background-color: sass;
  height: 26px;
  border-bottom: 1px solid $gold-gray-secondary;
  border-top: 1px solid $white;
  width: 80%;
  float: left;
  color: $black;
}

.EXLSaveCitationReultsAreaHeaderContainer div.EXLSaveCitationEditSetHeader div.EXLSaveCitationEditSetHeaderContent {
  width: auto;
  color: $black;
  padding-left: 1em;
  line-height: 200%;
  border-right: 1px solid $gold-gray-secondary;
}

.EXLSaveCitationReultsAreaHeaderContainer div.EXLSaveCitationEditSetHeader div.EXLSaveCitationEditSetHeaderContent input {
  width: 17.5em;
  border: 1px solid lighten($blue, 10%);
  height: 1.5em;
  padding-top: 0;
  padding-left: 0;
  font-size: 1em;
  margin-right: 1em
}

.EXLSaveCitationReultsAreaHeaderContainer div.EXLSaveCitationEditSetHeader div.EXLSaveCitationEditSetHeaderContent span.EXLSaveCitationEditSetHeaderNoteEmpty {
  background-image: url(../images/icon_item_note2.png);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding-right: 1.4em;
}

.EXLSaveCitationReultsAreaHeaderContainer div.EXLSaveCitationEditSetHeader div.EXLSaveCitationEditSetHeaderContent span.EXLSaveCitationEditSetHeaderNoteFull {
  background-image: url(../images/icon_item_note_edit2.png);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding-right: 1.4em;
}

.EXLSaveCitationReultsAreaHeaderContainer div.EXLSaveCitationEditSetHeader div.EXLSaveCitationEditSetHeaderContent div.EXLSaveCitationEditSetHeaderNoteEdit {
  width: 255px;
  height: 135px;
  border: 1px solid $gold-light-secondary;
  position: relative;
  z-index: 1000;
  background-color: $white;
  left: 21.5em;
  padding-left: 0.4em;
  padding-top: 0.5em;
}

.EXLSaveCitationReultsAreaHeaderContainer div.EXLSaveCitationEditSetHeader div.EXLSaveCitationEditSetHeaderContent div.EXLSaveCitationEditSetHeaderNoteHide {
  display: none;
}

.EXLSaveCitationReultsAreaHeaderContainer div.EXLSaveCitationEditSetHeader div.EXLSaveCitationEditSetHeaderContent div.EXLSaveCitationEditSetHeaderNoteEdit textarea {
  width: 240px;
  background-color: lighten($yellow, 25%);
  border: 1px solid $gray-light-secondary;
  margin-bottom: 0.2em;
  font-family: Arial;
  font-size: 1em;
  padding: 0.2em;
}

.EXLSaveCitationReultsAreaHeaderContainer div.EXLSaveCitationEditSetHeaderContent fieldset.EXLMyDBNewSet {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}

#exlidSaveCitationtile div.EXLSaveCitationListContainerReultsArea {
  clear: left;
}

#exlidSaveCitationtile div.EXLSaveCitationList {
  text-align: left;
  width: auto;
  clear: left;
  padding-bottom: 1em
}

#exlidSaveCitationtile div.EXLSaveCitationList div.EXLSaveCitationListRow {
  border: none;
  padding: 0.3em 0 0.1em 0;
  margin: 0px;
  display: block;
  clear: both;
  line-height: 150%;
  padding-left: 1em;
  padding-right: 1.5em;
  overflow: auto;
  height: 10.5em;
}

#exlidSaveCitationtile div.EXLSaveCitationList div.EXLSaveCitationBottomRow {
  border: none;
  padding: 0.1em 0 0.1em 0;
  margin: 0px;
  clear: both;
  line-height: 150%;
  padding-left: 1em;
  padding-right: 1.5em;
  padding-top: 9px;
  height: 2em;
}

#exlidSaveCitationtile div.EXLSaveCitationList div.EXLSaveCitationBottomRow div.EXLSaveCitationListRowSelectText {
  height: 2em;
  display: inline;
}

#exlidSaveCitationtile div.EXLSaveCitationList div.EXLSaveCitationListRowBgColor {
  background-color: $gray-light;
}

#exlidSaveCitationtile div.EXLSaveCitationList div.EXLSaveCitationCheckbox {
  width: 2em;
  float: left;
}

#exlidSaveCitationtile div.EXLSaveCitationList div.EXLSaveCitationCheckbox input {
  width: 1em;
  height: 1em;
  margin-top: 0.2em
}

#exlidSaveCitationtile div.EXLSaveCitationList div.EXLSaveCitationListTitle {
  width: 39em;
  float: left
}

#exlidSaveCitationtile div.EXLSaveCitationList div.EXLSaveCitationListTitle label {
  cursor: pointer;
}

#exlidSaveCitationtile div.EXLSaveCitationList div.EXLSaveCitationListTitle span {
  cursor: pointer;
}

#exlidSaveCitationtile div.EXLSaveCitationList div.EXLSaveCitationListTitleNoAccess label span {
  color: $gray-dark;
  margin-left: 0.5em
}

#exlidSaveCitationtile div.EXLSaveCitationList div.EXLSaveCitationListShowInfo {
  width: auto;
  display: inline-block;
  text-align: right;
}

#exlidSaveCitationtile div.EXLSaveCitationList div.EXLSaveCitationListInfo {
  background-color: lighten($yellow, 25%);
  border-top: 1px solid $gray-light-secondary;
  border-bottom: 1px solid $gray-light-secondary;
  padding: 0.2em 2em 0.5em 3em
}

#exlidSaveCitationtile div.EXLSaveCitationList div.EXLSaveCitationListInfo p strong {
  line-height: 150%
}

#exlidSaveCitationtile div.EXLSaveCitationList div.EXLSaveCitationListInfoHide {
  display: none
}

#exlidSaveCitationtile div.EXLSaveCitationDisclaimerRow {
  min-height: 2em;
  display: block;
  background-color: $gray-light;
  padding: 0.2em;
  clear: both;
  border-top: 1px solid $gold-gray-secondary;
}

#exlidSaveCitationtile div.EXLSaveCitationDisclaimerRow div.EXLSaveCitationDisclaimer {
  background-color: $gray-light;
  color: $anchor-color;
  font-size: 85%;
  text-align: center;
  padding: 0.5em;
  margin-top: 0.2em;
  border: 2px solid $gold-gray-secondary;
}

.EXLSaveCitationHeader {
  background-color: $white;
  border-bottom: 2px solid $gold;
  width: 100%;
  clear: both;
  display: block;
  height: 3em;
}

.EXLSaveCitationHeader h1 {
  float: left;
  font-size: 100%;
  color: $black;
  line-height: 300%;
  padding-left: 1em;
  margin-bottom: 0 !important;
}

.EXLSaveCitationHeader div.EXLSaveCitationHeaderButtons {
  padding: 0;
  width: 35%;
  float: right;
  text-align: right;
  height: 18px;
  padding-top: 0.8em;
  margin-right: 0.5em
}

.EXLSaveCitationHeader div.EXLSaveCitationHeaderButtons ul {
  float: right;
  margin-bottom: 9px;
}

.EXLSaveCitationHeader div.EXLSaveCitationHeaderButtons li {
  list-style: none;
  float: left;
  height: 18px;
  border-right: 0px solid $gold-gray-secondary;
}

.EXLSaveCitationHeader div.EXLSaveCitationHeaderButtons li span {
  background-image: none;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  display: inline;
  float: left;
}

.EXLSaveCitationHeader div.EXLSaveCitationHeaderButtons li a {
  padding: 0.2em 0.2em 0.2em 0.2em;
  cursor: pointer;
  text-decoration: none
}

.EXLSaveCitationHeader div.EXLSaveCitationHeaderButtons li a span.EXLSaveCitationHeaderButtonCloseLabel {
  display: none
}

.EXLSaveCitationHeader div.EXLSaveCitationHeaderButtons li a span.EXLSaveCitationHeaderButtonHelpLabel {
  display: inline
}

.EXLSaveCitationHeader div.EXLSaveCitationHeaderButtons li a:hover span.EXLSaveCitationHeaderButtonHelpLabel {
  text-decoration: underline
}

.EXLSaveCitationHeader div.EXLSaveCitationHeaderButtons li a span.EXLSaveCitationHeaderButtonHelp {
  background-image: none;
  background-position: center;
  border-right: 1px solid $gold-gray-secondary;
}

.EXLSaveCitationHeader div.EXLSaveCitationHeaderButtons li a span.EXLSaveCitationHeaderButtonClose {
  content: $icon-remove;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#exlidSaveCitationtile div.EXLSaveCitationListContainer div.EXLSaveCitationSetsContainerLoggedIn {
  width: 20%;
  float: left;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 0.1em;
  border-right: 1px solid $gold-gray-secondary;
}

#exlidSaveCitationtile div.EXLSaveCitationSets {
  text-align: left;
  width: auto;
  clear: left;
  padding: 0;
  margin: 0;
  height: 173px;
  overflow: auto;
  overflow-x: hidden;
}

#exlidSaveCitationtile div.EXLSaveCitationSets ul {
  padding: 0;
  margin: 0;
  display: block;
  clear: both;
}

#exlidSaveCitationtile div.EXLSaveCitationSets ul li {
  list-style-type: none;
  background-color: $white;
  border-bottom: 1px solid $gold-gray-secondary;
  padding: 10px;
  clear: left;
  margin: 0;
}

#exlidSaveCitationtile div.EXLSaveCitationSets ul li a {
  color: $black;
  text-decoration: none;
}

#exlidSaveCitationtile div.EXLSaveCitationSets ul li.EXLSaveCitationSetsTitleSelected {
  background-color: lighten($yellow, 25%);
}

#exlidSaveCitationtile div.EXLSaveCitationSets ul li strong {
  white-space: pre-wrap;
  display: block;
}

#exlidSaveCitationtile div.EXLSaveCitationSets ul li em {
  color: $gold;
  letter-spacing: 0.1em;
}

#exlidSaveCitationtile div.EXLSaveCitationSets ul li span {
  font-size: 90%;
}

#exlidSaveCitationtile div.EXLSaveCitationSets ul li a.EXLSaveCitationSetsTitleDelete {
  margin-right: 0.1em;
  margin-top: -1em;
  border: 0px solid red;
  float: right;
  clear: right;
}

#exlidSaveCitationtile div.EXLSaveCitationSets ul li.EXLSaveCitationSetsTitleSelected {
  background-color: lighten($yellow, 25%);
}

#exlidSaveCitationtile div.EXLSaveCitationSets ul li strong {
  white-space: pre-wrap;
  display: block;
}

#exlidSaveCitationtile div.EXLSaveCitationSets ul li em {
  color: $gold;
  letter-spacing: 0.1em;
}

#exlidSaveCitationtile div.EXLSaveCitationSets ul li span {
  font-size: 90%;
}

#exlidSaveCitationtile div.EXLSaveCitationSets ul li a.EXLSaveCitationSetsTitleDelete {
  margin-right: 0.1em;
  margin-top: -1em;
  border: 0px solid red;
  float: right;
  clear: right;
}

#exlidSaveCitationContainer #exlidCiteContainer {
  height: 154px;
}

#exlidSaveCitationTile div.EXLSaveCitationListContainerMyDatabases div.EXLSaveCitationListContainer {
  float: left;
  width: 78%;
}

div.EXLSaveCitationBottomRow span.EXLSaveCitationEditSetHeaderAddtoSet {
  background-color: $white;
  background-position: 90% 50%;
  background-repeat: no-repeat;
  border: 1px solid $gold-light;
  padding: 0.1em 1.8em 0.1em 0.5em;
}

div.EXLSaveCitationListRow div.EXLFindDBEditSetHeaderContent {
  border-right: 1px solid $gold-gray-secondary;
  color: $black;
  line-height: 200%;
  padding-left: 1em;
  width: auto;
}

#exliWhiteContent[style] {
  z-index: 1002 !important;
}

#exliWhiteContent {
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -400px;
  width: 800px;
  height: auto;
  z-index: 1002;

  #exliPrimoLightBoxdiv {
    height: auto;
    width: 100%;
  }

  #exlidSaveCitationtile {
    width: 100%;
  }
}

@include media($tablet) {
  #exliWhiteContent {
    width: 540px;
    margin-left: -270px;
  }
}

