
.EXLTabsRibbon {
    @include reset-margins;
    height: auto;
    border-bottom: 1px solid $gold-gray;
    @include clearfix;
}

.EXLTabsRibbon div {
    width: 90%;
    margin: 0px;
    clear: left;
    float: left;
    margin-left: 0em;
}

.EXLTabsRibbon div ul {
    margin-left: 0em;
    margin-bottom: 0em
}

.EXLTabsRibbon div li {
    @include reset-margins;
    line-height: $base-line-height;
    font-size: $small-font-size;
    display: inline;
    height: auto;
    cursor: pointer;
}

.EXLTabsRibbon div li.EXLResultTab {
    @include reset-margins;
    font-family: $tabs-font-family;
    font-size: $small-font-size;
    float: left;
    color: $black;
}

.EXLTabsRibbon div li.EXLResultTab a {
    padding: (($tabs-height - $tabs-font-size) / 2) ($tabs-height / 2);
    color: $anchor-color;
    background: $gray-light;
    border: 1px solid $white;

    &:hover {
      background: $gray-light-secondary;
      text-decoration: none;
    }
}

.EXLTabsRibbon div li.EXLResultTabIconPopout {
    background-image: url(../images/icon_popout_tab.png);
    background-repeat: no-repeat;
    background-position: 100%;
}

.EXLTabsRibbon div li.EXLResultTabIconPopout a {
    padding-right: 6px;
}

.EXLTabsRibbon div li.EXLResultTabIconSFX {
    background-image: url(../images/icon_sfx.png);
    background-repeat: no-repeat;
    background-position: 100%;
}

.EXLTabsRibbon div li.EXLResultTabIconSFX a {
    padding-right: 6px;
}

.EXLTabsRibbon div a:hover {
    text-decoration: underline;
}

.EXLTabsRibbon div li.EXLResultSelectedTab {
    border: 1px solid #8fb9d0;
    border-bottom: 1px solid #dcf1fc;
    background-color: #FFFFFF;
    height: 15px;
    background-image: url(../images/bg_strip_brief_tabs.png);
    background-repeat: repeat-x;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    float: left;
    font-weight: bold;
    text-decoration: none;
    padding-left: 0.8em;
    padding-right: 0.8em;
    margin-right: 0px;
    color: #555555;
    margin-left: 0.5em
}

.EXLTabsRibbon div li.EXLResultSelectedTab a {
    color: #32322f;
    padding-right: 0px;
}

.EXLTabsRibbon div li.EXLResultFirstTab {
    padding-left: 0em;
    margin-left: 0em
}

.EXLTabsRibbon div li.EXLFirstSelectedTab {
    padding-left: 0.5em;
}

.EXLTabsRibbonClosed {
    border-bottom: none;
    margin-bottom: 0.5em;
    clear: left
}

.EXLTabsRibbonClosed div li.EXLResultFirstTab {
    padding-left: 0em;
}

.EXLResultTabContainer {
    height: auto;
    border: none;
    border-top: none;
    margin-bottom: 1em;
    clear: left
}

.EXLResultTabContainerClosed {
    display: none;
    clear: left
}

.EXLResult .EXLTabContent iframe {
    height: 17em;
    width: 100%;
}

.EXLFullView .EXLResult .EXLTabContent iframe {
    height: 30em;
}

.EXLTabsRibbon div li.EXLRecommendTabDisable {
    display: none;
}
