$search-tab-height: 40px;
$search-tab-font-size: 18px;

@mixin add-text-shadow($color) {
    @include prefixer(text-shadow, 0 2px 1px rgba($color, .5), webkit moz spec);
}

#exlidSearchRibbon div.EXLSearchTabsContainer {
    @include reset-margins;
    @include span-columns(12);
    height: auto;
}

#exlidSearchTabs {
    @include reset-margins;
    height: auto;
    z-index: 100;
    position: relative;
}

#exlidSearchTabs {
    @include reset-margins;
    list-style-type: none;
    float: left;
    color: $white;
    line-height: $search-tab-font-size;
    clear: right;
}

#exlidSearchTabs li {
    float: left;
    padding: (($search-tab-height - $search-tab-font-size) / 2) 0;

    a {
        display: block;
        float: left;
        text-align: center;
        color: $white;
        padding: 2px ($search-tab-height / 2);
        cursor: pointer;
        @include add-text-shadow($black);
        border-right: 1px solid $white;
    }

    &:first-child {

        a {
            padding-left: 0;
        }

    }

    &:last-child {

        a {
            border-right: none;
        }

    }
}

#exlidSearchTabs li {
    border: none;
    height: auto;
}

#exlidSearchTabs li.EXLSearchTabSelected {
    float: left;
    border: none;
    padding: (($search-tab-height - $search-tab-font-size) / 2) 0;
    color: $yellow;
    background-color: transparent;
    height: auto;
    background-image: none;
    text-align: left;
    font-weight: bold;

    a {
        color: $yellow;
        padding: 2px ($search-tab-height / 2);
    }
}