.EXLMyAccountContainer {
    width: auto;
    padding-left: 0.4em;
    padding-right: 1em;
    padding-top: 1em;
    margin-top: 0em;
    height: auto;
    background-color: $gray-light;
    border-top: 1px solid $white;
    padding-bottom: 3em;
}

.EXLMyAccountContainer .EXLMyAccountMainMenuTileMyQueries {
}

.EXLMyAccountContainer .EXLMyAccountQueriesMainContainer {
}

.EXLMyAccountLinksContainer {
    float: left;
    height: auto;
    padding-top: 0.7em;
    padding-left: 2em;
    min-width: 40%;
    max-width: 60%;
}

.EXLMyAccountLinksContainer span.EXLMyAccountMainHeaderContentSeparator {
    float: left;
    padding-right: 2em;
    display: inline-table;
    background-image: url(../images/vseparator_pixel.png);
    background-repeat: repeat-y;
    height: 17px;
    width: 1px;
    background-position: center
}

.EXLMyAccountPayFineLinkContainer {
    min-width: 16em;
    max-width: 40em;
    float: left;
    height: auto;
    padding-top: 0.7em;
    padding-left: 2em;
}

.EXLMyAccountPayFineLinkContainer span.EXLMyAccountMainHeaderContentSeparator {
    float: left;
    padding-right: 2em;
    display: inline-table;
    background-image: url(../images/vseparator_pixel.png);
    background-repeat: repeat-y;
    height: 17px;
    width: 1px;
    background-position: center
}

.EXLMyAccountPayFineLinkHeader {
    padding-bottom: 0.1em;
    padding-top: 0.1em;
    height: auto;
    width: auto
}

.EXLMyAccountLinks {
    border: 1px solid lighten($gray-light-secondary, 20%);
    color: $black;
    display: block;
    float: left;
    margin-right: 1em;
    padding: 1px 0;
    max-width: 30em;
    min-width: 5em;
    width: auto;
}

.EXLMyAccountLinksHedaer {
    padding-bottom: 0.1em;
    padding-top: 0.1em;
    height: auto;
    width: auto
}

.EXLMyAccountLinksHedaerContainer {
    padding-top: 0.1em;
}

.EXLMyAccountFinesBalanceLink span.EXLMyAccountLinks {
    padding-top: 0.1em;
}

.EXLMyAccountMainContainer table td.EXLMyAccountFinesBalanceLink {
    vertical-align: bottom;
}

.EXLMyAccountMainContainer table td.EXLMyAccountFinesBalanceLink span.EXLMyAccountLinks {
    width: 100%;
}

.EXLMyAccountLinks img {
    padding-left: 0.5em;
}

.EXLMyAccountLinks .EXLMyAccountPayFineLinkText {
    font-weight: bold;
    color: black;
    font-size: 14px;
}

.EXLMyAccountLinks .EXLMyAccountPayFineLinkSum {
    font-weight: bold;
    color: red;
    font-size: 14px;
}

.EXLMyAccountMainMenuTile {
    width: 12.5em;
    float: left;
}

.EXLMyAccountMainMenuContainer ol {
    margin: 0em 0.5em 0em 0.5em;
    border: 1px solid $gray-hover;
    list-style-position: outside;
    list-style: none;
    padding: 1em 1em 1em 0em;
    background-color: $white;
    min-height: 9.5em;
    height: auto;
}

.EXLMyAccountMainMenuContainer ol li {
    font-size: 80%;
    padding-bottom: 0em;
    padding-top: 0em;
    line-height: 200%;
    font-weight: bold;
    color: lighten($black, 10%);
}

.EXLMyAccountMainMenuContainer ol li a,
.EXLMyAccountMainMenuContainer ol li a:visited {
    font-weight: bold;
    color: lighten($black, 10%);
}

.EXLMyAccountMainMenuContainer ol li span.EXLMyAccountMainMenuBullet {
    padding: 0px;
    margin: 0px;
    background-image: none;
    background-repeat: no-repeat;
    width: 17px;
    height: 1em;
    max-height: 2em;
    float: left;
    display: block;
    clear: left;
    margin-top: 6px;
    position: relative;
    left: -5px;
}

.EXLMyAccountMainMenuContainer ol li span.EXLMyAccountMainMenuBulletSelected {
    padding: 0px;
    margin: 0px;
    background-image: url(../images/bullet_myAccount_menu.png);
    background-repeat: no-repeat;
    width: 17px;
    height: 1em;
    max-height: 2em;
    float: left;
    display: block;
    clear: left;
    margin-top: 6px;
    position: relative;
    left: -5px;
}

.EXLMyAccountMainMenuContainer ol li span.EXLMyAccountMainMenuTitle {
    width: 80%;
}

.EXLMyAccountMainMenuContainer ol li span.EXLMyAccountMainMenuCounter {
    font-size: 90%;
    width: 10%;
    text-align: right;
    color: $gray-dark;
    font-weight: normal;
    padding-left: 0.2em
}

.EXLMyAccountMainMenuContainer ol li.EXLMyAccountMainMenuWarning span {
    color: $alert-red-text;
    font-weight: bold
}

.EXLMyAccountMainMenuContainer ol li.EXLMyAccountMainMenuWarning span.EXLMyAccountMainMenuCounter {
    padding-left: 0em;
    background-image: url(../images/icon_exclamation.png);
    background-repeat: no-repeat;
    display: inline-block;
    background-position: 100% 55%;
}

.EXLMyAccountMainContainer {
    width: auto;
    border: 1px solid $gray-light;
    background-color: $white;
    margin-left: 14.5em;
    width: auto;
    font-size: 90%;
    vertical-align: text-top;
    margin-bottom: 2em;
    padding-bottom: 2em
}

.EXLMyAccountMainContainer div.EXLMyAccountMainHeader {
    border-bottom: 1px solid $gold-gray-secondary;
    height: 38px;
    background-color: lighten($gray-light-secondary, 20%);
    width: auto;
    vertical-align: top;
    font-size: 90%;
}

.EXLMyAccountMainContainer div.EXLMyAccountMainHeader div.EXLMyAccountMainHeaderTitle {
    width: auto;
    float: left;
    padding-top: 0.7em;
    padding-left: 2%;
}

.EXLMyAccountMainHeaderTitle div.EXLMyAccountMainHeaderContent {
    width: auto;
    color: $black;
    padding-bottom: 0.1em;
    padding-top: 0.1em
}

.EXLMyAccountMainHeaderTitle div.EXLMyAccountMainHeaderContent span {
    width: auto;
    color: $black;
    margin-right: 1em;
    display: block;
    float: left;
    border: 1px solid lighten($gray-light-secondary, 20%);
    padding: 1px 0px 1px 0px;
}

.EXLMyAccountMainHeaderTitle div.EXLMyAccountMainHeaderContent span.EXLMyAccountMainHeaderContentSelected {
    background-color: $white;
    border: 1px solid lighten($blue, 10%);
    display: inline;
    padding: 1px 5px 1px 5px;
    font-weight: bold
}

.EXLMyAccountMainContainer div.EXLMyAccountMainHeader div.EXLMyAccountMainHeaderTitle h1 {
    font-size: 100%;
    line-height: 150%;
}

.EXLMyAccountMainContainer div.EXLMyAccountMainHeader div.EXLMyAccountMainHeaderTitle h1 span {
    font-weight: normal;
    margin-left: 0.5em
}

.EXLMyAccountMainHeaderTitle div.EXLMyAccountMainHeaderContent span.EXLMyAccountMainHeaderContentSeparator {
    background-image: url(../images/vseparator_pixel.png);
    background-repeat: repeat-y;
    height: 17px;
    width: 1px;
    background-position: center
}

.EXLMyAccountMainContainer div.EXLMyAccountMainHeaderButtons {
    padding: 0em;
    margin: 0px;
    width: 35%;
    float: right;
    text-align: right;
    padding-top: 1em;
    padding-right: 2%;
    font-size: 90%;
    display: none
}

.EXLMyAccountMainContainer table {
    text-align: left;
    width: 96%;
    font-size: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
}

.EXLMyAccountMainContainer table caption {
    text-align: left;
    padding-top: 0.3em;
    padding-bottom: 0.8em;
    margin-top: 0.5em;
}

.EXLMyAccountMainContainer table caption.EXLCaptionSystemFeedback {
    background-color: lighten($yellow, 20%);
    background-image: url(../images/bg_strip_system_feedback.png);
    background-repeat: repeat-x;
    background-position: bottom;
    color: $black;
    font-weight: normal;
    border: 1px solid $gold-gray-secondary;
    padding: 0.5em 0em 0.5em 0.5em;
}

.EXLMyAccountMainContainer table th {
    text-align: left;
    border-bottom: 1px solid $gold-gray;
    padding-top: 0.2em;
    padding-bottom: 0em;
    color: $black;
    width: auto;
    padding-right: 1.5em;
    vertical-align: bottom;
}

.EXLMyAccountMainContainer table caption.EXLCaptionSystemFeedbackRenewAll {
    background-color: lighten($yellow, 20%);
    background-image: url(../images/bg_strip_system_feedback.png);
    background-repeat: repeat-x;
    background-position: bottom;
    color: $black;
    font-weight: normal;
    border: 1px solid $gold-gray-secondary;
    padding: 0.5em 0em 0.5em 0.5em;
}

.EXLMyAccountMainContainer table td {
    border: none;
    padding: 0.1em 0em 0.1em 0em;
    margin: 0px;
    vertical-align: text-top;
    padding-right: 1em
}

.EXLMyAccountMainContainer table tr.EXLMyAccountTableRowBgColor {
    background-color: $gray-light
}

.EXLMyAccountMainContainer table tr.EXLMyAccountTableRowHighlight {
    background-color: lighten($yellow, 20%)
}

.EXLMyAccountMainContainer table.EXLMyAccountTableDetails {
    margin-top: 1em;
}

.EXLMyAccountMainContainer table.EXLMyAccountTableDetails td {
    font-weight: normal;
    width: auto;
    vertical-align: text-top;
    border-bottom: 1px solid $gray-light
}

.EXLMyAccountMainContainer table.EXLMyAccountTableDetails th {
    font-weight: bold;
    border: none;
    width: 10em;
    white-space: nowrap;
    padding-top: 0em;
    padding-bottom: 0em;
    vertical-align: text-top;
    border-bottom: 1px solid lighten($gray-light, 5%);
    color: $black;
}

a.EXLLoansRenewButton {
    color: $gold;
    padding-right: 2em;
}

.EXLLocationsWaitButton {
    display: none;
    background-color: white;
    z-index: 1002;
    @include retina-image("../images/icon_loading_circle", 24px 24px, "gif");
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    -moz-opacity: 0.6;
    opacity: 0.60;
    filter: alpha(opacity=60);
}

.EXLMyQueriesContainer div.EXLMyAccountMainMenuTile {
    width: 14.5em;
}

.EXLMyQueriesContainer div.EXLMyAccountMainContainer {
    margin-left: 16.5em;
}

.EXLMyQueriesContainer div.EXLMyAccountMainMenuContainer ol {
    height: 3em;
}

.EXLMyQueriesContainer div.EXLMyAccountMainMenuContainer ol li span.EXLMyAccountMainMenuCounter {
    padding-left: 0.5em
}

.EXLMyAccountMainContainer table.EXLMyAccountTable td.EXLMyAccountTableRSSLink img {
    background-color: $alert-green;
    vertical-align: text-top;
    margin-right: 0.5em
}

.EXLMyAccountMainContainer iframe.EXLMyAccountLibraryCardIframe {
    overflow: scroll;
    margin-bottom: -2em;
}

.EXLMyAccountMainHeader div.EXLMyShelfTableHeaderButtons {
    padding: 0em;
    width: 35%;
    float: right;
    text-align: right;
    height: 18px;
    padding-top: 0.8em
}

.EXLMyAccountMainHeader div.EXLMyShelfTableHeaderButtons ul {
    float: right;
    margin-bottom: 9px;
}

.EXLMyAccountMainHeader div.EXLMyShelfTableHeaderButtons li {
    list-style: none;
    float: left;
    height: 18px;
    border-right: 1px solid $gold-gray-secondary;
}

.EXLMyAccountMainHeader div.EXLMyShelfTableHeaderButtons li.EXLMyShelfTableHeaderButtonSendTo {
    list-style: none;
    float: left;
    height: 18px;
    border-right: 0px solid $gold-gray-secondary;
}

.EXLMyAccountMainHeader div.EXLMyShelfTableHeaderButtons li span {
    background-image: none;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    display: inline;
    float: left;
}

.EXLMyAccountMainHeader div.EXLMyShelfTableHeaderButtons li a {
    padding: 0.2em 0.2em 0.2em 0.2em;
    color: $black;
    cursor: pointer
}

.EXLMyAccountMainHeader div.EXLMyShelfTableHeaderButtons li a span.EXLMyShelfTableHeaderButtonLabel {
    display: none
}

.EXLMyAccountMainHeader div.EXLMyShelfTableHeaderButtons li a span.EXLMyShelfTableHeaderButtonCut {
    background-image: url(../images/icon_my_shelf_cut.png);
}

.EXLMyAccountMainHeader div.EXLMyShelfTableHeaderButtons li a span.EXLMyShelfTableHeaderButtonCopy {
    background-image: url(../images/icon_my_shelf_copy.png);
    margin-left: 0.5em
}

.EXLMyAccountMainHeader div.EXLMyShelfTableHeaderButtons li a span.EXLMyShelfTableHeaderButtonPaste {
    background-image: url(../images/icon_my_shelf_paste.png);
    margin-left: 0.5em
}

.EXLMyAccountMainHeader div.EXLMyShelfTableHeaderButtons li a span.EXLMyShelfTableHeaderButtonDelete {
    background-image: url(../images/icon_my_shelf_delete.png);
    margin-left: 0.5em
}

.EXLMyShelfTableHeaderButtonSendTo {
    padding-right: 0.5em;
    text-align: left;
    margin-left: 0.5em;
    margin-right: 0.5em
}

