.multipleCoverImageContainer {
    position: relative;
    margin: auto;
    width: 70px;
    height: 110px;
    @include retina-image("../images/icon_book", 70px 110px);
    background-repeat: no-repeat;
    border: 1px solid $gold-gray-secondary;
}

.coverImageDiv {
    position: absolute;
    top: 0px;
    left: 0px;
}

.EXLResultMediaTYPEarticle .multipleCoverImageContainer {
    @include retina-image("../images/icon_article", 70px 110px);
}

.EXLResultMediaTYPEaudio .multipleCoverImageContainer {
  @include retina-image("../images/icon_audio", 70px 110px);
}

.EXLResultMediaTYPEbook .multipleCoverImageContainer {
    @include retina-image("../images/icon_book", 70px 110px);
}

.EXLResultMediaTYPEresearch_dataset .multipleCoverImageContainer {
  @include retina-image("../images/icon_research_dataset", 70px 110px);
}

.EXLResultMediaTYPEtechnical_report .multipleCoverImageContainer {
  @include retina-image("../images/icon_other", 70px 110px);
}

.EXLResultMediaTYPEpatent .multipleCoverImageContainer {
  @include retina-image("../images/icon_other", 70px 110px);
}

.EXLResultMediaTYPEdatabase .multipleCoverImageContainer {
  @include retina-image("../images/icon_database", 70px 110px);
}

.EXLResultMediaTYPEimage .multipleCoverImageContainer {
  @include retina-image("../images/icon_image", 70px 110px);
}

.EXLResultMediaTYPEjournal .multipleCoverImageContainer {
  @include retina-image("../images/icon_journal", 70px 110px);
}

.EXLResultMediaTYPEmap .multipleCoverImageContainer {
  @include retina-image("../images/icon_map", 70px 110px);
}

.EXLResultMediaTYPEother .multipleCoverImageContainer {
  @include retina-image("../images/icon_other", 70px 110px);
}

.EXLResultMediaTYPEtext_resource .multipleCoverImageContainer {
  @include retina-image("../images/icon_text_resource", 70px 110px);
}

.EXLResultMediaTYPEvideo .multipleCoverImageContainer {
  @include retina-image("../images/icon_video", 70px 110px);
}

.EXLResultMediaTYPEwebsite .multipleCoverImageContainer {
  @include retina-image("../images/icon_website", 70px 110px);
}

.EXLResultMediaTYPEdissertation .multipleCoverImageContainer {
  @include retina-image("../images/icon_other", 70px 110px);
}

.EXLResultMediaTYPEgovernment_document .multipleCoverImageContainer {
  @include retina-image("../images/icon_other", 70px 110px);
}

.EXLResultMediaTYPEreview .multipleCoverImageContainer {
  @include retina-image("../images/icon_other", 70px 110px);
}

.EXLResultMediaTYPEstatistical_data_set .multipleCoverImageContainer {
  @include retina-image("../images/icon_other", 70px 110px);
}

.EXLResultMediaTYPEnewspaper_article .multipleCoverImageContainer {
  @include retina-image("../images/icon_newspaper", 70px 110px);
}

.EXLResultMediaTYPElegal_document .multipleCoverImageContainer {
  @include retina-image("../images/icon_other", 70px 110px);
}

.EXLResultMediaTYPEcce_entry .multipleCoverImageContainer {
  @include retina-image("../images/icon_other", 70px 110px);
}

.EXLResultMediaTYPErare_book .multipleCoverImageContainer {
  @include retina-image("../images/icon_book", 70px 110px);
}
