$search-tab-height: 33px;
$search-tab-font-size: 14px;

@mixin add-text-shadow($color) {
    @include prefixer(text-shadow, 0 2px 1px rgba($color, .5), webkit moz spec);
}

#exlidSearchRibbon div.EXLSearchTabsContainer {
    @include reset-margins;
    height: auto;
    position: absolute;
    z-index: 10;
}

#exlidSearchTabs {
    @include reset-margins;
    height: auto;
    z-index: 0;
    position: relative;
    float: left;
}

#exlidSearchTabs {
    list-style-type: none;
    line-height: $search-tab-font-size;
    color: $white;
}

#exlidSearchTabs li {
    @include reset-margins;
    float: left;
    margin-left: -2px;
    padding: 0;
    border: 0;

    a {
        font-size: $search-tab-font-size;
        display: block;
        float: left;
        text-align: center;
        color: $gray-dark-secondary;
        padding: (($search-tab-height - $search-tab-font-size) / 2) 15px ((($search-tab-height - $search-tab-font-size) / 2) + 2px) 15px;
        cursor: pointer;
        background: $white;
        border: 1px solid $gray-dark-secondary;
    }

    &:first-child {
        margin-left: 0;
        
        a {
            -webkit-border-top-left-radius: 4px;
            -webkit-border-bottom-left-radius: 4px;
            -moz-border-radius-topleft: 4px;
            -moz-border-radius-bottomleft: 4px;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
    }


    &:last-child {
        a {
            -webkit-border-top-right-radius: 4px;
            -webkit-border-bottom-right-radius: 4px;
            -moz-border-radius-topright: 4px;
            -moz-border-radius-bottomright: 4px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }

}

#exlidSearchTabs li {
    list-style: none;
    border: none;
    height: auto;
}

#exlidSearchTabs li.EXLSearchTabSelected {
    @include reset-margins;
    float: left;
    margin-left: -2px;
    padding: 0;
    height: auto;
    background-image: none;
    background-color: transparent;
    text-align: left;
    border: 0;

    a {
        color: $white;
        background-color: $gray-dark-secondary;
        border: 1px solid $gray-dark-secondary;
        font-weight: bold;
    }
}
