$search-tab-height: 40px;
$search-tab-font-size: 18px;


#exlidSearchRibbon div.EXLSearchTabsContainer {
    display: block;
    height: auto;
}

#exlidSearchTabs {
    @include reset-margins;
    height: auto;
    z-index: 100;
    position: relative;
}

#exlidSearchTabs {
    @include reset-margins;
    list-style-type: none;
    float: left;
    color: $white;
    line-height: $search-tab-font-size;
    clear: right;
}

#exlidSearchTabs li {
    float: left;
    padding: 0;

    a {
        display: block;
        float: left;
        text-align: center;
        color: $white;
        padding: (($search-tab-height - $search-tab-font-size) / 2) ($search-tab-height / 2);
        padding-right: 0;
        cursor: pointer;
    }
}

#exlidSearchTabs li {
    border: none;
    height: auto;
}

#exlidSearchTabs li.EXLSearchTabSelected {
    float: left;
    padding: 0;
    color: $yellow;
    background-color: transparent;
    height: auto;
    background-image: none;
    background-repeat: repeat-x;
    text-align: left;
    font-weight: bold;
}