.EXLResultsList {
    @include reset-margins;
    font-size: $base-font-size;
    margin-top: 0em;
    margin-bottom: 0em;
    border-top: 1px solid $gold-gray-secondary;
    width: 100%;
}

.EXLResultsList table {
    width: 100%;
}

.EXLResultsList th {

}

.EXLResultsList td {
    @include reset-margins;
    vertical-align: top;
    border-bottom: 1px solid #dfdfdf;
}

.EXLResultsList h2 {
    @include reset-margins;
    font-size: $h4-fontsize;
    line-height: $h4-lineheight;
    margin-bottom: 10px;
}

.EXLResultsList h3 {
  @include reset-margins;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: normal;
  margin-bottom: 10px;
}

.EXLResultsList p,
.EXLResultsList .EXLResultDetails {
  display: block;
  margin-bottom: 10px;
}

.EXLResultsList p.EXLResultAvailability {
  display: block;
  margin-bottom: 20px;
}

.EXLResultsList p.EXLResultSnippet {
    color: $gray;
}

.EXLResultsList p.EXLResultSnippet b.searchword {
    color: $black;
}

.EXLResultsList p.EXLTocLink {
    font-weight: bold;
    margin-top: 1em;
    color: $anchor-color;
    font-size: 95%;
}

.EXLResultsList span.EXLResultVersionFound {
    color: #E87107;
    font-weight: bold;
}

body.EXLFullView div.EXLResultsList h1.EXLResultTitle {
    font-size: $h3-fontsize;
    margin-bottom: 12px;
}

body.EXLFullView div.EXLResultsList h2.EXLResultAuthor {
    @include reset-margins;
    font-size: 100%;
    font-weight: normal;
    margin-bottom: 12px;

}

.EXLResultsList div.EXLSummaryContainer {
    width: 100%;
    min-height: $thumbnail-height + $spacing-medium;
    padding: ($result-padding-vertical - 4px) 0 0 0;
    @include clearfix;
}

.EXLResultsList div.EXLSummaryContainer div.EXLSummaryFields {
    float: left;
    width: 77%;
}

.EXLResultsList div.EXLSummaryContainer cite.EXLResultFRBR {
    float: right;
    background-color: #efefef;
    font-size: 100%;
    font-style: normal;
    max-height: 22px;
    max-width: 195px;
}

.EXLResultsList div.EXLSummaryContainer cite.EXLResultFRBR span.EXLResultBgFRBR {
    background-image: url(../images/bg_diagonal_frbr.png);
    background-repeat: no-repeat;
    width: 22px;
    background-color: #ffffff;
    background-position: center;
    display: block;
    height: 22px;
    float: left;
    clear: right
}

.EXLResultsList div.EXLSummaryContainer cite.EXLResultFRBR span.EXLResultBgRtlFRBR {
    display: none
}

.EXLResultsList cite a {
    padding: 0em 0.5em 0em 0.1em;
    line-height: 160%
}

.EXLResultsList div.EXLSummaryContainer cite.EXLResultNew {
    float: right;
    width: auto;
    background-color: #fffba4;
    font-size: 100%;
    font-style: normal;
}

.EXLResultsList div.EXLSummaryContainer cite.EXLResultNew span.EXLResultBgNew {
    background-image: url(../images/bg_diagonal_new_result.png);
    background-repeat: no-repeat;
    width: 22px;
    background-color: #ffffff;
    background-position: center;
    display: block;
    height: 22px;
    float: left;
    clear: right
}

.EXLResultsList div.EXLSummaryContainer cite.EXLResultNew span.EXLResultBgRtlNew {
    display: none
}

.EXLResultsList td.EXLThumbnail {
    @include reset-margins;
    position: relative;
    width: $thumbnail-width + 20px;
    padding: $result-padding-vertical 0 $result-padding-horizontal;
    text-align: left;
    vertical-align: top;
}

.EXLResultsList td.EXLThumbnail img {
    @include reset-margins;
    float: left;
    width: 70px;
    height: 110px;
}

.EXLResultsList td.EXLThumbnail span.EXLThumbnailCaption {
    @include reset-margins;
    margin-top: 10px;
    font-weight: bold;
    font-size: $small-font-size;
    border: none;
    color: $gray;
    display: block
}

.EXLResultsList td.EXLMyShelfStar {
    width: 25px;
    padding-top: $result-padding-vertical - 3px;
    padding-bottom: $spacing-small;
    text-align: left;

    a {

      img {
        display: block;
        @include prefixer(box-sizing, border-box, webkit moz spec);
        width: 20px;
        height: 20px;
        padding-left: 20px;
        background-position: left center;
        background-repeat: no-repeat;
        position: relative;
      }

      img[src*="icon_star_off"] {
          @include retina-image("../images/icon_star_off", 20px 20px);
      }

      img[src*="icon_star_on"] {
        @include retina-image("../images/icon_star_on", 20px 20px);
      }

    }
}

.EXLResultsList td.EXLSummary {
    padding-top: 0em;
}

.EXLResultsList em.EXLResultStatusAvailable {
    @include retina-image("../images/icon_available", 10px 10px);
    background-repeat: no-repeat;
    background-position: 0px 3px;
    padding-left: 15px;
    color: $black
}

.EXLResultsList em.EXLResultStatusNotAvailable {
    @include retina-image("../images/icon_unavailable_grey", 10px 10px);
    background-repeat: no-repeat;
    background-position: 0px 3px;
    padding-left: 15px;
    color: $black
}

.EXLResultsList em.EXLResultStatusMaybeAvailable {
    @include retina-image("../images/icon_yellow", 10px 10px);
    background-repeat: no-repeat;
    background-position: 0px 3px;
    padding-left: 15px;
    color: $black
}

.EXLResultsList span.EXLAvailabilityLibraryName {
    color: $black;
    font-weight: normal
}

.EXLResultsList span.EXLAvailabilityCollectionName {
    color: $black;
    font-weight: normal
}

.EXLResultsList span.EXLAvailabilityCallNumber {
    color: $black;
    font-weight: normal
}

.EXLResultsList span.EXLAvailabilityRTAupdating {
    color: $black;
    font-weight: normal
}

.EXLResultsList td.EXLThumbnail .EXLAdditionalBarContentMultipleEnteries span.EXLThumbnailCaption {
    width: auto;
}
