#exlidAdvancedSearchTile {
    clear: left;
    border: none;
    background-image: none;
    background-repeat: repeat-x;
    padding: 1em 0em 1em 0em;
    font-size: 12px;
    height: auto;
    background-color: $gray;
    width: 100%;
}

#exlidAdvancedSearchRibbon {
    margin: 0;
    padding: 20px;
    width: 100%;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbon {
    background-color: #FFFFFF;
    clear: both;
    min-height: 9em;
    border: 1px solid #8fb9d0;
    width: 100%;
    padding: 1em 1em 0.5em 0em;
    margin: 0px;
}

#exlidAdvancedSearchRibbon fieldset fieldset {
    padding-left: 0em;
    display: block
}

#exlidAdvancedSearchRibbon fieldset legend {
    display: none
}

[id^="exlidInput_scope"] {
    min-width: 24%
}

#exlidAdvancedSearchRibbon select {
    width: 14%;
    border: 1px solid #8fb9d0;
    height: auto;
    padding-top: 0em;
    padding-left: 0em;
    font-size: 100%
}

#exlidAdvancedSearchRibbon .EXLSelectedDatabasesHighlight {
    background-color: #fff899
}

#exlidAdvancedSearchRibbon input {
    width: 18em;
    border: 1px solid #8fb9d0;
    padding-top: 0em;
    padding-left: 0em;
    font-size: 1em;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormFieldsGroup1 {
    float: left;
    width: 44em;
    height: auto;
    margin-right: 0em;
    padding-left: 0.5em;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormFieldsGroup2 {
    float: left;
    width: 32em;
    height: auto;
    border-left: 1px solid #cccccc;
    margin-left: 0em
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormFieldsGroup2 select {
    width: 16.2em;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormFieldsGroup2 label {
    width: 9em;
    margin-left: 1em;
    float: left;
    display: block;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormFieldsGroup2 a {
    width: 9em;
    margin-left: 1em;
    float: left;
    display: block;
}

#exlidAdvancedSearchRibbon div.EXLAdvancedSearchFormRow {
    margin: 0em;
    float: left;
    width: 100%;
    padding-bottom: 0.5em;
    margin-left: 0.5em;
}

#exlidAdvancedSearchRibbon div.EXLAdvancedSearchFormRowHide {
    display: none;
}

#exlidAdvancedSearchRibbon div.EXLAdvancedSearchFormRow fieldset span.EXLAdvancedSearchFormRowInlineInput {
    display: inline;
}

#exlidAdvancedSearchRibbon div.EXLAdvancedSearchFormRow fieldset span.EXLAdvancedSearchFormRowInlineInput label {
    display: none;
}

#exlidAdvancedSearchRibbon div.EXLAdvancedSearchFormRow span.EXLAdvancedSearchFormRowInlineInput a {
    display: inline;
    white-space: nowrap;
    margin-left: 0.3em
}

*:first-child+html #exlidAdvancedSearchRibbon div.EXLAdvancedSearchFormRow span.EXLAdvancedSearchFormRowInlineInput a {
    display: inline;
    margin-left: 0.3em;
    white-space: normal;
}

#exlidAdvancedSearchRibbon div.EXLAdvancedSearchFormRow span.EXLAdvancedSearchFormDateRangeRow select {
    width: 5.5em;
    text-align: left;
    direction: ltr;
}

#exlidAdvancedSearchRibbon div.EXLAdvancedSearchFormRow span.EXLAdvancedSearchFormDateRangeRow input {
    width: 4em;
    text-align: left;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormLinks {
    float: left;
    display: inline;
    line-height: 26px;
    text-indent: 1em;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormSubmitSearch {
    float: left;
    display: inline;
    clear: both;
    border: 1px solid #adb9c2;
    margin-top: -1px
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormClearSearch {
    clear: none;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormClearSearch input {
    @include button;
	@include set-button-color(transparent, $gold, "outline");
	@include set-button-size;
}

#exlidAdvancedSearchRibbon input.submit {
    @include button;
	@include set-button-color($gold);
	@include set-button-size;
}

#exlidAdvancedSearchTile .EXLSearchFieldRibbonFormSubmitSearch {
    width: auto;
}