// Content Blocks

@mixin home-banner($columns-wide: 6) {
	@include reset-margins;
	@include span-columns($columns-wide);
	margin-bottom: $section-spacing;
	border: 1px solid $gray-light-secondary;
	background-repeat: no-repeat;
	background-position: center right;
    height: 110px;
    padding: $spacing-small / 2;
    background-color: $gray-light;

    h3, h4, h5 {
		font-size: $h5-fontsize;
		line-height: $h5-lineheight;
		margin-bottom: $spacing-small / 2;
    }

    p {
    	@include reset-margins;
    	font-size: 14px;
    	padding-right: $spacing-small;
    }
}

@mixin list-of-links($columns-wide: 6) {
	@include reset-margins;
	@include span-columns($columns-wide);
	margin-bottom: $spacing-small;
}

#exlidHomeContainer div.EXLHomeBlockContainer1 {
    @include reset-margins;
    width: 100%;
    margin-bottom: $section-spacing;
}

#exlidHomeContainer div.EXLHomeBlockContainer2 {
    @include reset-margins;
    width: 100%;
    margin-bottom: $section-spacing;
}

#exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 {
    @include reset-margins;
    @include span-columns(6);
}

#exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 p {
    width: 100%;
}

#exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 p a {
    display: block;
    line-height: 170%
}

#exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 div.EXLHomeListsContainer {
    @include reset-margins;
    @include span-columns(6);
    @include retina-image('../images/home_main_visual_snu', 480px 200px, jpg);
    background-position: 0% 0%;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 120px;
}

#exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 div.EXLHomeListsContainer ul {
    list-style: none
}

#exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 div.EXLHomeListsContainer li {
    line-height: 140%
}

#exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 div.EXLHomeTopicsContainer {
    @include list-of-links(5);
    padding-left: $spacing-small;
}

#exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 div.EXLHomeQuickLinksContainer {
    @include list-of-links;
}

#exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock2 {
    @include reset-margins;
    @include span-columns(6);
}

#exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock2 div.EXLHomeNewsContainer ul {
    list-style: none
}

#exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock2 div.EXLHomeNewsContainer li {
    background-image: url(../images/bullet_arrow_orange.png);
    background-repeat: no-repeat;
    background-position: 0% 50%;
    text-indent: 1em;
    line-height: 150%
}

#exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock2 div.EXLHomeServicesContainer {
    margin-top: 1em
}

#exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock2 div.EXLHomeServicesContainer p a {
    display: block;
    line-height: 100%;
    margin-bottom: 0.5em
}

#exlidHomeContainer div.EXLHomeBlockContainer2 div.EXLContentBlock3 {
	@include reset-margins;
	@include span-columns(6);
}

#exlidHomeContainer div.EXLHomeBlockContainer2 div.EXLContentBlock4 {
    @include reset-margins;
	@include span-columns(6);
}

#exlidHomeContainer div.EXLContentBlock3 div.EXLHomeBannersContainer {
    color: #777676;
}

#exlidHomeContainer div.EXLContentBlock3 div.EXLHomeBannerContainer1 {
    @include home-banner;
    @include retina-image('../images/banner_snu_blog', 220px 90px);
}

#exlidHomeContainer div.EXLContentBlock3 div.EXLHomeBannerContainer2 {
    @include home-banner;
    @include retina-image('../images/banner_snu_website', 220px 90px);
}

#exlidHomeContainer div.EXLContentBlock3 h4 {
    @include reset-margins;
}

#exlidHomeContainer div.EXLContentBlock3 p {
    @include reset-margins;
}

#exlidHomeContainer div.EXLContentBlock4 div.EXLHomeBannersContainer {
    color: $gray-dark;
}

#exlidHomeContainer div.EXLContentBlock4 div.EXLHomeBannerContainer1 {
    @include home-banner;
    @include retina-image('../images/banner_snu_mobile', 220px 90px);
}

#exlidHomeContainer div.EXLContentBlock4 div.EXLHomeBannerContainer2 {
    @include home-banner;
    @include retina-image('../images/banner_snu_twitter', 220px 90px);
}

#exlidHomeContainer div.EXLContentBlock4 h4 {
    padding-left: 0.4em;
    padding-top: 0.2em;
}

#exlidHomeContainer div.EXLContentBlock4 p {
    padding-left: 0.4em;
    line-height: 120%;
    margin-right: 5.5em;
}

@include media($tablet) {
	#exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 {
        width: auto;
        float: none;
        padding-left: 1em;
    }

    #exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 p {
        width: auto;
    }

    #exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 div.EXLHomeListsContainer {}
    #exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 div.EXLHomeListsContainer {
        margin-top: 1em;
        background-image: none;
        background-position: 0% 0%;
        background-repeat: no-repeat;
        width: auto;
        float: left;
        padding-top: 1em;
        padding-left: 0em;
    }

    #exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 div.EXLHomeTopicsContainer {
        display: none;
    }

    #exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 div.EXLHomeQuickLinksContainer {
        float: none;
        margin: 0em;
        width: auto;
    }

    #exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 div.EXLHomeQuickLinksContainer ul {
        width: auto;
    }

    #exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock2 {
        display: none;
    }

    #exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock2 div.EXLHomeServicesContainer {
        display: none;
    }

    #exlidHomeContainer div.EXLContentBlock3 div.EXLHomeBannersContainer {
        display: none
    }

    #exlidHomeContainer div.EXLContentBlock4 div.EXLHomeBannersContainer {
        display: none
    }

}

@include media($mobile) {

	#exlidHomeContainer div.EXLContentBlock3 div.EXLHomeBannersContainer {
        display: none
    }

    #exlidHomeContainer div.EXLContentBlock4 div.EXLHomeBannersContainer {
        display: none
    }

}