#exlidTopLevelFacetsTile {
    clear: left;
    vertical-align: text-top;
    width: 100%;
    margin-top: 0em;
    margin-bottom: 0em;
    height: 1.8em;
    display: block;
}

#exlidTopLevelFacetsTile div.EXLToplevelFacetsContainer {
    float: left;
    width: 100%
}

#exlidTopLevelFacetsTile div.EXLToplevelFacetsContainer strong {
    float: left;
    display: inline-block;
    font-size: 80%;
    clear: right;
    line-height: 200%;
    font-weight: normal;
    padding-left: 1em
}

#exlidToplevelFacetsRibbon {
    padding-top: 0.2em;
    padding-right: 0.2em;
    padding-left: 0.4em;
    width: auto
}

#exlidToplevelFacetsRibbon li {
    list-style-type: none;
    font-size: 80%;
    font-weight: normal;
    float: left;
    margin: 0.2em 0.2em 0em 0.2em;
    padding-left: 0em;
    padding-right: 0em;
}

#exlidToplevelFacetsRibbon li a {
    padding-left: 0em;
    padding-right: 0em;
}

#exlidToplevelFacetsRibbon li span {
    color: #555555;
    border-right: 1px solid #e2e2e2;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#exlidToplevelFacetsRibbon li span span {
    color: #8C8D8C;
    margin-left: 0em;
    font-size: 100%;
    border: none
}

#exlidToplevelFacetsRibbon li.EXLTopLevelFacetLastItem span {
    border: none
}
