#exlidAdvancedSearchTile {
	@include reset-margins;
    padding: 20px;
    clear: left;
    border: none;
    background-image: none;
    font-size: $small-font-size;
    height: auto;
    background-color: $gray;
    width: 100%;

    #exlidSearchTabs li {

	    &:first-child {
	        margin-left: 0;
	        
	        a {
	            -webkit-border-top-left-radius: 4px;
	            -webkit-border-bottom-left-radius: 0;
	            -moz-border-radius-topleft: 4px;
	            -moz-border-radius-bottomleft: 0;
	            border-top-left-radius: 4px;
	            border-bottom-left-radius: 0;
	        }
	    }


	    &:last-child {
	        a {
	            -webkit-border-top-right-radius: 4px;
	            -webkit-border-bottom-right-radius: 0;
	            -moz-border-radius-topright: 4px;
	            -moz-border-radius-bottomright: 0;
	            border-top-right-radius: 4px;
	            border-bottom-right-radius: 0;
	        }
	    }

	}
}

#exlidAdvancedSearchRibbon {
	@include reset-margins;
    width: 100%;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbon {
	@include reset-margins;
    background-color: $gray-light;
    clear: both;
    min-height: 9em;
    border: none;
    border-top: 4px solid $gray-dark-secondary;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
}

#exlidAdvancedSearchRibbon fieldset fieldset {
    padding-left: 0em;
    display: block
}

#exlidAdvancedSearchRibbon fieldset legend {
    display: none
}

[id^="exlidInput_scope"] {
    min-width: 24%
}

#exlidAdvancedSearchRibbon select {
    width: 14%;
    border: 1px solid #8fb9d0;
    height: auto;
    padding-top: 0em;
    padding-left: 0em;
    font-size: $small-font-size;
}

#exlidAdvancedSearchRibbon .EXLSelectedDatabasesHighlight {
    background-color: #fff899
}

#exlidAdvancedSearchRibbon input {
    width: 18em;
    border: 1px solid #8fb9d0;
    padding-top: 0em;
    padding-left: 0em;
    font-size: $small-font-size;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormFieldsGroup1 {
    float: left;
    width: 44em;
    height: auto;
    margin-right: 0em;
    padding-left: 0.5em;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormFieldsGroup2 {
    float: left;
    width: 32em;
    height: auto;
    border-left: 1px solid #cccccc;
    margin-left: 0em
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormFieldsGroup2 select {
    width: 16.2em;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormFieldsGroup2 label {
    width: 9em;
    margin-left: 1em;
    float: left;
    display: block;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormFieldsGroup2 a {
    width: 9em;
    margin-left: 1em;
    float: left;
    display: block;
}

#exlidAdvancedSearchRibbon div.EXLAdvancedSearchFormRow {
    margin: 0em;
    float: left;
    width: 100%;
    padding-bottom: 0.5em;
    margin-left: 0.5em;
}

#exlidAdvancedSearchRibbon div.EXLAdvancedSearchFormRowHide {
    display: none;
}

#exlidAdvancedSearchRibbon div.EXLAdvancedSearchFormRow fieldset span.EXLAdvancedSearchFormRowInlineInput {
    display: inline;
}

#exlidAdvancedSearchRibbon div.EXLAdvancedSearchFormRow fieldset span.EXLAdvancedSearchFormRowInlineInput label {
    display: none;
}

#exlidAdvancedSearchRibbon div.EXLAdvancedSearchFormRow span.EXLAdvancedSearchFormRowInlineInput a {
    display: inline;
    white-space: nowrap;
    margin-left: 0.3em
}

*:first-child+html #exlidAdvancedSearchRibbon div.EXLAdvancedSearchFormRow span.EXLAdvancedSearchFormRowInlineInput a {
    display: inline;
    margin-left: 0.3em;
    white-space: normal;
}

#exlidAdvancedSearchRibbon div.EXLAdvancedSearchFormRow span.EXLAdvancedSearchFormDateRangeRow select {
    width: 5.5em;
    text-align: left;
    direction: ltr;
}

#exlidAdvancedSearchRibbon div.EXLAdvancedSearchFormRow span.EXLAdvancedSearchFormDateRangeRow input {
    width: 4em;
    text-align: left;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormLinks {
    float: left;
    display: block;
    line-height: 1.4;
    padding: 9px 0;

    a,
    a:link,
    a:visited {
		color: $white;
		border-bottom: 1px dotted $white;
    }
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormSubmitSearch {
    float: left;
    display: inline;
    clear: both;
    border: none;
    margin-top: 0;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormClearSearch {
    clear: none;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormClearSearch input {
    @include button;
	@include set-button-color($gray-dark);
	@include set-button-size;
	background-image: none;
}

#exlidAdvancedSearchRibbon input.submit {
    @include button;
	@include set-button-color($blue);
	@include set-button-size;
	background-image: none;
}

#exlidAdvancedSearchTile .EXLSearchFieldRibbonFormSubmitSearch {
    width: auto;
}