.EXLMyAccountTabsRibbon {
    @include reset-margins;
    height: 30px;
    border-bottom: 2px solid $gold;
    line-height: 1.2;
    background-color: $white;
}

.EXLMyAccountTabsRibbon div {
    width: 90%;
    margin: 0px;
    clear: left;
    float: left;
    margin-left: 0em;
}

.EXLMyAccountTabsRibbon div ul {
    margin-left: 0.8em;
    margin-bottom: 0em;
}

.EXLMyAccountTabsRibbon div li {
    line-height: 160%;
    font-size: 100%;
    display: inline;
    width: 6em;
}

.EXLMyAccountTabsRibbon div li.EXLMyAccountTab {
    border: 1px solid $gold-gray-secondary;
    border-bottom: 0px;
    height: 27px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    float: left;
    padding-left: 0.8em;
    padding-right: 0.8em;
    margin-right: 4px;
    color: $gray-dark;
    width: auto;
}

.EXLMyAccountTabsRibbon div li.EXLMyAccountTab a {
    color: lighten($black, 5%);
    font-size: 80%;
}

.EXLMyAccountTabsRibbon div a:hover {
    text-decoration: underline;
}

.EXLMyAccountTabsRibbon div li.EXLMyAccountSelectedTab {
    border: 1px solid $gold;
    border-bottom: 2px solid $gold;
    background-color: $gold;
    height: 26px;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    float: left;
    font-weight: bold;
    text-decoration: none;
    padding-left: 0.8em;
    padding-right: 0.8em;
    margin-right: 4px;
    color: $white;
    background-image: url(../images/bg_strip_btn_orange.png);
    background-repeat: repeat-x;
}

.EXLMyAccountTabsRibbon div li.EXLMyAccountSelectedTab a {
    color: $white;
}

.EXLMyAccountTabsRibbon div li.EXLMyAccountFirstTab {
    padding-left: 0em;
}

.EXLMyAccountTabsRibbon div li.EXLMyAccountFirstSelectedTab {
    padding-left: 0.5em;
}
