.EXLTabLoading {
    width: 100%;
    text-align: center;
    height: 15em;
    @include retina-image("../images/icon_loading_circle", 24px 24px, "gif");
    background-repeat: no-repeat;
    background-position: center;
}

.EXLCitationTabLoading {
    text-align: center;
    height: 15em;
    width: 20em;
    @include retina-image("../images/icon_loading_circle", 24px 24px, "gif");
    background-repeat: no-repeat;
    background-position: center;
}

.EXLTabLoadingLightBox {
    width: 100%;
    text-align: center;
    height: 19.4em;
    background-color: #cccccc;
    z-index: 100;
    -moz-opacity: 0.4;
    opacity: .40;
    filter: alpha(opacity=40);
    filter: "alpha(opacity=40)";
    position: relative;
    top: -19.4em;
    margin-bottom: -19.4em;
}

.EXLTabLoadingLightBoxFeedback {
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
    background-color: #fffbc3;
    font-size: 100%;
    float: right;
    position: relative;
    top: 0px;
    text-align: center;
    z-index: 2000
}

.EXLTabLoadingLightBoxFeedback strong {
    padding: 0.5em 1.5em 0.5em 0.6em;
    display: block;
    background-image: url(../images/bg_strip_system_feedback.png);
    background-repeat: repeat-x;
    background-position: bottom;
    color: $black;
    font-weight: normal;
    width: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap
}

.EXLTabMessage {
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
    background-color: #fffbc3;
    font-size: 100%;
    text-align: center;
}

.EXLTabMessage strong {
    padding: 0.5em 1.5em 0.5em 0.6em;
    display: block;
    background-image: url(../images/bg_strip_system_feedback.png);
    background-repeat: repeat-x;
    background-position: bottom;
    color: $black;
    font-weight: normal;
}

.EXLTabFormValidationFeedback {
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
    background-color: #fffbc3;
    font-size: 100%;
}

.EXLTabFormValidationFeedback strong {
    padding: 0.5em 1.5em 0.5em 0.6em;
    display: block;
    background-image: url(../images/bg_strip_system_feedback.png);
    background-repeat: repeat-x;
    background-position: bottom;
    color: $black;
    font-weight: normal;
}

.EXLResultTabContainer div.EXLTabHeader {
    @include reset-margins;
    background-color: $gray-light;
    background-image: none;
    background-repeat: repeat-x;
    border-bottom: 1px solid #e1e1e1;
    min-height: 45px;
    height: auto;
    border-left: 1px solid $gray;
    border-right: 1px solid $gray;
    display: block;
}

* html .EXLResultTabContainer div.EXLTabHeader {
    height: auto;
    min-height: 45px;
    @include clearfix;
}

.EXLTabHeader div.EXLTabHeaderContent {
    @include reset-margins;
    @include span-columns(8);
    color: $black;
    padding: ($tabs-content-padding /2) $tabs-content-padding;
}

.EXLTabHeader div.EXLTabHeaderContent em {
    color: $black;
    font-weight: normal;
    padding-right: $spacing-small;
}

.EXLTabHeader div.EXLTabHeaderContent span {
    padding: 0.3em;
    width: auto
}

.EXLTabHeader div.EXLTabHeaderContent span a {
    color: $black;
}

.EXLTabHeader div.EXLTabHeaderContent span.selected {
    background-color: #FFFFFF;
    border: 1px solid #8fb9d0;
    display: inline;
    height: 20px;
    padding: 0px 5px 0px 5px;
}

.EXLTabHeader div.EXLTabHeaderContent span.selected a {
    font-weight: bold
}

.EXLTabHeader div.EXLTabHeaderContent em.EXLTabHeaderContentAdditionalDataLine {
    font-weight: normal;
}

.EXLTabHeader div.EXLTabHeaderContent em.EXLTabHeaderContentAdditionalDataLineInstName {
    color: $black;
    font-weight: bold;
}

.EXLTabHeader div.EXLTabHeaderContent em.EXLTabHeaderContentAdditionalDataLineSignIn {
    float: right;
}

.EXLTabHeader div.EXLTabHeaderButtons {
  @include reset-margins;
  @include span-columns(4);
  @include omega();
    text-align: right;
    height: auto;
    min-height: 45px;
}

.EXLTabHeader div.EXLTabHeaderButtons ul {
    float: right;
    margin-bottom: 9px;
}

.EXLTabHeader div.EXLTabHeaderButtons li {
    list-style: none;
    float: left;
    height: 18px;
    background-image: url(../images/bg_strip_tab_header_buttons.png);
    border-right: 1px solid #e1e1e1;
    position: relative;
}

.EXLTabHeader div.EXLTabHeaderButtons li span {
    background-image: url(../images/bg_diagonal_sendTo.png);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    display: inline;
    float: left;
}

.EXLTabHeader div.EXLTabHeaderButtons li a {
    padding: 0.2em 0.4em 0.2em 0.4em;
}

.EXLTabHeaderButtonSendTo {
    padding-right: 0em;
    text-align: left
}

.EXLTabHeaderButtonSendTo img {
    padding-left: 0em;
    padding-right: 0.4em;
}

.EXLTabHeaderHiddenButton {
    display: none;
}

.EXLTabHeaderButtons ol.EXLTabHeaderButtonSendToList {
    width: 165px;
    background-color: #FFFF00;
    border: 1px solid #e1e1e1;
    border-bottom: none;
    position: absolute;
    right: 0px;
    margin-top: 1px;
    border-top: 1px solid #e1e1e1;
    z-index: 100;
    clear: both;
    display: none
}

.EXLTabHeaderButtons ol.EXLTabHeaderButtonSendToList li {
    float: left;
    background-image: none;
    display: block;
    clear: both;
    border: none;
    z-index: 100;
    width: 100%;
    white-space: nowrap;
    border-bottom: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    background-color: #ffffff
}

.EXLTabHeaderButtons ol.EXLTabHeaderButtonSendToList li span {
    float: left;
    background-image: none;
    padding-left: 0.5em
}

.EXLTabHeaderButtons ol.EXLTabHeaderButtonSendToList li span.EXLButtonSendToLabel {
    float: left;
    padding-right: 0.5em
}

.EXLTabHeaderButtons ol.EXLTabHeaderButtonSendToList li a:link {
    color: #373737;
    cursor: pointer;
}

.EXLTabHeaderButtons ol.EXLTabHeaderButtonSendToList li a:hover {
    text-decoration: underline;
}

.EXLTabHeaderButtons ol.EXLTabHeaderButtonSendToList li span.EXLButtonSendToIcon {
    background-image: url(../images/icon_sendTo_myShelf.png);
    background-repeat: no-repeat;
    width: 16px;
    display: inline;
    float: right;
}

.EXLTabHeaderButtons ol.EXLTabHeaderButtonSendToList li span.EXLButtonSendToIconMyShelf {
    background-image: url(../images/icon_sendTo_myShelf.png);
}

.EXLTabHeaderButtons ol.EXLTabHeaderButtonSendToList li span.EXLButtonSendToIconMail {
    background-image: url(../images/icon_sendTo_mail.png);
}

.EXLTabHeaderButtons ol.EXLTabHeaderButtonSendToList li span.EXLButtonSendToIconSMS {
    background-image: url(../images/icon_sendTo_sms.png);
}

.EXLTabHeaderButtons ol.EXLTabHeaderButtonSendToList li span.EXLButtonSendToIconPrint {
    background-image: url(../images/icon_sendTo_print.png);
}

.EXLTabHeaderButtons ol.EXLTabHeaderButtonSendToList li span.EXLButtonSendToIconDelicious {
    background-image: url(../images/icon_sendTo_delicious.png);
}

.EXLTabHeaderButtons ol.EXLTabHeaderButtonSendToList li span.EXLButtonSendToIconConnotea {
    background-image: url(../images/icon_sendTo_connotea.png);
}

.EXLTabHeaderButtons ol.EXLTabHeaderButtonSendToList li span.EXLButtonSendToIconRefworks {
    background-image: url(../images/icon_sendTo_refworks.png);
}

.EXLTabHeaderButtons ol.EXLTabHeaderButtonSendToList li span.EXLButtonSendToIconEndnote {
    background-image: url(../images/icon_sendTo_endNote.png);
}

.EXLTabHeaderButtons ol.EXLTabHeaderButtonSendToList li span.EXLButtonSendToIconPermalink {
    background-image: url(../images/icon_sendTo_permalink.png);
}

.EXLTabHeaderButtons ol.EXLTabHeaderButtonSendToList li span.EXLButtonSendToIconCitation {
    background-image: url(../images/icon_sendTo_citation.png);
}

.EXLTabHeaderButtons ol.EXLTabHeaderButtonSendToList li span.EXLButtonSendToOpenurl {
    background-image: url(../images/icon_sendTo_openurl.png);
}

.EXLViewOnlineTabContent {
    overflow: auto;
    overflow-x: hidden;
}

.EXLViewOnlineTabContent div.EXLViewOnlineLinks {
    float: left;
    width: 60%;
    margin: 0.5em;
    height: auto;
    padding: 0.5em;
    padding-bottom: 1em
}

.EXLViewOnlineTabContent div.EXLViewOnlineLinks em {
    padding-left: 0.5em
}

.EXLViewOnlineTabContent div.EXLViewOnlineLinks ul {
    height: 100%;
    padding: 0.5em 1em 1em 0.5em;
    width: auto;
    list-style-type: none
}

.EXLViewOnlineTabContent div.EXLViewOnlineLinks li {
    padding-top: 0px;
    padding-bottom: 3px;
    padding-right: 0px;
}

.EXLViewOnlineTabContent div.EXLViewOnlineLinks li span.EXLViewOnlineLinksTitle a {
    width: auto;
    background-image: url(../images/icon_popout_tab.png);
    background-repeat: no-repeat;
    background-position: right;
}

.EXLViewOnlineTabContent div.EXLViewOnlineLinks li span.EXLViewOnlineLinksIconPopout {
    display: inline-block;
    padding-left: 20px;
}

.EXLViewOnlineTabContent div.EXLViewOnlineLinks li span.EXLViewOnlineLinksTitle a:hover span.EXLViewOnlineLinksIconPopout {
    text-decoration: none;
}

.EXLViewOnlineTabContent div.EXLRequestTipsList {
    float: right;
    width: 30%;
    border: 1px solid #e1e1e1;
    padding: 1em 1em 1em 1em;
    background-image: url(../images/bg_strip_details_links.png);
    background-repeat: repeat-x;
    background-position: bottom;
    height: auto;
    margin-top: 1em;
    margin-right: 1em
}

.EXLViewOnlineTabContent div.EXLRequestTipsList em {
    padding-left: 0.5em;
    font-size: 90%
}

.EXLViewOnlineTabContent div.EXLRequestTipsList ul {
    height: 100%;
    padding: 0.5em 1em 1em 0.5em;
    width: 100%;
}

.EXLViewOnlineTabContent div.EXLRequestTipsList li {
    list-style: none;
    padding-top: 0px;
    padding-right: 0px;
    font-size: 90%;
    margin-bottom: 1em;
    float: left
}

.EXLViewOnlineTabContent div.EXLRequestTipsList li span.EXLRequestTipsBullet {
    padding: 0px;
    margin: 0px;
    background-image: url(../images/bullet_arrow_orange_tip.png);
    background-repeat: no-repeat;
    width: 15px;
    height: 30px;
    float: left;
    display: block;
    clear: left;
    margin-top: 5px;
}

.EXLViewOnlineTabContent div.EXLMyAccountTips li span.EXLRequestTipsTitle {
    width: 90%;
    display: block;
    float: left
}

.EXLRequestTabContent {
    overflow: auto;
    overflow-x: hidden;
}

.EXLRequestTabContent form {
    padding: 0;
    margin: 0;
    padding-left: 0.5em;
    margin-top: 1em;
    float: left;
    width: 60%;
}

.EXLRequestTabContent table {
    margin-bottom: 1em;
    border-collapse: separate;
    border-spacing: 0em
}

.EXLRequestTabContent table caption {
    text-align: left;
    font-weight: bold;
    color: $black;
    padding-bottom: 0.8em;
    text-indent: 0.5em
}

.EXLRequestTabContent table th {
    padding: 0;
    margin: 0;
    text-align: left;
    font-weight: normal;
    width: 10em;
    display: inline;
    padding-top: 0em;
    display: inline;
    vertical-align: text-top
}

.EXLRequestTabContent form table td {
    border: none;
    text-align: left;
    padding-top: 0em;
    padding-bottom: 0.3em
}

.EXLRequestTabContent form select,
.EXLRequestTabContent form textarea,
.EXLRequestTabContent form input {
    border: 1px solid #7f9db9;
    height: auto;
}

.EXLRequestTabContent form select.EXLRequestTabFormIssue {
    width: 80%
}

.EXLRequestTabContent form textarea.comment,
.EXLRequestTabContent form input.EXLRequestTabFormInputComment {
    width: 80%
}

.EXLRequestTabContent form input {
    border: 1px solid #7f9db9;
    height: 18px;
}

.EXLRequestTabContent form input.EXLRequestTabFormCheckbox {
    border: 0px;
    height: auto
}

.EXLRequestTabContent form td img {
    margin-left: 0.2em;
}

.EXLRequestTabContent form td img.EXLBtnCalendar {
    vertical-align: bottom
}

.EXLRequestTabContent form td span.EXLMandatory {
    color: #CC0000;
    float: right;
    width: 0.8em;
}

.EXLRequestTabContent form td span.EXLFieldError {
    float: left;
    width: 14px;
    height: 14px;
    background-image: url(../images/icon_form_error.png);
    background-repeat: no-repeat;
    background-position: center;
}

.EXLRequestTabContent form td.EXLRequestTabFormRadio {
    padding-top: 0em;
    width: 1.5em
}

.EXLRequestTabContent form td.EXLRequestTabFormRadio input {
    border: none
}

.EXLRequestTabContent form td fieldset div {
    padding-bottom: 0.1em
}

.EXLRequestTabContent form td fieldset legend {
    display: none
}

.EXLRequestTabContent form td fieldset label {
    display: block;
    width: 25%;
    float: left;
}

.EXLRequestTabContent form td fieldset label span.EXLMandatory {
    float: none;
    width: 10px;
    display: inline-block;
}

.EXLRequestTabContent form td fieldset input {
    display: block;
    width: 55%;
}

.EXLRequestTabContent form td label.EXLHiddenLabel {
    display: none
}

.EXLRequestTabContent form td fieldset div.EXLSpecifyIssueDisabled label {
    color: #919192;
    white-space: nowrap
}

.EXLRequestTabContent form td fieldset div.EXLSpecifyIssueDisabled label span.EXLMandatory {
    color: #919192;
}

.EXLRequestTabContent form td fieldset div.EXLSpecifyIssueDisabled input {
    background-color: #FFFFFF;
    border: 1px solid #d7d7d7
}

.EXLRequestTabContent form td select.EXLSpecifyIssueDisabled {
    background-color: #FFFFFF;
    border: 1px solid #d7d7d7
}

.EXLRequestTabContent form td.EXLRequestTabFormRadioFieldset fieldset span {
    float: left;
    clear: right;
    margin-right: 0.8em
}

.EXLRequestTabContent form td.EXLRequestTabFormRadioFieldset fieldset span input {
    border: none;
    height: auto;
    width: auto;
    float: left;
    clear: right;
    margin-right: 0.2em
}

.EXLRequestTabContent form td.EXLRequestTabFormRadioFieldset fieldset span label {
    border: none;
    height: auto;
    width: auto;
}

.EXLRequestTabContent form tr.EXLRequestTabFormHideRow {
    display: none
}

.EXLRequestTabContent div.EXLRequestTabFormRowLinkButtons {
    height: auto;
    border-top: 1px solid #e1e1e1;
    width: 100%
}

.EXLRequestTabFormButtonLink {
    width: auto;
    font-size: 90%;
    margin-left: 1em;
    margin-right: auto;
    margin-top: 0.5em;
    float: left;
    clear: right
}

.EXLRequestTabFormButtonLink span {
    border: 1px solid #7f9db9;
    display: block;
    width: 80px;
    height: 20px;
    text-align: center;
    padding: 1px;
}

.EXLRequestTabFormButtonLink span a {
    padding: 0em 0.5em 0em 0.5em;
    color: #FFFFFF;
    font-weight: normal;
    height: 20px;
    cursor: pointer;
    background-image: url(../images/bg_strip_btn_orange.png);
    background-repeat: repeat-x;
    display: block;
    line-height: 160%
}

.EXLRequestTabFormButtonCancel span a {
    background-image: url(../images/bg_strip_btn_grey.png);
}

.EXLRequestTabFormButtonLink span a:hover {
    text-decoration: none;
}

.EXLRequestTabContentCopyright {
    background-color: #f1f1f1
}

.EXLRequestCopyright {
    width: auto;
    padding: 1em 1.5em 1em 1em;
    font-size: 80%;
    height: 13.5em;
    overflow: scroll;
}

.EXLRequestTabContent form span.submit {
    display: inline-block;
    width: auto;
    height: 22px;
    float: left;
    margin-right: 0.5em
}

.EXLRequestTabContent form input.submit {
    background-color: #e87107;
    background-image: url(../images/bg_strip_submit_temp.png);
    background-repeat: repeat-x;
    margin-left: 0em;
    width: auto;
    color: #FFFFFF;
    font-weight: normal;
    height: 22px;
    cursor: pointer;
    padding: 0em 0.5em 0em 0.5em;
    border: 1px solid #7f9db9;
    display: inline;
}

.EXLRequestTabContent form span.reset {
    border: 1px solid #7f9db9;
    display: inline-block;
    width: auto;
    height: 20px;
    text-align: center;
    padding: 1px;
}

.EXLRequestTabContent form a.reset {
    padding: 0em 0.5em 0em 0.5em;
    color: #FFFFFF;
    font-weight: normal;
    height: 20px;
    cursor: pointer;
    background-image: url(../images/bg_strip_btn_grey.png);
    background-repeat: repeat-x;
    display: block;
    line-height: 160%;
}

.EXLRequestTabContent form a.reset:hover {
    text-decoration: none;
}

.EXLRequestTabContent div.EXLRequestTip {
    float: right;
    width: 30%;
    border: 1px solid #e1e1e1;
    margin: 1em;
}

.EXLRequestTabContent div.EXLRequestTip span {
    padding: 1em;
    display: block;
    background-image: url(../images/bg_strip_tags_links.png);
    background-repeat: repeat-x;
    background-position: bottom
}

.EXLRequestTabContent div.EXLRequestTipsList {
    float: right;
    width: 30%;
    border: 1px solid #e1e1e1;
    padding: 1em 1em 1em 1em;
    background-image: url(../images/bg_strip_details_links.png);
    background-repeat: repeat-x;
    background-position: bottom;
    height: auto;
    margin-top: 1em;
    margin-right: 1em
}

.EXLRequestTabContent div.EXLRequestTipsList em {
    padding-left: 0.5em;
    font-size: 90%
}

.EXLRequestTabContent div.EXLRequestTipsList ul {
    height: 100%;
    padding: 0.5em 1em 1em 0.5em;
    width: 100%;
}

.EXLRequestTabContent div.EXLRequestTipsList li {
    list-style: none;
    padding-top: 0px;
    padding-right: 0px;
    font-size: 90%;
    margin-bottom: 1em;
    float: left;
}

.EXLRequestTabContent div.EXLRequestTipsList li span.EXLRequestTipsBullet {
    padding: 0px;
    margin: 0px;
    background-image: url(../images/bullet_arrow_orange_tip.png);
    background-repeat: no-repeat;
    width: 15px;
    height: 30px;
    float: left;
    display: block;
    clear: left;
    margin-top: 5px;
}

.EXLMyAccountMainContainer div.EXLMyAccountTips li span.EXLRequestTipsTitle {
    width: 90%;
    display: block;
    float: left
}

.EXLMyAccountMainContainer iframe.EXLMyAccountLibraryCardIframe {
    overflow: scroll;
    margin-bottom: -2em;
    width: 100%;
    height: 40em;
}

.EXLResult .EXLSystemFeedback {
    float: left;
    width: 40%;
    border: 1px solid #e1e1e1;
    margin: 1em;
    text-align: center;
    background-color: #fffbc3
}

.EXLResult .EXLSystemFeedback span {
    padding: 1em;
    display: block;
    background-image: url(../images/bg_strip_system_feedback.png);
    background-repeat: repeat-x;
    background-position: bottom;
    color: $black;
    font-weight: bold
}

.EXLRequestTabContent div.EXLRequestSystemFeedback {
    float: left;
    width: 40%;
    border: 1px solid #e1e1e1;
    margin: 1em;
    text-align: center;
    background-color: #fffbc3
}

.EXLRequestTabContent div.EXLRequestSystemFeedback span {
    padding: 1em;
    display: block;
    background-image: url(../images/bg_strip_system_feedback.png);
    background-repeat: repeat-x;
    background-position: bottom;
    color: $black;
    font-weight: bold
}

.EXLRequestTabFormRow {
    margin: 0em;
    float: left;
    width: 100%;
    padding-bottom: 0.5em;
    margin-left: 0.5em;
}

.EXLRequestTabFormRow label {
    float: left;
    display: block;
    width: 15em;
    padding: 0 6px;
}

.EXLRequestTabFormRow label:hover {
    cursor: pointer;
}

.EXLRequestTabFormRow fieldset {
    border: none;
    margin: 0em;
    padding-left: 1em;
}

.EXLRequestTabFormRow legend {
    margin-left: -1em;
    color: #32322f;
    font-weight: normal;
    font-size: 100%;
    line-height: 170%;
}

.EXLRequestTabFormRow fieldset span {
    display: block;
}

.EXLRequestTabFormRow fieldset span.EXLRequestTabFormRowInlineInput {
    display: inline;
}

.EXLRequestTabFormRow fieldset span.EXLRequestTabFormRowInlineInput select {
    border: 1px solid #7f9db9;
    height: 21px;
    width: auto;
    vertical-align: bottom;
    margin-right: 0.5em
}

.EXLRequestTabFormRow fieldset span.EXLRequestTabFormRowInlineInput label {
    padding: 0em;
    margin: 0em;
    line-height: 160%
}

.EXLRequestTabFormRow fieldset img.EXLBtnCalendar {
    vertical-align: text-bottom;
}

.EXLRequestTabFormRow fieldset span.EXLRequestTabFormRowTimeSlot {
    display: block;
    border-bottom: 1px solid #cccccc;
    background-color: #f7f7f7;
    float: left;
    clear: both;
    width: 100%;
    line-height: 150%;
}

.EXLRequestTabFormRow fieldset span.EXLRequestTabFormRowTimeSlotInfo {
    background-image: url(../images/icon_info.png);
    background-repeat: no-repeat;
    background-position: 80% 50%;
}

.EXLRequestTabFormRow fieldset span.EXLRequestTabFormRowTimeSlotFirst {
    border-top: 1px solid #cccccc;
}

.EXLRequestTabFormRow fieldset span.EXLRequestTabFormRowTimeSlotEmpty input {
    visibility: hidden
}

.EXLRequestTabFormRow fieldset span.EXLRequestTabFormRowTimeSlotEmpty label {
    visibility: hidden
}

.EXLRequestTabFormRow fieldset span.EXLRequestTabFormRowTimeSlot input {
    border: none;
    height: auto;
    width: auto;
    margin-left: 0.5em
}

.EXLRequestTabFormRow fieldset span.EXLRequestTabTimeSlotDisabled label {
    color: #a3a3a3
}

.EXLRequestTabFormRow fieldset span.EXLRequestTabFormRowTimeSlotFirstColumn {
    float: left;
    width: 12em;
}

.EXLRequestTabFormRow fieldset span.EXLRequestTabFormRowTimeSlotSecondColumn {
    float: left;
    width: 12em;
}

.EXLRequestTabFormRow fieldset span label {
    float: none;
    display: inline;
}

.EXLRequestTabFormRow fieldset span.EXLMandatoryFieldset {
    display: inline;
    color: #CC0000;
    margin-right: 0.5em;
    clear: right
}

.EXLRequestTabFormRowButtons {
    padding-left: 1em
}

.EXLformCalendarIframe {
    position: absolute;
    top: 2745px;
    left: 690px;
}

.EXLFormCalendarContainer {
    border: 1px solid #e87107;
    width: 10em;
    text-align: center;
    padding-left: 0.3em;
    padding-right: 0.3em;
    background-image: url(../images/bg_strip_calendar_caption.png);
    background-repeat: repeat-x;
}

.EXLFormCalendar {
    color: #bbbbbb;
    font-size: 80%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse
}

.EXLFormCalendar caption {
    border-bottom-color: #F3F4F4;
    color: #FFFFFF;
    padding-top: 0.2em;
}

.EXLFormCalendar tr.EXLFormCalendarNav td a {
    background-color: transparent;
    font-size: 90%;
    line-height: 250%;
    color: $anchor-color
}

.EXLFormCalendar tr.EXLFormCalendarNav td a:hover {
    background-color: transparent;
    text-decoration: underline
}

.EXLFormCalendar tr.EXLFormCalendarNav td a.EXLFormCalendarNavPrev {
    background-image: url(../images/icon_arrow_prev.png);
    background-repeat: no-repeat;
    background-position: 0% 50%;
    padding-left: 0.2em
}

.EXLFormCalendar tr.EXLFormCalendarNav td a.EXLFormCalendarNavNext {
    background-image: url(../images/icon_arrow_next.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    padding-right: 0.5em
}

table.EXLFormCalendar th {
    color: $black;
}

table.EXLFormCalendar td {
    text-align: center;
    width: 200px;
    padding: 1px;
    text-align: center;
    height: auto;
    line-height: 150%
}

table.EXLFormCalendar td span.EXLFormCalendarDateDisabled {
    background-color: #f3f3f3;
    text-decoration: line-through;
    display: block
}

table.EXLFormCalendar td a {
    background-color: #f5e1b8;
    display: block;
    color: $black
}

table.EXLFormCalendar td a:hover {
    background-color: #f57831;
    text-decoration: none
}

div.EXLCloseCalendar {
    font-size: 80%;
    line-height: 200%
}

.EXLTabContent {
    height: 17em;
    border: 1px solid #8fb9d0;
    border-top: none;
    clear: both
}

.EXLDetailsTabContent {
    overflow: auto;
    overflow-x: hidden;
}

.EXLContainer-recommendTab .EXLDetailsTabContent {
    overflow: hidden\9;
}

.EXLContainer-viewOnlineTab .EXLDetailsTabContent {
    overflow: hidden\9;
}

.EXLContainer-moreTab .EXLDetailsTabContent {
    overflow: hidden\9;
}

.EXLContainer-citationsTab .EXLDetailsTabContent {
    overflow: hidden\9;
}

.EXLContainer-requestTab .EXLIframeOvlTab {
    overflow: hidden\9;
}

.EXLContainer-onlinereviewsTab .EXLDetailsTabContent {
    overflow: hidden\9;
}

.EXLDetailsTabContent div.EXLDetailsContent {
    float: left;
    width: 58%;
    margin: 1.5em 1em 1em 1em;
    display: block;
    padding-bottom: 1em
}

.EXLDetailsTabContent div.EXLDetailsContent ul {
    list-style: none;
}

.EXLDetailsTabContent div.EXLDetailsContent li {
    margin-bottom: 0.3em
}

.EXLDetailsTabContent div.EXLDetailsContent li strong {
    margin-right: 0.5em
}

.EXLDetailsTabContent div.EXLDetailsLinks {
    float: right;
    width: 25%;
    border: 1px solid #e1e1e1;
    margin: 1em;
    background-image: url(../images/bg_strip_details_links.png);
    background-repeat: repeat-x;
    background-position: bottom;
    height: auto;
    padding: 0.5em;
    padding-bottom: 1em
}

.EXLDetailsTabContent div.EXLDetailsLinks em {
    padding-left: 0.5em
}

.EXLDetailsTabContent div.EXLDetailsLinks ul {
    height: 100%;
    padding: 0.5em 1em 1em 0.5em;
    width: 100%;
}

.EXLDetailsTabContent div.EXLDetailsLinks li {
    list-style: none;
    padding-top: 0px;
    padding-bottom: 3px;
    padding-right: 0px;
}

.EXLDetailsTabContent div.EXLDetailsLinks li span.EXLDetailsLinksBullet {
    padding: 0px;
    margin: 0px;
    background-image: url(../images/bullet_arrow_grey.png);
    background-repeat: no-repeat;
    width: 10px;
    height: 7px;
    float: left;
    display: block;
    clear: left;
    margin-top: 5px;
}

.EXLDetailsTabContent div.EXLDetailsLinks li span.EXLDetailsLinksTitle a {
    width: 90%;
    display: block;
    float: left
}

.EXLDetailsTabContent div.EXLDetailsContent ul li div.EXLLinkedFieldTitle {
    display: inline;
}

.EXLProquestCollections {
    display: none
}

.EXLProquestCollectionsHide {
    display: none
}

.EXLProquestCollectionsShowMore img {
    margin-left: 0.4em;
}

.EXLProquestCollectionsHide img {
    margin-left: 0.4em;
}

.EXLDetailsTabContent table {
    width: 100%;
    margin-bottom: 0em;
}

.EXLDetailsTabContent table table {
    width: 100%;
    margin-bottom: 0em;
}

.EXLDetailsTabContent table td {
    border: none;
    padding: 0.2em 0em 0.2em 0.8em;
    margin: 0px;
}

.EXLDetailsTabContent table th {
    text-align: left;
    padding: 0.2em 0em 0.2em 0.8em;
    border-bottom: 1px solid #e0e2e5;
}

.EXLDetailsTabContent table td.EXLTOCPageNumber {
    padding-right: 0.5em;
    font-weight: normal
}

.EXLDetailsTabContent table th.EXLTOCPageNumber {
    padding-right: 0.5em
}

.EXLDetailsTabContent table tr.EXLDetailsTableRowBgColor {
    background-color: #f3f3f7;
}

.EXLDetailsTabContent table table td {
    background-color: transparent;
}

.EXLResultsList tr:hover tr.EXLDetailsTableRowBgColor tr {
    background-color: #f3f3f7;
}

.EXLDetailsTabContent table tr:hover {
    background-color: #fffbc3;
}

.EXLDetailsTabContent table tr:hover th {
    background-color: #ffffff;
}

.EXLReviewsTagsTabContent {
    overflow: auto;
    overflow-x: hidden;
}

.EXLReviewsContentContainer {
    width: 100%;
}

.EXLReviewsTagsTabContent div.EXLReviewsContent {
    float: left;
    width: 56%;
    margin: 1em 1em 1em 1em;
    display: block;
    padding-bottom: 1em
}

.EXLReviewIcon {
    background-image: url(../images/icon_review.png);
    background-repeat: no-repeat;
    width: 15px;
    height: 16px;
    display: block;
    float: left;
    margin-right: 0.5em
}

.EXLReviewsContent cite {
    font-weight: bold;
    font-style: normal;
    margin-bottom: 0.3em;
    float: left;
    width: 83%
}

.EXLReviewsContent span.EXLReviewRating {
    float: right;
    width: 16%
}

.EXLReviewsContent q {
    font-weight: normal;
    display: block;
    clear: both
}

.EXLReviewsContent p {
    border-bottom: 1px solid #dadfe5;
    margin-bottom: 0.4em;
    padding-bottom: 0.4em
}

.EXLTagsContainer {
    float: right;
    margin: 1em 1em 1em 0em;
}

.EXLTagsContainer p {
    border-bottom: 1px solid #dadfe5;
    margin-bottom: 0.4em;
    padding-bottom: 0.4em
}

.EXLTagsContainer p span.EXLTagIcon {
    background-image: url(../images/icon_tag.png);
    background-repeat: no-repeat;
    width: 15px;
    height: 16px;
    display: block;
    float: left;
    margin-right: 0.4em
}

.EXLTagsLinks {
    float: left;
    clear: both;
    width: 200px;
    border: 1px solid #e1e1e1;
    margin: 0.5em 1em 0.5em 1em;
    background-image: url(../images/bg_strip_tags_links.png);
    background-repeat: repeat-x;
    background-position: bottom;
    height: auto;
    padding: 00em;
    padding-bottom: 1em
}

.EXLTagsLinks div span.EXLTagsLinksExpand {
    vertical-align: top;
    float: left;
    width: 20px;
}

.EXLTagsLinks div span.EXLTagsLinksExpand img {
    width: 20px;
}

.EXLTagsLinks div span.EXLTagsLinksHeader {
    padding-left: 0.2em;
    vertical-align: bottom;
    background-color: #FFFFFF;
    border-bottom: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
    width: 176px;
    display: block;
    float: right;
    height: 20px;
}

.EXLTagsLinks div span.EXLTagsLinksHeader em {
    float: left;
    padding-top: 0.1em;
    padding-left: 0.2em
}

.EXLTagsLinks div span.EXLTagsLinksHeader a {
    float: right;
    padding-right: 0.5em;
    font-size: 90%;
    padding-top: 0.2em;
}

.EXLTagsLinks ul {
    height: 100%;
    padding: 1em 1em 0em 1em;
    width: 90%;
    clear: left;
}

.EXLTagsLinks li {
    list-style: none;
    display: inline
}

.EXLTagsLinksClosed {
    padding-bottom: 0em;
}

.EXLTagsLinksClosed div span.EXLTagsLinksHeader {
    border-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    height: 22px;
}

.EXLTagsLinksClosed ul {
    display: none
}

.EXLReviewTabReviewFormContainer {
    width: 100%;
    clear: left;
    display: block;
    height: 16.5em;
    padding-top: 1em
}

.EXLReviewTabReviewForm {
    margin: 0em 0em 0em 1em
}

.EXLReviewTabFormRow {
    margin: 0em;
    float: left;
    width: 96%;
    padding-top: 0em;
    margin-left: 0.5em;
}

.EXLReviewTabFormRow select {
    border: 1px solid #7f9db9;
    height: 19px;
    width: auto;
    vertical-align: bottom;
    margin-left: 0.5em;
}

.EXLReviewTabFormRow input {
    vertical-align: middle;
}

.EXLReviewTabFormRow label {
    vertical-align: middle;
}

.EXLReviewTextArea {
    width: auto;
    margin: 0em 2em 0em 0em;
}

.EXLReviewTextArea label {
    display: none
}

.EXLReviewTextArea textarea {
    border: 1px solid #f5e1b8;
    background-color: #fff6d4;
    width: 100%;
    font-family: Arial;
    font-size: 90%;
    padding: 0.2em 0.5em 0.2em 0.2em;
    margin-top: 0.2em;
    color: #444444;
    background-image: url(../images/bg_strip_review_textArea.png);
    line-height: 200%;
    height: 8em
}

.EXLReviewFormRowLinkButtons {
    width: 100%;
    padding-left: 1.5em;
}

.EXLReviewFormButton {
    border: 1px solid #7f9db9;
    display: block;
    width: 65px;
    height: 22px;
    float: left;
    clear: both;
    margin-top: 0.9em;
    margin-right: 0.5em
}

.EXLReviewFormButtonCancel {
    clear: right;
}

.EXLReviewFormButton input {
    background-color: #e87107;
    background-image: url(../images/bg_strip_submit_temp.png);
    background-repeat: repeat-x;
    margin-left: 0em;
    width: 65px;
    color: #FFFFFF;
    font-weight: normal;
    height: 22px;
    cursor: pointer;
    border: 1px solid #ffffff;
}

.EXLReviewFormButtonCancel input {
    background-image: url(../images/bg_strip_btn_grey.png);
    background-color: #bebebe;
}

.EXLLocationListContainer {
    overflow: auto;
    overflow-x: hidden
}

.EXLLocationListContainer17 {
    height: 17em;
}

.EXLLocationListContainer13 {
    height: 13em;
}

.EXLLocationList {
    float: left;
    width: 100%;
    margin: 0em 1em 0em 0em;
    display: block;
    border-bottom: 1px solid #dadfe5;
    vertical-align: text-top;
}

.EXLLocationsDataFrame input {
    background-color: #F4762D;
    border: 1px solid #7F9DB9;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 90%;
    font-weight: normal;
    margin-left: 8px;
    text-align: center;
    width: auto;
}

.EXLLocationsDataFrame form {
    margin-bottom: 1.5em;
    padding-bottom: 0;
    padding-left: 1em;
    width: 90%;
}

.EXLLocationsDataFrame form {
    margin-bottom: 1.5em;
    padding-bottom: 0;
    padding-left: 1em;
    width: 90%;
}

.EXLLocationsDataFrame select {
    border: 1px solid #7F9DB9;
    margin-left: 2px;
    margin-right: 2px;
}

.EXLLocationsDataFrame * {
    border: medium none;
    margin: 0;
    padding: 0;
}

.EXLLocationsDataFrame fieldset {
    float: left;
    font-size: 90%;
    padding-left: 0.5em;
}

.EXLLocationsDataFrame * {
    border: medium none;
    margin: 0;
    padding: 0;
}

.EXLLocationsTitle {
    float: left;
    padding-left: 0.5em;
    padding-top: 0.3em;
    margin-top: 0em;
    vertical-align: top;
    width: 30%;
    text-align: right;
    display: block;
}

.EXLLocationsTitle img.EXLLocationsIcon {
    padding-top: 0em;
    padding-right: 0.5em;
    vertical-align: top
}

.EXLLocationInfo {
    float: right;
    width: 63%;
    padding-left: 0.5em;
    padding-top: 0.3em;
    margin-top: 0em;
    vertical-align: top;
}

.EXLLocationInfo strong {
    font-weight: normal;
    width: 30%;
    display: inline-block;
    vertical-align: top
}

.EXLLocationInfo cite {
    font-weight: normal;
    font-style: normal;
    margin-left: 1em;
    width: 30%;
    display: inline-block;
    vertical-align: top
}

.EXLLocationInfo em {
    margin-left: 1em;
    font-weight: normal;
    width: 30%;
    display: inline-block;
}

.EXLLocationsMoreInfo {
    display: block;
    clear: both;
    margin-left: 2.5em;
    margin-bottom: 0.2em
}

.EXLLocationsMoreInfo strong {
    display: block;
}

.EXLLocationsTitleIconPopout {
    background-image: url(../images/icon_popout_tab.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    padding-right: 1.5em;
    padding-left: 0.5em
}

.EXLLocationsTabContent h4 {
    float: left;
    clear: both;
    margin-left: 0.5em;
    margin-top: 0.5em;
    font-size: 100%;
    width: 100%;
    white-space: nowrap;
    color: #32322f
}

.EXLLocationsTabContent div.EXLLocationListLastItem {
    margin-bottom: 0.6em
}

.EXLLocationsTabContent div.EXLLocationList table.EXLLocationTable {
    text-align: left;
    width: 100%;
    clear: left;
}

.EXLLocationsTabContent div.EXLLocationList table.EXLLocationTable caption {
    text-align: left;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 2.4em;
    padding-right: 2em;
}

.EXLLocationsTabContent div.EXLLocationList table.EXLLocationTable th {
    padding-top: 0.2em;
    padding-bottom: 0em;
    border-bottom: 1px solid #e0e2e5;
    padding-right: 1em;
    text-align: left;
}

.EXLLocationsTabContent div.EXLLocationList table.EXLLocationTable td {
    border: none;
    padding: 0.1em 0em 0.1em 0em;
    margin: 0px;
}

.EXLLocationsTabContent div.EXLLocationList table.EXLLocationTable tr.EXLLocationTableRowBgColor {
    background-color: #f3f3f7
}

.EXLLocationsTabContent div.EXLLocationList table.EXLLocationTable li {
    display: inline;
    padding-right: 0.5em;
    white-space: nowrap
}

.EXLLocationsTabContent div.EXLLocationList table.EXLLocationTable li.EXLLocationTableFirstAction {
    display: inline;
}

.EXLLocationsTabContent div.EXLLocationList table.EXLLocationTable li.EXLLocationTableFirstAction span {
    background-image: url(../images/vseparator_sub_nav.png);
    background-repeat: no-repeat;
    width: 20px;
}

.EXLLocationsTabContent div.EXLLocationList table.EXLLocationTable .EXLLocationTableMargin {
    padding-left: 2.4em;
}

.EXLLocationsTabContent div.EXLLocationList table.EXLLocationTable .EXLLocationTableColumn0 {
    padding-left: 2.4em;
}

.EXLLocationTableHeaderDescription {
    width: auto;
}

.EXLLocationTableHeaderStatus {
    width: auto;
}

.EXLLocationTableHeaderDueDate {
    width: auto;
}

.EXLLocationTableHeaderLocation {
    width: auto;
}

.EXLLocationTableHeaderActions {
    width: auto;
    padding-left: 0.3em
}

.EXLLocationsTabContent div.EXLLocationViewAllLink {
    background-color: #e3f3ff;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.EXLLocationsTabContent div.EXLLocationViewAllLink span {
    background-color: #ffffff;
    border: 1px solid #aebac4;
    height: 20px;
}

.EXLLocationsTabContent div.EXLLocationViewAllLink span a {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
}

.EXLLocationsTabContent div.EXLLocationViewAllLink span a:hover {
    text-decoration: none;
    color: #e87107;
}

.EXLLocationsTitle span.EXLLocationsTitleContainer {
    text-align: left;
    float: right;
    width: 88%;
}

.EXLLocationsTitle a.EXLLocationsTitleLink {
    text-align: left;
    float: none;
    width: auto;
}

.EXLLocationsTitle a.EXLLocationsIcon {
    text-align: left;
    float: left;
    width: 1em;
    margin-right: 0em;
}

.EXLLocationsTitle a.EXLLocationsIcon img {
    padding-top: 0em;
    padding-right: 0em;
    vertical-align: top;
}

.EXLLocationsTitleIconPopout {
    background-image: url(../images/icon_popout_tab.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    padding-right: 1.5em;
    padding-left: 0em
}

.EXLLocationsTabSummaryHoldings {
    background-color: #FFFACD;
    border: 1px solid #FFE4B5;
    margin-right: 30px;
}

.EXLLocationsTabSummaryHoldingsContent {
    padding: 5px 10px 5px 10px;
}

.EXLLocationsTabSummaryHoldingsContentLine {
    border-bottom: 0px solid white;
    overflow: hidden;
    white-space: nowrap;
    width: 750px;
}

.EXLLocationsTabSummaryHoldingsContentLineFirstLineFirstCol {
    font-weight: bold;
    float: left;
}

.EXLLocationsTabSummaryHoldingsContentLineFirstLineSecondCol {
    padding-left: 5px;
    float: left;
}

.EXLLocationsTabSummaryHoldingsContentLineMoreLine {
    padding-bottom: 3px;
    padding-top: 3px;
}

table.EXLLocationsTabSummaryHoldingsMoreLightBox tr {
    font-size: 80%;
    color: #5c5c5a;
}

table.EXLLocationsTabSummaryHoldingsMoreLightBox tr:nth-child(even) {
    background-color: #EBECE4;
}

table.EXLLocationsTabSummaryHoldingsMoreLightBox tr:nth-child(odd) {
    background-color: #fff;
}

.EXLLocationsTabSummaryHoldingsMoreLightBoxContainerWhiteFrameBorder {
    border: 15px solid #ECF1EF;
    background-color: white
}

.EXLLocationsTabSummaryHoldingsMoreLightBoxContainerGreyFrameBorder {
    border: 1px solid #C1CDCD
}

.EXLLocationsTabSummaryHoldingsMoreLightBoxContainerOrangeBar {
    width: 100%;
    border-bottom: 2px solid orange;
    overflow: hidden;
}

.EXLLocationsTabSummaryHoldingsMoreLightBoxContainerCloseImage {
    float: right;
    padding-right: 5px;
    padding-top: 5px;
}

.EXLLocationsTabSummaryHoldingsMoreLightBoxContainerHeaderSpan {
    padding: 5px;
    font-weight: bold;
    font-size: smaller;
}

.EXLLocationsTabSummaryHoldingsMoreLightBoxContainerHeaderLeftDiv {
    float: left;
    width: 80%;
    height: 23px;
    padding-top: 7px;
    padding-left: 10px;
}

.EXLLocationsTabSummaryHoldingsMoreLightBoxContainerHeaderRightDiv {
    float: right;
    width: 10%;
}

.EXLLocationsTabSummaryHoldingsMoreLightBoxContainerDataLabel {
    white-space: nowrap;
    padding-left: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.EXLLocationsTabSummaryHoldingsMoreLightBoxContainerValue {
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.dataFrame input {
    background-color: #F4762D;
    border: 1px solid #7F9DB9;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 90%;
    font-weight: normal;
    margin-left: 2px;
    text-align: center;
    width: auto;
}

.EXLLocationTableActions {
    vertical-align: top;
    padding: 0em;
    width: 15em;
}

.EXLLocationTableActions span.EXLLocationTableActionsLabel {
    display: none
}

.EXLLocationTableActions div.EXLLocationTableActionsMenu {}

.EXLLocationTableActions ul {}

.EXLLocationTableActions li {
    padding: 0em 0em 0em 0.5em;
    background-image: url(../images/vseparator_actions_nav.png);
    background-repeat: no-repeat;
    background-position: right;
    float: left
}

.EXLLocationTableActions li.EXLLocationTableActionsLastItem {
    background-image: none
}

.EXLRecommendationsTabContent {
    overflow: auto;
    overflow-x: hidden;
}

.EXLMoreTabContent {
    overflow: auto;
    overflow-x: hidden;
}
