#exlidHeaderContainer {
    @include reset-margins;
    @include outer-container;
    @include clearfix;
    margin-bottom: $section-spacing;
}

#exlidHeaderTile {
    @include reset-margins;
    display: none;
}

@include media($mobile) {

	#exlidHeaderContainer div.EXLSkipToContent {
        display: none;
  }
  #exlidHeaderContainer div.EXLSkipToSystemFeedback {
      display: none;
  }

}

#exlidUserAreaTile {
    @include reset-margins;
    float: right;
}

#exlidUserAreaTile ul {
    @include reset-margins;
    border: none
}
