#exlidHeaderContainer {
    @include reset-margins;
    @include outer-container;
    @include clearfix;
    margin-bottom: $section-spacing;
}

#exlidHeaderTile {
    width: 18%;
    float: left;
    padding-left: 0.8em;
    padding-top: 0.8em;
    padding-bottom: 0.3em;
}

@include media($mobile) {

	#exlidHeaderContainer div.EXLSkipToContent {
        display: none;
  }
  #exlidHeaderContainer div.EXLSkipToSystemFeedback {
      display: none;
  }

}
