$mobile-menu-bg-color: $gold;
$mobile-menu-font-size: 16px;
$mobile-menu-link-color: $white;
$mobile-menu-separator-color: $gray-light;
$mobile-menu-text-shadow: none;
$mobile-menu-container-shadow: inset 5px 0px 5px -5px rgba($black, 0.75);

$mobile-menu-width: 270px;
$mobile-larger-menu-width: 310px;


.responsive-container, .scroller {
  height: 100%;
}

#responsive-menu {
  @include prefixer(box-shadow, $mobile-menu-container-shadow, webkit moz spec);

  &:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include prefixer(box-shadow, inset 5px 0px 10px -5px rgba(darken($gold, 15%), 0.75), webkit moz spec);
    z-index: 9000;
    pointer-events: none;
  }
}

.scroller {
  overflow-y: scroll;
}

.scroller,
.scroller-inner {
  position: relative;
}

.responsive-container {
  position: relative;
  overflow: hidden;
}

.menu-trigger {
  position: relative;
  padding-left: 60px;
  font-size: 0.9em;
}

.menu-trigger:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 40px;
  height: 6px;
  background: #fff;
  box-shadow: 0 6px #333, 0 12px #fff, 0 18px #333, 0 24px #fff;
}

.navi-pusher {
  position: relative;
  left: 0;
  height: 100%;
  perspective: 1000px;
}

.navi-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: $mobile-larger-menu-width;
  height: 100%;
  -webkit-transform: translate3d(+100%, 0, 0);
  transform: translate3d(+100%, 0, 0);
  overflow-x: hidden;
}

@include media(new-breakpoint(max-width 359px)) {
  .navi-menu  {
    width: $mobile-menu-width;
  }
}

.navi-level {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $mobile-menu-bg-color;
  -webkit-transform: translate3d(+100%, 0, 0);
  transform: translate3d(+100%, 0, 0);
}

/* overlays for pusher and for level that gets covered */
.navi-pusher::after,
.navi-level::after,
.navi-level::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

.navi-pusher::after,
.navi-level::after {
  background: rgba(0, 0, 0, 0); // darkens
  -webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
  transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
}

.navi-level::after {
  z-index: -1;
}

.navi-pusher.navi-pushed::after,
.navi-level.navi-level-overlay::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.navi-level.navi-level-overlay {
  cursor: pointer;
}

.navi-level.navi-level-overlay.navi-level::before {
  width: 100%;
  height: 100%;
  background: transparent;
  opacity: 1;
}

.navi-pusher,
.navi-level {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

/* overlap */
.navi-overlap .navi-level.navi-level-open {
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate3d(+40px, 0, 0);
  transform: translate3d(+40px, 0, 0);
  @include prefixer(box-shadow, -5px 0px 10px -5px rgba($black, 0.75), webkit moz spec);
}

/* First level */
.navi-menu > .navi-level,
.navi-menu > .navi-level.navi-level-open,
.navi-menu.navi-overlap > .navi-level,
.navi-menu.navi-overlap > .navi-level.navi-level-open {
  box-shadow: none;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* cover */
.navi-cover .navi-level.navi-level-open {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  @include prefixer(box-shadow, 0px 0px 20px 0px rgba($black-secondary, 0.8), webkit moz spec);
  overflow-x: hidden;
  overflow-y: scroll;
}

.navi-cover .navi-level.navi-level-open > ul > li > .navi-level:not(.navi-level-open) {
  -webkit-transform: translate3d(+100%, 0, 0);
  transform: translate3d(+100%, 0, 0);
  overflow-x: hidden;
  overflow-y: visible;
}

.navi-level-overlay .user-menu-area {
  opacity: .5;
  @include transition(opacity .3s);
}

/* content style */

.navi-menu ul {
  margin: 0;
  padding: 0;

  li,
  li.leaf {
    @include reset-margins;
    list-style: none;
  }

  li.expanded > a {
    @include glyphicon($icon-chevron-right, 'after');

    &:after {
      font-size: 10px;
      padding: 4px 10px;
      opacity: .5;
      float: right;
    }
  }
}

.navi-menu h2 {
  margin: 0;
  color: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  font-size: $h4-fontsize;
  color: $mobile-menu-link-color;
  letter-spacing: 2px;
  font-weight: 100;
  height: 50px;
  line-height: 1;
  padding: 18px 30px;
}

.navi-menu.navi-overlap h2::before {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 8px;
  font-size: 75%;
  line-height: 1.8;
  opacity: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.1s 0.3s;
  transition: opacity 0.3s, transform 0.1s 0.3s;
}

.navi-menu.navi-cover h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1em;
}

.navi-overlap .navi-level.navi-level-overlay > h2::before {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

.navi-menu ul li > a,
.navi-menu ul li > span.nolink,
.navi-menu ul li > span.EXLUserNameDisplay {
  display: block;
  padding: 0.7em 1em 0.7em 1.8em;
  outline: none;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
  font-size: $mobile-menu-font-size;
  color: $mobile-menu-link-color;
  font-weight: normal;
  -webkit-transition: background 0.3s, box-shadow 0.3s;
  transition: background 0.3s, box-shadow 0.3s;
}

.navi-menu ul li > span.nolink {
  font-size: ($mobile-menu-font-size - 4px);
  font-weight: bold;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.1);
  letter-spacing: 1px;
  color: rgba($white, .5);
  padding: 0.7em 1em 0.7em 2.4em;
}

#responsive-menu .user-menu-area {
  ul.menu li > a,
  ul.menu li.user-menu-proxy-container > span {
    padding: 0.7em 1em 0.7em 2.2em;
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.05);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
    font-size: ($mobile-menu-font-size - 2px);
    color: $mobile-menu-link-color;
    font-weight: normal;
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
  }
  ul.menu li.user-menu-proxy-container > span {
    display: none;
  }
}

.navi-menu ul li::before {
  position: absolute;
  left: 10px;
  z-index: -1;
  color: rgba(0, 0, 0, 0.2);
  line-height: 3.5;
}

.navi-level > ul > li:first-child > a {
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.2);
}

.navi-menu ul li a:hover,
.navi-level > ul > li:first-child > a:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
}

.navi-menu .navi-level.navi-level-overlay > ul > li > a,
.navi-level.navi-level-overlay > ul > li:first-child > a {
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
}

.navi-level > ul > li:first-child > a:hover,
.navi-level.navi-level-overlay > ul > li:first-child > a {
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0), inset 0 1px rgba(0, 0, 0, 0);
}

/* seems like Chrome 34.0.1847.131 needs the second shadow otherwise the transition breaks */

a.navi-back {
  position: relative;
  display: block;
  padding: 1em;
  outline: none;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.1);
  color: $mobile-menu-link-color;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 12px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  @include glyphicon($icon-chevron-left);

  &:link,
  &:visited {
    color: $mobile-menu-link-color;
  }

  &:hover,
  &:active {
    color: $mobile-menu-link-color;
  }

  &:before {
    font-size: 12px;
    margin-right: 4px;
  }
}

.navi-menu .navi-level.navi-level-overlay > .navi-back,
.navi-menu .navi-level.navi-level-overlay > .navi-back::before,
.navi-menu .navi-level.navi-level-overlay > .navi-back::after {
  background: transparent;
  box-shadow: none;
  color: transparent;
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
/* We'll show the first level only */
.no-csstransforms3d .navi-pusher,
.no-js .navi-pusher {
  padding-left: $mobile-menu-width;
}

.no-csstransforms3d .navi-menu .navi-level,
.no-js .navi-menu .navi-level {
  display: none;
}

.no-csstransforms3d .navi-menu > .navi-level,
.no-js .navi-menu > .navi-level {
  display: block;
}

/* z-index orders */
.navi-level {
  z-index: 1;

  .navi-level {
    z-index: 2;

    .navi-level {
      z-index: 3;

      .navi-level {
        z-index: 4;
      }
    }
  }
}

@include media(new-breakpoint(max-width 1100px)) {
  #block-menu-block-1 {
    // The nav items
    .content > .menu-block-wrapper > ul.menu > li {
      margin-right: 72px;
    }
  }
}

@include media(new-breakpoint(max-width 1050px)) {
  #block-menu-block-1 {
    // The nav items
    .content > .menu-block-wrapper > ul.menu > li {
      margin-right: 45px;
    }
  }
}

.i18n-en .language-choice.en {
  display: none;
}

.i18n-ko .language-choice.ko {
  display: none;
}
